@let tests = state.filteredTests$ | async;
@let filter = state.filter$ | async;
@let expanded = state.expandedHeader$ | async;

<tr class="header-collapsible">
  <th class="desktop sticky" colspan="3">
    <bkd-test-table-filter
      [filter]="filter"
      (filterChange)="state.setFilter($event)"
    ></bkd-test-table-filter>
  </th>
  @for (test of tests; track test.Id) {
    <th
      container="body"
      class="test-grade grade test-info-desktop"
      [ngClass]="test.Id === selectedTest?.Id ? 'selected' : ''"
    >
      <bkd-test-table-header
        [test]="test"
        [expanded]="expanded"
        (toggleHeader)="state.toggleHeader($event)"
        (publish)="publish.emit($event)"
        (unpublish)="unpublish.emit($event)"
      ></bkd-test-table-header>
    </th>
  }
  @for (test of tests; track test.Id) {
    <th
      container="body"
      class="test-grade header-mobile test-info-mobile"
      colspan="3"
      [ngClass]="test.Id === selectedTest?.Id ? 'selected' : ''"
    >
      <bkd-test-table-header
        [test]="test"
        [expanded]="expanded"
        (toggleHeader)="state.toggleHeader($event)"
        (publish)="publish.emit($event)"
        (unpublish)="unpublish.emit($event)"
      ></bkd-test-table-header>
    </th>
  }
  <th class="filler"></th>
</tr>
<tr [ngClass]="{ 'test-point-grading': selectedTest?.IsPointGrading }">
  <th class="sticky student-name">
    <bkd-sortable-header
      [label]="'tests.student.name' | translate"
      [sortKey]="'FullName'"
      [(sortCriteria)]="state.sortCriteria"
    >
    </bkd-sortable-header>
  </th>
  <th
    class="sticky student-grade desktop"
    [ngClass]="{ selected: selectedTest === undefined }"
  >
    <bkd-sortable-header
      [label]="'tests.grade' | translate"
      [sortKey]="'FinalGrade'"
      [(sortCriteria)]="state.sortCriteria"
    >
    </bkd-sortable-header>
  </th>

  <th class="border-end sticky student-average desktop">
    <bkd-sortable-header
      [label]="'tests.mean' | translate"
      [sortKey]="'TestsMean'"
      [(sortCriteria)]="state.sortCriteria"
    >
    </bkd-sortable-header>
  </th>
  @for (test of tests; track test.Id) {
    <th
      container="body"
      class="test-grade"
      [ngClass]="test.Id === selectedTest?.Id ? 'selected' : ''"
    >
      <div class="d-flex">
        @if (test.IsPointGrading) {
          <div class="point-column-title me-2 me-md-3">
            {{ "tests.points" | translate }}
          </div>
        }
        <bkd-sortable-header
          [label]="'tests.grade' | translate"
          [sortKey]="'Test-' + test.Id"
          [(sortCriteria)]="state.sortCriteria"
        >
        </bkd-sortable-header>
      </div>
    </th>
  }
  <th class="filler"></th>
</tr>
