<div
  class="erz-container erz-container-padding-y erz-container-padding-x-responsive"
  *erzLet="{ courses: state.courses$ | async } as data"
>
  <p>
    <a [routerLink]="['9248', 'tests']">Kurs mit ID 9248 - enthält Tests</a>
  </p>
  <p><a [routerLink]="['9457', 'tests']">Kurs mit ID 9457 - ohne Tests</a></p>

  <ng-container *ngIf="(state.loading$ | async) === false; else loading">
    <ng-container *ngIf="data.courses?.length > 0; else noCourses">
      <div class="course-header">
        <div class="designation">{{ 'courses.designation' | translate }}</div>
        <div class="date">{{ 'courses.date' | translate }}</div>
        <div class="registrations">
          {{ 'courses.registrations' | translate }}
        </div>
        <div class="rating">{{ 'courses.rating' | translate }}</div>
      </div>
      <div class="course-entry" *ngFor="let course of data.courses">
        <div class="designation">
          <a href=""
            >{{ course.Designation
            }}<span *ngFor="let class of course.Classes"
              >, {{ class.Designation }}</span
            ></a
          >
        </div>
        <div class="date">
          {{ course.DateFrom | date: 'MM.dd.yyyy' }} -
          {{ course.DateTo | date: 'MM.dd.yyyy' }}
        </div>
        <div class="registrations">{{ course.AttendanceRef.StudentCount }}</div>
        <div class="rating">
          <a class="d-flex" [routerLink]="[course.Id, 'tests']">
            <i class="material-icons">arrow_right_alt</i>
            <span class="pl-2">{{ course.Id }}</span>
          </a>
        </div>
      </div>
    </ng-container>

    <ng-template #noCourses>
      <p>{{ 'courses.no-courses' | translate }}</p>
    </ng-template>
  </ng-container>

  <ng-template #loading>
    <erz-spinner></erz-spinner>
  </ng-template>
</div>
