<div class="header">
  <button type="button" class="btn btn-primary today" (click)="gotoToday()">
    {{ "dashboard.timetable.today" | translate }}
  </button>
  <button
    type="button"
    [attr.aria-label]="'dashboard.timetable.previousDay' | translate"
    class="btn btn-secondary previous-day"
    (click)="gotoPreviousDay()"
  >
    <span class="material-icons">chevron_left</span>
  </button>
  <button
    type="button"
    [attr.aria-label]="'dashboard.timetable.nextDay' | translate"
    class="btn btn-secondary next-day"
    (click)="gotoNextDay()"
  >
    <span class="material-icons">chevron_right</span>
  </button>
  <div class="date">{{ date$ | async | date: "E, dd. MMMM yyyy" }}</div>
  @if (getSubscribeCalendarUrl() | async; as url) {
    <a
      [href]="url | safe: 'url'"
      target="_parent"
      class="btn btn-secondary subscribe-calendar-header"
    >
      {{ "dashboard.timetable.subscribe-calendar" | translate }}
    </a>
  }
</div>

@let entries = timetableEntries$ | async;
@if (loading$ | async) {
  <bkd-spinner></bkd-spinner>
} @else {
  <bkd-dashboard-timetable-table
    [entries]="entries"
  ></bkd-dashboard-timetable-table>
  @if (getSubscribeCalendarUrl() | async; as url) {
    <a
      [href]="url | safe: 'url'"
      target="_parent"
      class="btn btn-secondary subscribe-calendar-bottom"
    >
      {{ "dashboard.timetable.subscribe-calendar" | translate }}
    </a>
  }
}
