<div class="header">
  <button type="button" class="btn btn-primary today" (click)="gotoToday()">
    {{ 'dashboard.timetable.today' | translate }}
  </button>
  <button
    type="button"
    [attr.aria-label]="'dashboard.timetable.previousDay' | translate"
    class="btn btn-secondary previous-day"
    (click)="gotoPreviousDay()"
  >
    <span class="material-icons">chevron_left</span>
  </button>
  <button
    type="button"
    [attr.aria-label]="'dashboard.timetable.nextDay' | translate"
    class="btn btn-secondary next-day"
    (click)="gotoNextDay()"
  >
    <span class="material-icons">chevron_right</span>
  </button>
  <div class="date">{{ date$ | async | date: 'E, dd. MMMM yyyy' }}</div>
  <a
    *ngIf="getSubscribeCalendarUrl() | async as url"
    [href]="url | safe: 'url'"
    target="_parent"
    class="btn btn-secondary subscribe-calendar-header"
  >
    {{ 'dashboard.timetable.subscribe-calendar' | translate }}
  </a>
</div>

<ng-container *erzLet="timetableEntries$ | async as entries">
  <ng-container *ngIf="(loading$ | async) === false; else loading">
    <erz-dashboard-timetable-table
      [entries]="entries"
    ></erz-dashboard-timetable-table>

    <a
      *ngIf="getSubscribeCalendarUrl() | async as url"
      [href]="url | safe: 'url'"
      target="_parent"
      class="btn btn-secondary subscribe-calendar-bottom"
    >
      {{ 'dashboard.timetable.subscribe-calendar' | translate }}
    </a>
  </ng-container>
</ng-container>

<ng-template #loading>
  <erz-spinner></erz-spinner>
</ng-template>
