@import "src/bootstrap-variables";

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  overflow-x: auto;
  overflow-y: hidden;
}

.chart-container {
  font-family: sans-serif;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  display: block;
  height: 100%;
}

.axis {
  stroke: $gray-700;
  stroke-width: 1;
}

.bar-sufficient {
  fill: $green;
}

.bar-insufficient {
  fill: $red;
}

.bar-label {
  font-weight: bold;
}

.no-data-message {
  text-align: center;
  padding: 20px;
}
