<div class="chart-container">
  <svg [attr.viewBox]="viewBox()">
    <g
      [attr.transform]="
        'translate(' + chartMargin().left + ',' + chartMargin().top + ')'
      "
    >
      <line
        x1="0"
        y1="0"
        x2="0"
        [attr.y2]="chartInnerHeight()"
        class="axis"
      ></line>
      <line
        x1="0"
        [attr.y1]="chartInnerHeight()"
        [attr.x2]="chartInnerWidth()"
        [attr.y2]="chartInnerHeight()"
        class="axis"
      ></line>

      @for (bar of bars(); track bar.value) {
        <rect
          [attr.x]="bar.x"
          [attr.y]="bar.y"
          [attr.width]="bar.width"
          [attr.height]="bar.height"
          [attr.class]="bar.colorClass"
        ></rect>
      }

      @for (barLabel of barLabels(); track barLabel.text + "-" + barLabel.x) {
        <text
          [attr.x]="barLabel.x"
          [attr.y]="barLabel.y"
          text-anchor="middle"
          class="bar-count-label"
        >
          {{ barLabel.text }}
        </text>
      }

      @for (label of xLabels(); track label.text) {
        <text
          [attr.x]="label.x"
          [attr.y]="chartInnerHeight() + 5"
          [attr.transform]="label.transform"
          [attr.text-anchor]="label.textAnchor"
          class="axis-label x-label"
        >
          {{ label.text }}
        </text>
      }

      <text
        class="axis-title x-axis-title"
        [attr.x]="chartInnerWidth() / 2"
        [attr.y]="chartInnerHeight() + chartMargin().bottom - 10"
        text-anchor="middle"
      >
        Note
      </text>

      <text
        class="axis-title y-axis-title"
        [attr.transform]="'rotate(-90)'"
        [attr.x]="-(chartInnerHeight() / 2)"
        [attr.y]="-chartMargin().left + 10"
        text-anchor="middle"
      >
        Anzahl
      </text>
    </g>
  </svg>
</div>
