@import "../../../../bootstrap-variables";

/* autoprefixer grid: on */

.absence-all {
  padding: 0 0 (0.5 * $spacer) $spacer;
  border-bottom: 1px solid $gray-200;
  display: grid;
  grid-template-areas:
    "checkbox all buttons"
    "validation validation validation";
  grid-template-columns: min-content 1fr min-content;
}

// IE11 workaround for `align-items: center`
.absence-all > * {
  align-self: center;
}

.absence-entry {
  padding: $spacer;
  border-bottom: 1px solid $gray-200;
  display: grid;
  grid-template-areas:
    "checkbox lesson-class time teacher"
    "checkbox presence-type date days-ago";
  grid-template-columns: min-content 3fr 1fr 1fr;
}

.absence-entry:first-child {
  padding-top: 0;
}
.absence-all + .absence-entry {
  padding-top: $spacer;
}

.checkbox {
  grid-area: checkbox;
  margin: 0;
  padding: 0.6rem $spacer/2 0 0;
}
.absence-all .checkbox {
  padding-top: 0.2rem;
}

.checkbox input.form-check-input {
  // Make the following statements !important since the are
  // overwritten in Evento as such
  position: static !important;
  margin: 0 !important;
  display: block;
}

.all {
  grid-area: all;
}

.buttons {
  grid-area: buttons;
  display: flex;

  .btn {
    line-height: 1;
    font-size: $erz-icon-size;
  }
}

.validation {
  grid-area: validation;
}
.validation,
.presence-type.confirm {
  color: $form-feedback-invalid-color;
}

.lesson-class {
  grid-area: lesson-class;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.time {
  grid-area: time;
}

.teacher {
  grid-area: teacher;
}

.presence-type {
  color: $gray-500;
  grid-area: presence-type;
}

.date {
  grid-area: date;
}

.days-ago {
  color: $gray-500;
  grid-area: days-ago;
}

.date-days-ago {
  grid-area: date-days-ago;
  display: none;
}

@media (max-width: 750px) {
  .absence-entry {
    grid-template-areas:
      "checkbox lesson-class"
      "checkbox teacher"
      "checkbox date-days-ago"
      "checkbox time"
      "checkbox presence-type";
    grid-template-columns: min-content 1fr;
  }

  .date-days-ago {
    display: block;
  }

  .date,
  .days-ago {
    display: none;
  }
}
