<ng-container *ngIf="!(loading$ | async); else loading">
  <ng-container *ngIf="(lessonPresences$ | async)?.length > 0; else noAbsences">
    <div
      *ngIf="editable$ | async"
      class="absence-all"
      (click)="onRowClick($event, allCheckbox)"
    >
      <div class="checkbox">
        <input
          #allCheckbox
          type="checkbox"
          class="form-check-input"
          [checked]="allSelected$ | async"
          (change)="toggleAll($event.target.checked)"
        />
      </div>
      <div class="all">{{ 'open-absences.detail.all' | translate }}</div>

      <div class="buttons">
        <a
          class="edit btn btn-primary mr-2"
          [class.disabled]="(selectionService.selection$ | async).length === 0"
          routerLink="{{ confirmLink }}"
        >
          <i class="material-icons">edit</i>
        </a>
        <a
          *ngIf="reportAvailable"
          class="report btn btn-primary mr-2"
          [class.disabled]="!reportUrl"
          [href]="reportUrl"
          target="_blank"
        >
          <i class="material-icons">description</i>
        </a>
        <a
          *ngIf="displayEmail"
          class="mail btn btn-primary mr-2"
          href="mailto:{{ mailTo$ | async }}"
          target="_blank"
        >
          <i class="material-icons">mail</i>
        </a>
      </div>

      <div
        *ngIf="
          defaultAbsenceSelectionMessage &&
          (selectionService.selectedWithoutPresenceType$ | async)?.length > 0
        "
        class="validation"
      >
        {{ defaultAbsenceSelectionMessage }}
      </div>
    </div>

    <div
      class="absence-entry"
      *ngFor="let absence of lessonPresences$ | async; index as i"
      (click)="onRowClick($event, i)"
    >
      <div *ngIf="editable$ | async" class="checkbox">
        <input
          #checkbox
          type="checkbox"
          class="form-check-input"
          [checked]="selectionService.isSelected$(absence) | async"
          (change)="selectionService.toggle(absence)"
        />
      </div>
      <div class="lesson-class">
        {{ absence.EventDesignation
        }}<ng-container *ngIf="absence.StudyClassNumber"
          >, {{ absence.StudyClassNumber }}</ng-container
        >
      </div>
      <div class="time pr-2">
        {{ absence.LessonDateTimeFrom | date: 'HH:mm' }}–{{
          absence.LessonDateTimeTo | date: 'HH:mm'
        }}
      </div>
      <div class="teacher">
        {{ absence.TeacherInformation }}
      </div>
      <ng-container
        *erzLet="
          getPresenceTypeDesignation(absence) | async as presenceTypeDesignation
        "
      >
        <div *ngIf="presenceTypeDesignation" class="presence-type">
          {{ presenceTypeDesignation }}
        </div>
        <div
          *ngIf="
            displayPresenceType &&
            !presenceTypeDesignation &&
            defaultAbsenceSelectionMessage
          "
          class="presence-type confirm"
        >
          {{ 'my-absences.show.confirm-presence-type' | translate }}
        </div>
      </ng-container>
      <div class="date">
        {{ absence.LessonDateTimeFrom | date: 'dd.MM.yyyy' }}
      </div>
      <div class="days-ago">
        {{ absence.LessonDateTimeFrom | erzDaysDifference }}
      </div>
      <div class="date-days-ago">
        {{ absence.LessonDateTimeFrom | date: 'dd.MM.yyyy' }},
        {{ absence.LessonDateTimeFrom | erzDaysDifference }}
      </div>
    </div>
  </ng-container>

  <ng-template #noAbsences>
    <p class="mx-3">{{ 'shared.profile.no-absences' | translate }}</p>
  </ng-template>
</ng-container>

<ng-template #loading>
  <erz-spinner class="inline d-block mb-3"></erz-spinner>
</ng-template>
