<ng-container *ngIf="state.selectedLesson$ | async as lesson; else noLessons">
  <erz-presence-control-header
    [lesson]="lesson"
    [hasPreviousLesson]="!(state.isFirstLesson$ | async)"
    [hasNextLesson]="!(state.isLastLesson$ | async)"
    [presencesCount]="14"
    [absencesCount]="1"
    [delaysCount]="0"
    (previousLesson)="state.previousLesson()"
    (nextLesson)="state.nextLesson()"
    (search)="search$.next($event)"
  ></erz-presence-control-header>

  <ng-container *ngIf="presenceControlEntries$ | async as entries">
    <ul *ngIf="entries.length > 0; else noLessonPresences">
      <li *ngFor="let entry of entries">
        <span class="student-name">{{
          entry.lessonPresence.StudentFullName
        }}</span>
        {{ entry.presenceCategory }}
        <a
          [routerLink]="[
            '/presence-control/detail',
            entry.lessonPresence.StudentRef.Id
          ]"
          routerLinkActive="active"
        >
          Detail
        </a>
        <a
          [routerLink]="[
            '/presence-control/comment',
            entry.lessonPresence.StudentRef.Id
          ]"
          routerLinkActive="active"
        >
          Kommentar
        </a>
      </li>
    </ul>

    <ng-template #noLessonPresences>
      <p>{{ 'presence-control.no-lesson-presences' | translate }}</p>
    </ng-template>
  </ng-container>
</ng-container>

<ng-template #noLessons>
  <p>{{ 'presence-control.no-lessons' | translate }}</p>
</ng-template>
