<h2>Präsenzliste</h2>
<erz-presence-control-header
  *ngIf="lesson$ | async as lesson"
  [lesson]="lesson"
></erz-presence-control-header>

<ul>
  <li *ngFor="let lessonPresence of lessonPresences$ | async">
    {{ lessonPresence.StudentFullName }}
    <a
      [routerLink]="['/presence-control/detail', lessonPresence.StudentRef.Id]"
      routerLinkActive="active"
      >Detail
    </a>
    <a
      [routerLink]="['/presence-control/comment', lessonPresence.StudentRef.Id]"
      routerLinkActive="active"
      >Kommentar</a
    >
  </li>
</ul>
