<div
  class="erz-container erz-container-limited erz-container-padding-y erz-container-padding-x-responsive"
>
  <ng-container
    *erzLet="{
      profile: state.profile$ | async,
      currentDossierSection: state.currentDossier$ | async,
      reportUrl: dossierGradesService.testReportUrl$ | async
    } as data"
  >
    <ng-container *ngIf="(state.loading$ | async) === false; else loading">
      <div class="d-flex w-100 justify-content-between">
        <erz-student-backlink
          class="mb-2"
          [link]="'../..'"
          [queryParams]="state.backlinkQueryParams$ | async"
          [studentId]="state.studentId$ | async"
          [student]="data.profile && data.profile.student"
        ></erz-student-backlink>
        <!---->
        <div class="me-3">
          <a
            *ngIf="data.currentDossierSection === 'grades'"
            class="edit btn btn-primary ms-2"
            target="_blank"
            [href]="data.reportUrl"
          >
            <i class="material-icons">description</i>
          </a>
        </div>
      </div>
      <div class="d-flex flex-row p-3 flex-wrap">
        <a
          [queryParams]="{ returnparams: state.returnParams$ | async }"
          [routerLink]="[section]"
          class="me-1 mt-1 me-sm-2"
          *ngFor="let section of ['addresses', 'absences', 'grades']"
        >
          <button
            data-test-id="dossier-section-button"
            type="button"
            class="btn btn-outline-primary"
            routerLinkActive="btn-primary"
            #rla="routerLinkActive"
            [class.btn-outline-primary]="!rla.isActive"
          >
            {{ 'dossier.' + section | translate }}
          </button>
        </a>
      </div>
      <div *ngIf="data.profile; else noProfile">
        <router-outlet></router-outlet>
      </div>

      <ng-template #noProfile>
        <p>{{ 'shared.profile.no-profile' | translate }}</p>
      </ng-template>
    </ng-container>

    <ng-template #loading>
      <erz-spinner></erz-spinner>
    </ng-template>
  </ng-container>
</div>
