<div class="bkd-container bkd-container-limited">
  <ng-container
    *bkdLet="{
      profile: state.profile$ | async,
      currentDossierSection: state.currentDossier$ | async,
      reports: dossierGradesService.testReports$ | async
    } as data"
  >
    <ng-container *ngIf="(state.loading$ | async) === false; else loading">
      <bkd-student-backlink
        class="mb-2"
        [link]="'../..'"
        [queryParams]="state.backlinkQueryParams$ | async"
        [studentId]="state.studentId$ | async"
        [student]="data.profile && data.profile.student"
      >
        <bkd-reports-link
          *ngIf="data.currentDossierSection === 'grades'"
          [reports]="data.reports ?? []"
          class="ms-2"
        ></bkd-reports-link>
      </bkd-student-backlink>
      <div class="d-flex flex-row py-3 flex-wrap">
        <a
          [queryParams]="{ returnparams: state.returnParams$ | async }"
          [routerLink]="[section]"
          class="me-1 mt-1 me-sm-2"
          *ngFor="let section of ['addresses', 'absences', 'grades']"
        >
          <button
            data-test-id="dossier-section-button"
            type="button"
            class="btn btn-outline-secondary"
            routerLinkActive="btn-primary"
            #rla="routerLinkActive"
            [class.btn-outline-secondary]="!rla.isActive"
          >
            {{ "dossier." + section | translate }}
          </button>
        </a>
      </div>
      <div *ngIf="data.profile; else noProfile">
        <router-outlet></router-outlet>
      </div>

      <ng-template #noProfile>
        <p>{{ "shared.profile.no-profile" | translate }}</p>
      </ng-template>
    </ng-container>

    <ng-template #loading>
      <bkd-spinner></bkd-spinner>
    </ng-template>
  </ng-container>
</div>
