<div class="d-flex flex-column">
  <bkd-backlink class="mb-2" [link]="'../..'" [params]="backlinkQueryParams()">
    @if (dossierPage() === "grades") {
      <bkd-reports-link [reports]="reports()" class="ms-2"></bkd-reports-link>
    }
  </bkd-backlink>
  <div class="d-flex justify-content-center dossier-content">
    @if (loading()) {
      <bkd-spinner></bkd-spinner>
    } @else {
      <bkd-student-dossier-navigation
        [studentId]="studentId()"
        [student]="profile()?.student"
        [returnParams]="returnParams()"
      ></bkd-student-dossier-navigation>
      <div class="flex-fill d-flex flex-column" role="tabpanel">
        <h1>{{ "dossier." + dossierPage() | translate }}</h1>
        @if (profile()) {
          <router-outlet></router-outlet>
        } @else {
          <p>{{ "shared.profile.no-profile" | translate }}</p>
        }
      </div>
    }
  </div>
</div>
