@import "../../../../bootstrap-variables";

.dossier-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $spacer;
  cursor: pointer;
  color: $body-color;
  border-bottom: 1px solid $border-color;
}

.btn {
  color: $body-color;
  text-decoration: none;
}
