@import "../../../../../bootstrap-variables";

#drop-zone {
  border: 2px dashed $gray-500;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5 * $spacer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $zindex-modal;
  background: rgba($gray, 0.9);
}

.dragging #drop-zone {
  display: flex;
}
