<h1>Kitchensink</h1>

<h2>Subscription Detail Fields: With Labels</h2>
<div class="subscription-details with-border">
  <div class="subscription-details-row">
    <div>Field</div>
    <div>Value</div>
    <div>Properties</div>
  </div>
  @for (detail of subscriptionDetails; track detail.Id) {
    @let value = subscriptionDetailsValues[detail.Id || ""];
    <div class="subscription-details-row">
      <div>
        <bkd-subscription-detail-field
          [detail]="build(detail)"
          [(value)]="value"
        ></bkd-subscription-detail-field>
      </div>
      <pre>{{ value() | json }}</pre>
      <pre>{{ detail | json }}</pre>
    </div>
  }
</div>

<h2>Subscription Detail Fields: Without labels</h2>
<div class="subscription-details">
  @for (detail of subscriptionDetails; track detail.Id) {
    @let value = subscriptionDetailsValues[detail.Id || ""];
    <div class="subscription-details-row">
      <div>
        <bkd-subscription-detail-field
          [detail]="build(detail)"
          [hideLabel]="true"
          [(value)]="value"
        ></bkd-subscription-detail-field>
      </div>
    </div>
  }
</div>

<h2>Subscription Detail Fields: Readonly</h2>
<div class="subscription-details">
  @for (detail of subscriptionDetailsReadonly; track detail.Id) {
    @let value = subscriptionDetailsValues[detail.Id || ""];
    <div class="subscription-details-row">
      <div>
        <bkd-subscription-detail-field
          [detail]="build(detail)"
          [(value)]="value"
        ></bkd-subscription-detail-field>
      </div>
    </div>
  }
</div>

<h2>Subscription Detail Fields: Required</h2>
<div class="subscription-details">
  @for (detail of subscriptionDetailsRequired; track detail.Id) {
    @let value = subscriptionDetailsValues[detail.Id || ""];
    <div class="subscription-details-row">
      <div>
        <bkd-subscription-detail-field
          [detail]="build(detail)"
          [(value)]="value"
        ></bkd-subscription-detail-field>
      </div>
    </div>
  }
</div>

<h2>Subscription Detail Fields: Horizontal Layout</h2>
<div class="subscription-details">
  @for (detail of subscriptionDetails; track detail.Id) {
    @let value = subscriptionDetailsValues[detail.Id || ""];
    <div class="subscription-details-row">
      <div>
        <bkd-subscription-detail-field
          [detail]="build(detail)"
          [layout]="'horizontal'"
          [(value)]="value"
        ></bkd-subscription-detail-field>
      </div>
    </div>
  }
</div>
