<h1>Kitchensink</h1>

<h2>Subscription Detail Fields: With Labels</h2>
<div class="subscription-details">
  @for (detail of subscriptionDetails; track detail.Id) {
    <bkd-subscription-detail-field
      [detail]="detail"
    ></bkd-subscription-detail-field>
  }
</div>

<h2>Subscription Detail Fields: Readonly</h2>
<div class="subscription-details">
  @for (detail of subscriptionDetailsReadonly; track detail.Id) {
    <bkd-subscription-detail-field
      [detail]="detail"
    ></bkd-subscription-detail-field>
  }
</div>

<h2>Subscription Detail Fields: Required</h2>
<div class="subscription-details">
  @for (detail of subscriptionDetailsRequired; track detail.Id) {
    <bkd-subscription-detail-field
      [detail]="detail"
    ></bkd-subscription-detail-field>
  }
</div>

<h2>Subscription Detail Fields: Horizontal</h2>
<div class="subscription-details">
  @for (detail of subscriptionDetailsRequired; track detail.Id) {
    <bkd-subscription-detail-field
      [detail]="detail"
      [layout]="'horizontal'"
    ></bkd-subscription-detail-field>
  }
</div>
