@import "../../../../bootstrap-variables";
@import "node_modules/bootstrap/scss/mixins";

td,
th {
  padding: 1rem 1.75rem;
}

// Hide elements only used on smaller devices
.room-label {
  display: none;
}

// Switch to compact layout on smaller devices
@include media-breakpoint-down(md) {
  table {
    thead {
      display: none;
    }

    tbody {
      border-top: 1px solid $table-border-color;

      tr {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
          "time time"
          "room room"
          "subject subject"
          "study-class study-class"
          "teacher teacher";
        gap: 0.5 * $spacer;
        padding: 1rem;
        border-bottom: 1px solid $table-border-color;
      }

      td {
        border-bottom: 0;
        padding: 0;
      }

      td.time {
        grid-area: time;
        font-size: calc(14 / 16 * $font-size-base);
        line-height: calc(18 / 16 * $font-size-base);
        font-weight: 300;
      }

      td.subject {
        grid-area: subject;
        font-size: 1rem;
        line-height: 1.25rem;
        font-weight: 400;
      }

      td.teacher {
        grid-area: teacher;
        font-size: calc(13 / 16 * $font-size-base);
        line-height: calc(17 / 16 * $font-size-base);
        font-weight: 300;
      }

      td.room {
        grid-area: room;
        font-size: calc(14 / 16 * $font-size-base);
        line-height: calc(18 / 16 * $font-size-base);
        font-weight: 300;
      }

      td.study-class {
        grid-area: study-class;
        font-size: calc(13 / 16 * $font-size-base);
        line-height: calc(17 / 16 * $font-size-base);
        font-weight: 300;
      }
    }
  }

  td.study-class {
    display: block;
  }

  .subject-study-class {
    display: none;
  }

  .room-label {
    display: inline;
  }
}
