@if (entries.length > 0) {
  <table class="table">
    <thead>
      <tr>
        <th>{{ "dashboard.timetable.table.time" | translate }}</th>
        <th>{{ "dashboard.timetable.table.subject" | translate }}</th>
        @if (isStudent$ | async) {
          <th>
            {{ "dashboard.timetable.table.teacher" | translate }}
          </th>
        }
        <th>
          {{ "dashboard.timetable.table.room" | translate }}
        </th>
      </tr>
    </thead>
    <tbody>
      @for (entry of entries; track entry.id) {
        <tr>
          <td class="time">
            {{ entry.from | date: "HH:mm" }}–{{ entry.until | date: "HH:mm" }}
          </td>
          <td class="subject">
            @if (isTeacher$ | async) {
              @let link = buildLink(entry.eventId);
              <a
                [routerLink]="link.link"
                [queryParams]="link.params"
                target="_parent"
              >
                {{ entry.subject
                }}<span class="subject-study-class"
                  >, {{ entry.studyClass }}</span
                >
              </a>
            } @else {
              {{ entry.subject }}
            }
          </td>
          @if (isTeacher$ | async) {
            <td class="study-class">
              <!-- Only visible on mobile, styled via grid (not a column) -->
              {{ "dashboard.timetable.table.study-class" | translate }}:
              {{ entry.studyClass }}
            </td>
          }
          @if (isStudent$ | async) {
            <td class="teacher">
              {{ entry.teacher }}
            </td>
          }
          <td class="room">
            @if (entry.room) {
              <span class="room-label">{{
                "dashboard.timetable.table.room" | translate
              }}</span>
            }
            {{ entry.room }}
          </td>
        </tr>
      }
    </tbody>
  </table>
} @else {
  <p>{{ "dashboard.timetable.no-entries" | translate }}</p>
}
