@if (entries.length > 0) {
  <table class="table">
    <thead>
      <tr>
        <th>{{ "dashboard.timetable.table.time" | translate }}</th>
        <th>{{ "dashboard.timetable.table.subject" | translate }}</th>
        @if (isStudent$ | async) {
          <th>
            {{ "dashboard.timetable.table.teacher" | translate }}
          </th>
        }
        <th>
          {{ "dashboard.timetable.table.room" | translate }}
        </th>
      </tr>
    </thead>
    <tbody>
      @for (group of entries; track $index) {
        @for (entry of group.entries; track entry.id) {
          <tr [class.group-border]="entry.id === group.entries[0].id">
            @if (entry.id === group.entries[0].id) {
              <td class="time" [attr.rowspan]="group.entries.length">
                {{ group.from | date: "HH:mm" }}–{{
                  group.until | date: "HH:mm"
                }}
              </td>
            }
            <td class="subject">
              @if (isTeacher$ | async) {
                @let link = buildLink(entry.eventId);
                <a [routerLink]="link.link" [queryParams]="link.params">
                  {{ entry.subject }}
                </a>
                <div class="subject-study-class">
                  {{ entry.studyClass }}
                </div>
              } @else {
                {{ entry.subject }}
              }
            </td>
            @if (isTeacher$ | async) {
              <td class="study-class">
                {{ entry.studyClass }}
              </td>
            }
            @if (isStudent$ | async) {
              <td class="teacher">
                {{ entry.teacher }}
              </td>
            }
            <td class="room">
              @if (entry.room) {
                <span class="room-label">{{
                  "dashboard.timetable.table.room" | translate
                }}</span>
                {{ entry.room }}
              }
            </td>
          </tr>
        }
      }
    </tbody>
  </table>
} @else {
  <p>{{ "dashboard.timetable.no-entries" | translate }}</p>
}
