<ng-container
  *bkdLet="{
    studentId: state.studentId$ | async,
    loading: dossierGradesService.loading$ | async,
    courses: dossierGradesService.studentCourses$ | async,
    gradingScales: dossierGradesService.gradingScales$ | async,
  } as data"
>
  <bkd-dossier-grades-view
    *ngIf="!data.loading"
    [courses]="data.courses"
    [studentId]="data.studentId"
    [gradingScales]="data.gradingScales"
  ></bkd-dossier-grades-view>
  <ng-container *ngIf="data.loading">
    <bkd-spinner></bkd-spinner>
  </ng-container>
</ng-container>
