<div
  *erzLet="{
    channelsFormGroup: channelsFormGroup$ | async,
    typesFormGroup: typesFormGroup$ | async,
    allChannelsInactive: allChannelsInactive$ | async
  } as data"
  class="pb-4"
>
  <h5 class="m-0 pb-3 flex align-items-center">
    <span>{{ 'my-settings.notifications.title' | translate }}</span>
    <erz-spinner
      *ngIf="saving$ | async"
      class="inline small d-inline-block ms-2"
    ></erz-spinner>
  </h5>

  <form *ngIf="data.channelsFormGroup" [formGroup]="data.channelsFormGroup">
    <erz-my-settings-notifications-toggle
      *ngFor="let setting of channelsSettings; index as i"
      [id]="'notification-channels-' + setting.key"
      [label]="setting.label | async"
      [description]="setting.description | async"
      [formControlName]="setting.key"
      [class.mt-4]="i > 0"
    >
    </erz-my-settings-notifications-toggle>
  </form>

  <p class="mt-4 form-text">
    {{ 'my-settings.notifications.privacy-hint' | translate }}
  </p>

  <hr />

  <form *ngIf="data.typesFormGroup" [formGroup]="data.typesFormGroup">
    <erz-my-settings-notifications-toggle
      *ngFor="let setting of typesSettings; index as i"
      [id]="'notification-types-' + setting.key"
      [label]="setting.label | async"
      [description]="setting.description | async"
      [formControlName]="setting.key"
      [class.mt-4]="i > 0"
      [disabled]="data.allChannelsInactive"
    >
    </erz-my-settings-notifications-toggle>
  </form>
</div>
