@import "../../../../bootstrap-variables";

a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background: $dark-sand;
  text-decoration: none;
  line-height: 1;
}

a:hover {
  background: $sand-hover;
}

div {
  align-items: center;
}

.label {
  font-weight: 400;
}

.count {
  font-size: 1.5rem;
}

div {
  display: flex;
  justify-content: space-between;
  gap: $spacer;
}
