<a *ngIf="!externalLink" [routerLink]="link" [queryParams]="linkParams">
  <ng-container *ngTemplateOutlet="actionContent"></ng-container>
</a>

<a *ngIf="externalLink" [href]="externalLink">
  <ng-container *ngTemplateOutlet="actionContent"></ng-container>
</a>

<ng-template #actionContent>
  <span class="label">{{ label | translate }}</span>
  <div>
    <ng-content></ng-content>
    <span class="count" *ngIf="count >= 0; else icon">{{ count }}</span>
    <ng-template #icon>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
      >
        <path
          fill="currentColor"
          d="m12 20-1.425-1.4 5.6-5.6H4v-2h12.175l-5.6-5.6L12 4l8 8-8 8Z"
        />
      </svg>
    </ng-template>
  </div>
</ng-template>
