@import "../../../../bootstrap-variables";
@import "node_modules/bootstrap/scss/mixins";

.search {
  max-width: 500px;
}

.event-header {
  display: grid;
  padding: $spacer;
  border-bottom: 2px solid $border-color;
  grid-template-areas: "designation date registrations rating";
  grid-template-columns: 4fr 2fr 2fr 3fr;
}

@include media-breakpoint-down(sm) {
  .event-header {
    display: none;
  }
}
