@let events = (state.getEntries(withRatings()) | async) ?? [];

<div class="bkd-container">
  <bkd-resettable-input
    class="d-flex search"
    [value]="state.search$ | async"
    [placeholder]="'events.search-by' | translate"
    [label]="'events.search' | translate"
    [disabled]="!events"
    (valueChange)="state.setSearch($event)"
  ></bkd-resettable-input>

  @if (state.loading$ | async) {
    <bkd-spinner></bkd-spinner>
  } @else {
    @if (events.length > 0) {
      <div class="event-header">
        <div class="designation">{{ "events.designation" | translate }}</div>
        <div class="date">{{ "events.date" | translate }}</div>
        <div class="registrations">
          {{ "events.registrations" | translate }}
        </div>
        @if (withRatings()) {
          <div class="rating">
            {{ "events.rating" | translate }}
          </div>
        }
      </div>
      @for (event of events; track event.id) {
        <bkd-events-list-entry
          [event]="event"
          [withRatings]="withRatings()"
        ></bkd-events-list-entry>
      }
    } @else {
      <p class="mt-3">{{ "events.no-events" | translate }}</p>
    }
  }
</div>
