@import "../../../../bootstrap-variables";
@import "node_modules/bootstrap/scss/mixins";

.search {
  max-width: 500px;
}

.event-header {
  display: grid;
  padding: $spacer;
  border-bottom: 2px solid $border-color;
  grid-template-areas: "designation date registrations rating";
  grid-template-columns: 4fr 2fr 1fr 2fr;
}

.event-entry {
  display: grid;
  border-bottom: 1px solid $border-color;
  padding: $spacer;
  grid-template-areas: "designation date registrations rating";
  grid-template-columns: 4fr 2fr 1fr 2fr;
}

.designation {
  grid-area: designation;
}

.registrations-label {
  display: none;
}

@include media-breakpoint-down(sm) {
  .search {
    padding: 0 $spacer;
  }

  .event-header {
    display: none;
  }

  .registrations-label {
    display: inline;
  }

  .event-entry {
    grid-template-areas:
      "designation"
      "date"
      "registrations"
      "rating";
    grid-template-columns: 1fr;
  }
}
