<div class="filters mb-2">
  <div class="form-group">
    <label>{{ 'evaluate-absences.header.student' | translate }}</label>
    <erz-typeahead
      [typeaheadService]="studentsService"
      [(value)]="filter.student"
    ></erz-typeahead>
  </div>

  <div class="form-group">
    <label>{{ 'evaluate-absences.header.module-instance' | translate }}</label>
    <erz-typeahead
      [typeaheadService]="educationalEventsService"
      [(value)]="filter.educationalEvent"
    ></erz-typeahead>
  </div>

  <div class="form-group">
    <label>{{ 'evaluate-absences.header.study-class' | translate }}</label>
    <erz-typeahead
      [typeaheadService]="studyClassesService"
      [(value)]="filter.studyClass"
      [additionalHttpParams]="this.classesHttpFilter"
    ></erz-typeahead>
  </div>

  <div class="buttons">
    <button type="button" class="btn btn-primary" (click)="show()">
      {{ 'evaluate-absences.header.show' | translate }}
    </button>
  </div>
</div>
