<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<div class="row g-3 align-items-end">
  <div class="col-sm-12 col-md">
    <label class="form-label">{{
      "evaluate-absences.header.student" | translate
    }}</label>
    <bkd-typeahead
      [typeaheadService]="studentsService"
      [(value)]="filter.student"
    ></bkd-typeahead>
  </div>

  <div class="col-sm-12 col-md">
    <label class="form-label">{{
      "evaluate-absences.header.module-instance" | translate
    }}</label>
    <bkd-typeahead
      [typeaheadService]="educationalEventsService"
      [(value)]="filter.educationalEvent"
    ></bkd-typeahead>
  </div>

  <div class="col-sm-12 col-md">
    <label class="form-label">{{
      "evaluate-absences.header.study-class" | translate
    }}</label>
    <bkd-typeahead
      [typeaheadService]="studyClassesService"
      [(value)]="filter.studyClass"
      [additionalHttpParams]="this.classesHttpFilter"
    ></bkd-typeahead>
  </div>

  <div class="col-auto">
    <button type="button" class="btn btn-primary" (click)="show()">
      {{ "evaluate-absences.header.show" | translate }}
    </button>
  </div>
</div>
