@import "../../../../bootstrap-variables";
@import "node_modules/bootstrap/scss/mixins";

:host {
  display: flex;
  flex-direction: column;
  padding: $spacer;
  border-bottom: 1px solid $border-color;
}
