<div class="row g-3 align-items-end mb-3">
  <div class="col-sm-12 col-md">
    <label class="form-label" for="filter-student">{{
      "evaluate-absences.header.student" | translate
    }}</label>
    <bkd-typeahead
      [id]="'filter-student'"
      [typeaheadService]="studentsService"
      [(value)]="filter.student"
    ></bkd-typeahead>
  </div>

  <div class="col-sm-12 col-md">
    <label class="form-label" for="filter-module-instance">{{
      "evaluate-absences.header.module-instance" | translate
    }}</label>
    <bkd-typeahead
      [id]="'filter-module-instance'"
      [typeaheadService]="coursesService"
      [(value)]="filter.course"
    ></bkd-typeahead>
  </div>

  <div class="col-sm-12 col-md">
    <label class="form-label" for="filter-study-class">{{
      "evaluate-absences.header.study-class" | translate
    }}</label>
    <bkd-typeahead
      [id]="'filter-study-class'"
      [typeaheadService]="studyClassesService"
      [(value)]="filter.studyClass"
      [additionalHttpParams]="this.classesHttpFilter"
    ></bkd-typeahead>
  </div>
</div>

<div class="row g-3 align-items-end">
  <div class="col-md-6 col-lg-3">
    <label class="form-label" for="filter-date-from">{{
      "edit-absences.header.date-from" | translate
    }}</label>
    <bkd-date-select
      [id]="'filter-date-from'"
      [value]="filter.dateFrom"
      (valueChange)="onDateFromChange($event)"
    ></bkd-date-select>
  </div>

  <div class="col-md-6 col-lg-3">
    <label class="form-label" for="filter-date-to">{{
      "edit-absences.header.date-to" | translate
    }}</label>
    <bkd-date-select
      [id]="'filter-date-to'"
      [value]="filter.dateTo"
      (valueChange)="onDateToChange($event)"
    ></bkd-date-select>
  </div>

  <div class="col d-flex justify-content-end">
    <button type="button" class="btn btn-primary" (click)="show()">
      {{ "evaluate-absences.header.show" | translate }}
    </button>
  </div>
</div>
