@let file = stateService.file$ | async;
@let rows = stateService.rows$ | async;
@let headers = stateService.headers$ | async;

<div class="bkd-container bkd-container-limited">
  <h1>{{ "import-subscription-details.title" | translate }}</h1>
  <div>
    <label for="formFile" class="form-label">{{
      "import-subscription-details.input-label" | translate
    }}</label>
    <input
      class="form-control"
      type="file"
      #fileInput
      id="formFile"
      (change)="onFileInput(fileInput.files)"
      accept=".xlsx,.xls,.csv"
    />
  </div>

  <table>
    <thead>
      <tr>
        @for (header of headers; track $index) {
          <th>{{ header }}</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (row of rows; track $index) {
        <tr>
          <td>{{ row["ID Anlass"] }}</td>
          <td>{{ row["ID Person"] }}</td>
          <td>{{ row["ID AD"] }}</td>
          <td>{{ row["Wert"] }}</td>
        </tr>
      }
    </tbody>
  </table>
</div>
