@import "../../../../bootstrap-variables";

$erz-switch-width: 36px;
$erz-switch-height: calc($erz-switch-width / 2);
$erz-switch-border-width: 1px;
$erz-switch-toggle-padding: 1px;
$erz-switch-toggle-width: calc(
  $erz-switch-height - 2 * $erz-switch-border-width - 2 *
    $erz-switch-toggle-padding
);
$erz-switch-active-bg: $body-color;
$erz-switch-active-border: $body-color;
$erz-switch-active-toggle: $white;
$erz-switch-inactive-bg: $white;
$erz-switch-inactive-border: $body-color;
$erz-switch-inactive-toggle: $body-color;
$erz-switch-disabled-bg: $white;
$erz-switch-disabled-border: $gray;
$erz-switch-disabled-toggle: $gray;

input {
  opacity: 0;
  position: absolute;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: $erz-switch-width;
  height: $erz-switch-height;
  border: $erz-switch-border-width solid $erz-switch-inactive-border;
  background: $erz-switch-inactive-bg;
  display: block;
  border-radius: $erz-switch-height;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: $erz-switch-toggle-padding;
  left: $erz-switch-toggle-padding;
  width: $erz-switch-toggle-width;
  height: $erz-switch-toggle-width;
  background: $erz-switch-inactive-toggle;
  border-radius: $erz-switch-toggle-width;
  transition: 0.3s;
}

input:checked + label {
  border-color: $erz-switch-active-border;
  background: $erz-switch-active-bg;
}

input:checked + label:after {
  left: calc(100% - $erz-switch-toggle-padding);
  transform: translateX(-100%);
  background: $erz-switch-active-toggle;
}

input:focus + label {
  box-shadow: 0 0 $input-btn-focus-blur $input-btn-focus-width
    $input-btn-focus-color;
}

input:disabled + label {
  cursor: default;
  background: $erz-switch-disabled-bg;
  border-color: $erz-switch-disabled-border;
}

input:disabled + label:after {
  background: $erz-switch-disabled-toggle;
}

label:active:after {
  width: calc($erz-switch-toggle-width * 1.3);
}
