<bkd-events-students-header
  [title]="title()"
  [count]="count()"
  [(searchTerm)]="searchTerm"
></bkd-events-students-header>

<section class="list">
  @if (entries().length > 0) {
    <div class="list-header">
      <bkd-sortable-header
        class="name"
        [label]="'events-students.list.header.name' | translate"
        [sortKey]="'name'"
        [(sortCriteria)]="sortCriteria"
      ></bkd-sortable-header>
      <bkd-sortable-header
        class="registration-date"
        [label]="'events-students.list.header.registration-date' | translate"
        [sortKey]="'registrationDate'"
        [(sortCriteria)]="sortCriteria"
      ></bkd-sortable-header>
    </div>
  } @else {
    <p class="mt-3">{{ "events-students.no-entries" | translate }}</p>
  }
  @for (entry of entries(); track entry.id) {
    <bkd-events-students-study-course-entry
      [entry]="entry"
      [returnLink]="returnLink()"
    ></bkd-events-students-study-course-entry>
  }
</section>
