<div class="modal-header">
  <h5 class="modal-title">
    {{ "import.validation.proceed-dialog.title" | translate }}
  </h5>
</div>
<div class="modal-body">
  <p>
    {{
      "import.validation.proceed-dialog.message"
        | translate: { validCount, invalidCount }
    }}
  </p>
</div>
<div class="modal-footer">
  <button
    data-testid="cancel-button"
    type="button"
    class="btn btn-outline-secondary"
    (click)="activeModal.dismiss()"
  >
    {{ "import.validation.proceed-dialog.cancel" | translate }}
  </button>

  <button
    data-testid="confirm-button"
    type="button"
    class="btn btn-primary"
    (click)="activeModal.close(true)"
  >
    {{ "import.validation.proceed-dialog.proceed" | translate }}
  </button>
</div>
