<div class="input-group">
  <span class="input-group-text" [id]="componentId"
    ><i class="material-icons">calendar_today</i></span
  >
  <input
    type="text"
    class="form-control"
    [attr.placeholder]="placeholder() | translate"
    [attr.aria-label]="placeholder() | translate"
    [attr.aria-describedby]="componentId"
    ngbDatepicker
    #dp="ngbDatepicker"
    (click)="dp.toggle()"
    [minDate]="minDate()"
    [ngModel]="value()"
    (ngModelChange)="valueChange.emit($event)"
  />
</div>
