<div class="input-group">
  <div class="input-group-prepend">
    <button
      class="btn btn-outline-secondary"
      [id]="componentId"
      type="button"
      (click)="dp.toggle()"
    >
      <i class="material-icons">calendar_today</i>
    </button>
  </div>
  <input
    type="text"
    class="form-control"
    [attr.placeholder]="placeholder | translate"
    [attr.aria-label]="placeholder | translate"
    [attr.aria-describedby]="componentId"
    ngbDatepicker
    #dp="ngbDatepicker"
    (click)="dp.toggle()"
    [minDate]="minDate"
    [ngModel]="value"
    (ngModelChange)="valueChange.emit($event)"
  />
</div>
