@let profile = state.profile$ | async;
<h2>{{ "dossier.home-address" | translate }}</h2>
@if (profile) {
  <bkd-student-dossier-address
    class="profile-entry"
    [student]="profile.student"
  ></bkd-student-dossier-address>
  <div>
    @if (profile.legalRepresentativePersons.length > 0) {
      <div>
        <h2>{{ "shared.profile.legal-representation" | translate }}</h2>
        <div class="legal-representatives">
          @for (person of profile.legalRepresentativePersons; track person.Id) {
            <bkd-student-dossier-legal-representative
              class="profile-entry"
              [person]="person"
            ></bkd-student-dossier-legal-representative>
          }
        </div>
      </div>
    }
    @for (
      company of profile.apprenticeshipCompanies;
      track company.apprenticeshipContract.Id;
      let i = $index
    ) {
      <div>
        <h2>
          {{ "shared.profile.apprenticeship-company" | translate }}
          @if (profile.apprenticeshipCompanies.length > 1) {
            {{ i + 1 }}
          }
        </h2>
        <div class="apprenticeship-companies">
          <bkd-student-dossier-apprenticeship-company
            class="profile-entry"
            [company]="company"
          ></bkd-student-dossier-apprenticeship-company>
        </div>
      </div>
    }
  </div>
}
