@import "../../../../bootstrap-variables";
@import "node_modules/bootstrap/scss/mixins";

.tests-dropdown {
  display: block;
  padding: $spacer 0;
}

@include media-breakpoint-up(sm) {
  .tests-dropdown {
    display: none;
  }
}

a.rating-overview {
  text-decoration: none;

  span {
    text-decoration: underline;
  }

  span:hover {
    text-decoration-color: $accent;
  }

  @include media-breakpoint-down(sm) {
    &:not(.visible-on-mobile) {
      display: none !important;
    }
  }
}
