@import "../../../../bootstrap-variables";
@import "node_modules/bootstrap/scss/mixins";

.tests-dropdown {
  display: block;
  padding: $spacer;
}

@include media-breakpoint-up(sm) {
  .tests-dropdown {
    display: none;
  }
}
