@import "../../../../bootstrap-variables";
@import "node_modules/bootstrap/scss/mixins";

.tests-dropdown {
  display: block;
  padding: $spacer 0;
}

@media (min-width: ($bkd-tests-mobile-breakpoint + 1)) {
  .tests-dropdown {
    display: none;
  }
}

a.rating-overview {
  text-decoration: none;

  span {
    text-decoration: underline;
  }

  span:hover {
    text-decoration-color: $accent;
  }

  @media (max-width: $bkd-tests-mobile-breakpoint) {
    &:not(.visible-on-mobile) {
      display: none !important;
    }
  }
}
