<div
  class="erz-container erz-container-padding-y erz-container-padding-x-responsive"
>
  <ng-container
    *erzLet="{
      profile: profile$ | async,
      absenceCounts: absencesService.counts$ | async
    } as data"
  >
    <ng-container *ngIf="!(profileService.loading$ | async); else loading">
      <erz-student-backlink
        class="mb-2"
        [link]="backlink"
        [queryParams]="backlinkQueryParams$ | async"
        [studentId]="studentId$ | async"
        [student]="data.profile && data.profile.student"
      ></erz-student-backlink>

      <div class="profile-content" *ngIf="data.profile; else noProfile">
        <ngb-accordion ngb-accordion #acc="ngbAccordion">
          <ngb-panel id="student-address">
            <ng-template ngbPanelHeader let-opened="opened">
              <erz-student-profile-entry-header
                [opened]="opened"
                (click)="acc.toggle('student-address')"
              >
                {{ 'shared.profile.student-address' | translate }}
              </erz-student-profile-entry-header>
            </ng-template>
            <ng-template ngbPanelContent>
              <erz-student-profile-address
                class="profile-entry"
                [student]="data.profile.student"
              ></erz-student-profile-address>
            </ng-template>
          </ngb-panel>

          <ngb-panel
            *ngIf="data.profile.legalRepresentativePersons.length > 0"
            id="legal-representatives"
          >
            <ng-template ngbPanelHeader let-opened="opened">
              <erz-student-profile-entry-header
                [opened]="opened"
                (click)="acc.toggle('legal-representatives')"
              >
                {{ 'shared.profile.legal-representation' | translate }}
              </erz-student-profile-entry-header>
            </ng-template>
            <ng-template ngbPanelContent>
              <erz-student-profile-legal-representative
                *ngFor="let person of data.profile.legalRepresentativePersons"
                class="profile-entry"
                [person]="person"
              ></erz-student-profile-legal-representative>
            </ng-template>
          </ngb-panel>

          <ngb-panel
            *ngFor="
              let company of data.profile.apprenticeshipCompanies;
              let i = index
            "
            [id]="'apprenticeship-company-' + i"
          >
            <ng-template ngbPanelHeader let-opened="opened">
              <erz-student-profile-entry-header
                [opened]="opened"
                (click)="acc.toggle('apprenticeship-company-' + i)"
              >
                {{ 'shared.profile.apprenticeship-company' | translate }}
                <ng-container
                  *ngIf="data.profile.apprenticeshipCompanies.length > 1"
                  >{{ i + 1 }}</ng-container
                >
              </erz-student-profile-entry-header>
            </ng-template>
            <ng-template ngbPanelContent>
              <erz-student-profile-apprenticeship-company
                class="profile-entry"
                [company]="company"
              ></erz-student-profile-apprenticeship-company>
            </ng-template>
          </ngb-panel>

          <ngb-panel id="open-absences">
            <ng-template ngbPanelHeader let-opened="opened">
              <erz-student-profile-entry-header
                [opened]="opened"
                (click)="acc.toggle('open-absences')"
              >
                {{ 'shared.profile.open-absences' | translate }}
                <ng-container *ngIf="data.absenceCounts.openAbsences != null"
                  >({{ data.absenceCounts.openAbsences }})</ng-container
                >
              </erz-student-profile-entry-header>
            </ng-template>
            <ng-template ngbPanelContent>
              <erz-student-profile-absences
                [absences$]="absencesService.openAbsences$"
                [selectionService]="absencesSelectionService"
              ></erz-student-profile-absences>
            </ng-template>
          </ngb-panel>

          <ngb-panel id="excused-absences">
            <ng-template ngbPanelHeader let-opened="opened">
              <erz-student-profile-entry-header
                [opened]="opened"
                (click)="acc.toggle('excused-absences')"
              >
                {{ 'shared.profile.excused-absences' | translate }}
                <ng-container *ngIf="data.absenceCounts.excusedAbsences != null"
                  >({{ data.absenceCounts.excusedAbsences }})</ng-container
                >
              </erz-student-profile-entry-header>
            </ng-template>
            <ng-template ngbPanelContent>
              <erz-student-profile-absences
                [absences$]="absencesService.excusedAbsences$"
              ></erz-student-profile-absences>
            </ng-template>
          </ngb-panel>

          <ngb-panel id="unexcused-absences">
            <ng-template ngbPanelHeader let-opened="opened">
              <erz-student-profile-entry-header
                [opened]="opened"
                (click)="acc.toggle('unexcused-absences')"
              >
                {{ 'shared.profile.unexcused-absences' | translate }}
                <ng-container
                  *ngIf="data.absenceCounts.unexcusedAbsences != null"
                  >({{ data.absenceCounts.unexcusedAbsences }})</ng-container
                >
              </erz-student-profile-entry-header>
            </ng-template>
            <ng-template ngbPanelContent>
              <erz-student-profile-absences
                [absences$]="absencesService.unexcusedAbsences$"
              ></erz-student-profile-absences>
            </ng-template>
          </ngb-panel>

          <ngb-panel id="incidents">
            <ng-template ngbPanelHeader let-opened="opened">
              <erz-student-profile-entry-header
                [opened]="opened"
                (click)="acc.toggle('incidents')"
              >
                {{ 'shared.profile.incidents' | translate }}
                <ng-container *ngIf="data.absenceCounts.incidents != null"
                  >({{ data.absenceCounts.incidents }})</ng-container
                >
              </erz-student-profile-entry-header>
            </ng-template>
            <ng-template ngbPanelContent>
              <erz-student-profile-absences
                [absences$]="absencesService.incidents$"
              ></erz-student-profile-absences>
            </ng-template>
          </ngb-panel>

          <ngb-panel *ngIf="halfDayActive$ | async" id="half-days">
            <ng-template ngbPanelHeader let-opened="opened">
              <erz-student-profile-entry-header
                [opened]="opened"
                (click)="acc.toggle('half-days')"
              >
                {{ 'shared.profile.half-days' | translate }}
                <ng-container *ngIf="data.absenceCounts.halfDays != null"
                  >({{ data.absenceCounts.halfDays }})</ng-container
                >
              </erz-student-profile-entry-header>
            </ng-template>
            <ng-template ngbPanelContent>
              <erz-student-profile-absences
                [absences$]="absencesService.halfDays$"
              ></erz-student-profile-absences>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>

      <ng-template #noProfile>
        <p>{{ 'shared.profile.no-profile' | translate }}</p>
      </ng-template>
    </ng-container>

    <ng-template #loading>
      <erz-spinner></erz-spinner>
    </ng-template>
  </ng-container>
</div>
