.border-right {
  border-right: 2px solid #dee2e6;
}

.filter-hover:hover {
  background-color: lightgray;
}

table th.grade.selected,
table td.grade.selected {
  display: table-cell !important;
}

table th.grade,
table td.grade,
.desktop {
  display: none !important;
}

.mobile {
  display: block !important;
}

@media (min-width: 750px) {
  table th.grade,
  table td.grade,
  .desktop {
    display: table-cell !important;
  }

  .mobile {
    display: none !important;
  }

  .primary-column-width {
    width: 15%;
  }

  .secondary-column-width {
    width: 5%;
  }
}
