@import "../../../../bootstrap-variables";
@import "node_modules/bootstrap/scss/mixins";

.border-right {
  border-right: 2px solid $border-color;
}

.filter-hover:hover {
  background-color: $gray;
}

table th.grade.selected,
table td.grade.selected {
  display: table-cell !important;
}

table th.grade,
table td.grade,
.desktop {
  display: none !important;
}

thead tr th {
  border-top: none;
  vertical-align: top;
  padding-top: $spacer;
  padding-bottom: $spacer;
}

.header-collapsible th {
  border-bottom: 1px solid $border-color;
}

.mobile {
  display: block !important;
}

thead tr th.test-info-desktop {
  display: none !important;
}

@include media-breakpoint-up(sm) {
  thead tr th.test-info-mobile {
    display: none !important;
  }

  thead tr th.test-info-desktop {
    display: table-cell !important;
  }

  table th.grade,
  table td.grade,
  .desktop {
    display: table-cell !important;
  }

  thead tr th {
    padding-top: calc($spacer / 4);
    padding-bottom: calc($spacer / 4);
  }

  thead tr th.grade {
    min-width: 300px;
    max-width: 300px;
  }

  .mobile {
    display: none !important;
  }

  .primary-column-width {
    width: 15%;
  }

  .secondary-column-width {
    width: 5%;
  }
}
