<ng-container
  *erzLet="{
    tests: state.filteredTests$ | async,
    studentGrades: state.studentGrades$ | async,
    filter: state.filter$ | async,
    expanded: state.expandedHeader$ | async
  } as data"
>
  <div class="table-responsive-wrapper">
    <table class="table table-hover h-100">
      <thead class="h-100">
        <tr class="h-100 header-collapsible">
          <th class="desktop pt-3 sticky" colspan="3">
            <button
              type="button"
              class="btn desktop"
              (click)="changeFilter('all-tests')"
              [ngClass]="{
                'btn-primary': data.filter === 'all-tests',
                'btn-outline-primary': data.filter !== 'all-tests'
              }"
            >
              {{ 'tests.all-tests' | translate }}
            </button>
            <button
              type="button"
              class="btn ml-2 desktop"
              (click)="changeFilter('my-tests')"
              [ngClass]="{
                'btn-primary': data.filter === 'my-tests',
                'btn-outline-primary': data.filter !== 'my-tests'
              }"
            >
              {{ 'tests.owned-tests' | translate }}
            </button>
          </th>
          <th
            *ngFor="let test of data.tests"
            container="body"
            class="grade h-100 test-info-desktop"
            [ngClass]="test.Id === selectedTest?.Id ? 'selected' : ''"
          >
            <erz-test-table-header
              [test]="test"
              [expanded]="data.expanded"
              (toggle)="state.toggleHeader($event)"
              (publish)="publish($event)"
              (unpublish)="unpublish($event)"
            ></erz-test-table-header>
          </th>
          <th
            *ngFor="let test of data.tests"
            container="body"
            class="grade h-100 header-mobile test-info-mobile"
            colspan="3"
            [ngClass]="test.Id === selectedTest?.Id ? 'selected' : ''"
          >
            <erz-test-table-header
              [test]="test"
              [expanded]="data.expanded"
              (toggle)="state.toggleHeader($event)"
              (publish)="publish($event)"
              (unpublish)="unpublish($event)"
            ></erz-test-table-header>
          </th>
        </tr>
        <tr>
          <th
            class="primary-column-width sticky"
            (click)="state.sortBy('FullName')"
          >
            <div class="d-flex">
              <div class="column-title">
                {{ 'tests.student.name' | translate }}
              </div>
              <div class="sort-direction ml-1">
                {{ state.getSortingChar$('FullName') | async }}
              </div>
            </div>
          </th>
          <th
            class="secondary-column-width sticky sticky-col-2 desktop"
            (click)="state.sortBy('FinalGrade')"
            [ngClass]="{ selected: selectedTest === undefined }"
          >
            <div class="d-flex">
              <div class="column-title">
                {{ 'tests.grade' | translate }}
              </div>
              <div class="sort-direction ml-1">
                {{ state.getSortingChar$('FinalGrade') | async }}
              </div>
            </div>
          </th>
          <th
            class="secondary-column-width border-right sticky sticky-col-3 desktop"
            (click)="state.sortBy('TestsMean')"
            [ngClass]="{ selected: selectedTest === undefined }"
          >
            <div class="d-flex">
              <div class="column-title">
                {{ 'tests.mean' | translate }}
              </div>
              <div class="sort-direction ml-1">
                {{ state.getSortingChar$('TestsMean') | async }}
              </div>
            </div>
          </th>
          <th
            *ngFor="let test of data.tests"
            container="body"
            class="grade h-100"
            [ngClass]="test.Id === selectedTest?.Id ? 'selected' : ''"
          >
            <div class="d-flex">
              <div
                class="column-title mr-3 point-input-container"
                *ngIf="test.IsPointGrading"
              >
                <span (click)="state.sortBy(test)"
                  >{{ 'tests.points' | translate }}
                </span>
              </div>
              <div class="column-title">
                <span (click)="state.sortBy(test)">{{
                  'tests.grade' | translate
                }}</span>
              </div>
              <div class="sort-direction ml-1">
                {{ state.getSortingChar$(test) | async }}
              </div>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let studentGrade of data.studentGrades;
            let studentGradeIndex = index;
            trackBy: trackStudentGrade
          "
        >
          <td class="primary-column-width sticky name">
            <a [routerLink]="['student', studentGrade.student.Id, 'grades']">
              <span class="text-body">{{ studentGrade.student.FullName }}</span>
              <span class="mobile mean">
                {{ 'tests.mean' | translate }}:
                {{ studentGrade.finalGrade.average | number: '1.0-3' }}
              </span>
            </a>
          </td>
          <td
            class="grade sticky sticky-col-2"
            [ngClass]="{ selected: selectedTest === undefined }"
          >
            <erz-grade-select
              [options]="state.gradingOptionsForCourse$() | async"
              [valueId]="studentGrade.finalGrade.finalGradeId"
              [gradeId]="studentGrade.finalGrade.id"
              [disabled]="
                (isEditFinalGradesAllowed(studentGrade) | async) === false
              "
              (gradeIdSelected)="state.overwriteFinalGrade($event)"
            ></erz-grade-select>
          </td>
          <td
            class="grade border-right sticky sticky-col-3"
            [ngClass]="{ selected: selectedTest === undefined }"
          >
            {{ studentGrade.finalGrade.average | number: '1.0-3' }}
          </td>
          <td
            *ngFor="
              let grade of studentGrade.grades;
              let gradeIndex = index;
              trackBy: trackGradeOf(studentGrade.student)
            "
            class="grade"
            [ngClass]="
              selectedTest !== undefined && grade.test.Id === selectedTest?.Id
                ? 'selected'
                : ''
            "
          >
            <erz-grade
              [grade]="grade"
              [gradeOptions]="state.gradingOptionsForTest$(grade.test) | async"
              [student]="studentGrade.student"
              [tabIndex]="(1 + gradeIndex) * 1000 + studentGradeIndex"
              (gradeChanged)="saveGrade($event)"
            ></erz-grade>
          </td>
        </tr>
        <tr>
          <td class="sticky">
            <div class="d-flex flex-column">
              <div>{{ 'tests.average' | translate }}</div>
            </div>
          </td>
          <td class="desktop sticky sticky sticky-col-2">
            {{ state.meanOfFinalGradesForCourse$ | async | number: '1.0-3' }}
          </td>
          <td class="desktop border-right sticky sticky-col-3">
            {{ state.meanOfStudentGradesForCourse$ | async | number: '1.0-3' }}
          </td>
          <td
            *ngFor="let test of data.tests"
            class="grade"
            [ngClass]="
              test.Id === selectedTest?.Id || test.Id === selectedTest?.Id
                ? 'selected'
                : ''
            "
          >
            <erz-average-grades [test]="test"></erz-average-grades>
          </td>
        </tr>
      </tbody>
    </table>
    <button
      *ngIf="state.canSetFinalGrade$ | async"
      data-testId="apply-average-button"
      class="btn btn-primary m-3"
      type="button"
      (click)="setAverageAsFinalGrade()"
    >
      {{ 'tests.set-final-grade' | translate }}
    </button>
  </div>
</ng-container>
