@import "../../../../bootstrap-variables";
@import "node_modules/bootstrap/scss/mixins";
@import "./test-edit-grades-common";

tbody td.student-name {
  padding-right: 0;

  &,
  * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  a {
    text-decoration: none;

    div:first-child {
      text-decoration: underline;
    }

    div:first-child:hover {
      text-decoration-color: $accent;
    }
  }
}

.student-average-inline {
  color: $gray-dark;
  font-size: $font-size-sm;
  line-height: 1;
}

// Desktop view
@media (min-width: ($bkd-tests-mobile-breakpoint + 1)) {
  .table-responsive-wrapper {
    display: block;
    overflow-x: auto;
  }

  table {
    border-collapse: separate;
    border-spacing: 0;
  }

  .action-buttons {
    position: sticky;
    left: 0;
  }
}

// Mobile view
@media (max-width: $bkd-tests-mobile-breakpoint) {
  .apply-average-button:not(.visible-on-mobile) {
    display: none !important;
  }
}
