<ng-container
  *erzLet="{
    absenceCounts: absencesService.counts$ | async
  } as data"
>
  <div ngbAccordion>
    <div ngbAccordionItem #checkableAbsences="ngbAccordionItem">
      <div ngbAccordionHeader>
        <erz-student-dossier-entry-header
          [opened]="!checkableAbsences.collapsed"
          (click)="checkableAbsences.toggle()"
        >
          {{ "shared.profile.checkable-absences" | translate }}
          <ng-container *ngIf="data.absenceCounts.checkableAbsences !== null"
            >({{ data.absenceCounts.checkableAbsences }})
          </ng-container>
        </erz-student-dossier-entry-header>
      </div>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <erz-student-dossier-absences
              [absences$]="absencesService.checkableAbsences$"
            ></erz-student-dossier-absences>
          </ng-template>
        </div>
      </div>
    </div>

    <div ngbAccordionItem #openAbsences="ngbAccordionItem">
      <div ngbAccordionHeader>
        <erz-student-dossier-entry-header
          [opened]="!openAbsences.collapsed"
          (click)="openAbsences.toggle()"
        >
          {{ "shared.profile.open-absences" | translate }}
          <ng-container *ngIf="data.absenceCounts.openAbsences !== null"
            >({{ data.absenceCounts.openAbsences }})
          </ng-container>
        </erz-student-dossier-entry-header>
      </div>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <erz-student-dossier-absences
              [absences$]="absencesService.openAbsences$"
              [selectionService]="absencesSelectionService"
            ></erz-student-dossier-absences>
          </ng-template>
        </div>
      </div>
    </div>

    <div ngbAccordionItem #excusedAbsences="ngbAccordionItem">
      <div ngbAccordionHeader>
        <erz-student-dossier-entry-header
          [opened]="!excusedAbsences.collapsed"
          (click)="excusedAbsences.toggle()"
        >
          {{ "shared.profile.excused-absences" | translate }}
          <ng-container *ngIf="data.absenceCounts.excusedAbsences !== null"
            >({{ data.absenceCounts.excusedAbsences }})
          </ng-container>
        </erz-student-dossier-entry-header>
      </div>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <erz-student-dossier-absences
              [absences$]="absencesService.excusedAbsences$"
            ></erz-student-dossier-absences>
          </ng-template>
        </div>
      </div>
    </div>

    <div ngbAccordionItem #unexcusedAbsences="ngbAccordionItem">
      <div ngbAccordionHeader>
        <erz-student-dossier-entry-header
          [opened]="!unexcusedAbsences.collapsed"
          (click)="unexcusedAbsences.toggle()"
        >
          {{ "shared.profile.unexcused-absences" | translate }}
          <ng-container *ngIf="data.absenceCounts.unexcusedAbsences !== null"
            >({{ data.absenceCounts.unexcusedAbsences }})
          </ng-container>
        </erz-student-dossier-entry-header>
      </div>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <erz-student-dossier-absences
              [absences$]="absencesService.unexcusedAbsences$"
              [displayPresenceType]="false"
            ></erz-student-dossier-absences>
          </ng-template>
        </div>
      </div>
    </div>

    <div ngbAccordionItem #incidents="ngbAccordionItem">
      <div ngbAccordionHeader>
        <erz-student-dossier-entry-header
          [opened]="!incidents.collapsed"
          (click)="incidents.toggle()"
        >
          {{ "shared.profile.incidents" | translate }}
          <ng-container *ngIf="data.absenceCounts.incidents !== null"
            >({{ data.absenceCounts.incidents }})
          </ng-container>
        </erz-student-dossier-entry-header>
      </div>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <erz-student-dossier-absences
              [absences$]="absencesService.incidents$"
            ></erz-student-dossier-absences>
          </ng-template>
        </div>
      </div>
    </div>

    <div
      ngbAccordionItem
      #halfDays="ngbAccordionItem"
      *ngIf="halfDayActive$ | async"
      id="half-days"
    >
      <div ngbAccordionHeader>
        <erz-student-dossier-entry-header
          [opened]="!halfDays.collapsed"
          (click)="halfDays.toggle()"
        >
          {{ "shared.profile.half-days" | translate }}
          <ng-container *ngIf="data.absenceCounts.halfDays !== null"
            >({{ data.absenceCounts.halfDays }})
          </ng-container>
        </erz-student-dossier-entry-header>
      </div>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <erz-student-dossier-absences
              [absences$]="absencesService.halfDays$"
              [displayPresenceType]="false"
            ></erz-student-dossier-absences>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</ng-container>
