<div class="modal-body">
  <p class="mb-4">{{ test.Designation }}</p>
  <form>
    <div *ngIf="!test.IsPointGrading" class="form-group row">
      <label for="grading" class="col-6 col-form-label">{{
        'dossier.grade' | translate
      }}</label>
      <div class="col-6">
        <erz-select
          [options]="gradeOptions"
          [value]="gradeId"
          [allowEmpty]="false"
          (valueChange)="onSelectionChange($event)"
        >
        </erz-select>
      </div>
    </div>
  </form>
  <p class="text-muted mt-4">
    {{
      (test.IsPointGrading
        ? 'dossier.dialog.hint.points'
        : 'dossier.dialog.hint.grade'
      ) | translate
    }}
  </p>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-primary"
    (click)="activeModal.close(updatedTestResult)"
  >
    {{ 'dossier.dialog.close' | translate }}
  </button>
</div>
