<div class="modal-body">
  <p>{{ designation }}</p>
  <form>
    <div class="form-group row">
      <label for="grading" class="col-6 col-form-label">{{
        'dossier.grade' | translate
      }}</label>
      <div class="col-6">
        <erz-select
          [options]="gradeOptions"
          [value]="gradeId"
          (valueChange)="onSelectionChange($event)"
        >
        </erz-select>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-secondary"
    (click)="activeModal.dismiss()"
  >
    {{ 'dossier.dialog.cancel' | translate }}
  </button>
  <button
    type="button"
    class="btn btn-primary"
    (click)="activeModal.close(selectedGradeId)"
  >
    {{ 'dossier.dialog.save' | translate }}
  </button>
</div>
