<div class="modal-body">
  <p data-testid="confirmation-message">
    {{
      canDeleteTest
        ? 'tests.form.confirm'
        : ('tests.form.delete-not-allowed' | translate)
    }}
  </p>
</div>
<div class="modal-footer">
  <button
    data-testid="cancel-button"
    type="button"
    class="btn btn-secondary"
    [hidden]="!canDeleteTest"
    (click)="activeModal.dismiss()"
  >
    {{ 'tests.dialog.no' | translate }}
  </button>

  <button
    data-testid="confirm-button"
    type="button"
    class="btn btn-primary"
    (click)="activeModal.close(canDeleteTest ? test : null)"
  >
    {{ (canDeleteTest ? 'tests.dialog.yes' : 'tests.dialog.ok') | translate }}
  </button>
</div>
