<div class="modal-body">
  <p data-testid="confirmation-message" *ngIf="!canDelete; else canBeDeleted">
    {{ 'tests.form.delete-not-allowed' | translate }}
  </p>
  <ng-template #canBeDeleted>
    <p data-testid="confirmation-message">
      {{ 'tests.form.confirm' | translate }}
    </p>
  </ng-template>
</div>
<div class="modal-footer">
  <button
    data-testid="cancel-button"
    type="button"
    class="btn btn-secondary"
    [hidden]="!canDelete"
    (click)="activeModal.dismiss()"
  >
    {{ 'tests.dialog.no' | translate }}
  </button>

  <button
    data-testid="confirm-button"
    type="button"
    class="btn btn-primary"
    (click)="activeModal.close(canDelete ? test : null)"
  >
    {{ (canDelete ? 'tests.dialog.yes' : 'tests.dialog.ok') | translate }}
  </button>
</div>
