<bkd-student-dossier-entry-description
  [entry]="entry()"
></bkd-student-dossier-entry-description>

@if (hasDocument()) {
  <div class="document-link">
    <i class="material-icons-outlined">remove_red_eye</i>
    <a
      (click)="openDocument()"
      (keydown.enter)="openDocument()"
      (keyup.space)="openDocument()"
      role="button"
      tabindex="0"
    >
      {{ "student.dossier.download" | translate }}
    </a>
  </div>
}

<bkd-student-dossier-entry-footer
  [entry]="entry()"
></bkd-student-dossier-entry-footer>
