@let info = entry().additionalInformation;

<bkd-student-dossier-entry-description
  [entry]="entry()"
></bkd-student-dossier-entry-description>

@if (documentUrl()) {
  <div class="document-link">
    <i class="material-icons-outlined">remove_red_eye</i>
    <a [href]="documentUrl()" target="_blank">
      {{ "student.dossier.download" | translate }}
    </a>
  </div>
}

<div class="footer">
  <div class="info">
    {{ "student.dossier.created" | translate }}:
    {{ info.CreationDate | date: "dd.MM.yyyy" }}
  </div>
  <bkd-student-dossier-edit-link
    [entry]="entry()"
  ></bkd-student-dossier-edit-link>
</div>
