@let sortedTests = (sortedTests$ | async) ?? [];

@if (sortedTests.length > 0) {
  <div>
    <bkd-dossier-grades-final-grade
      [finalGrade]="decoratedCourse.finalGrade"
      [grading]="decoratedCourse.grading"
      [gradingScale]="decoratedCourse.gradingScale"
      [average]="decoratedCourse.average"
    ></bkd-dossier-grades-final-grade>
    @for (test of sortedTests; track test.Id) {
      <bkd-dossier-single-test
        [test]="test"
        [studentId]="studentId()"
        [gradingScale]="getGradingScaleOfTest(test)"
        [isEditable]="isEditable()"
      ></bkd-dossier-single-test>
    }
  </div>
} @else {
  <p class="p-3" data-testid="message-no-tests">
    {{ "dossier.no-tests" | translate }}
  </p>
}
