<erz-dossier-grades-final-grade
  [finalGrade]="dossierGradeService.getFinalGradeForStudent(course, studentId)"
  [grading]="dossierGradeService.getGradingForStudent(course, studentId)"
  [gradingScale]="
    dossierGradeService.getGradingScaleOfCourse(course, gradingScales)
  "
></erz-dossier-grades-final-grade>
<div *ngIf="course.Tests?.length > 0; else noTests">
  <erz-dossier-single-test
    *ngFor="let test of course.Tests"
    [test]="test"
    [studentId]="studentId"
    [gradingScale]="getGradingScaleOfTest(test)"
  ></erz-dossier-single-test>
</div>
<ng-template #noTests>
  <p class="p-3" data-testid="message-no-tests">
    {{ 'dossier.no-tests' | translate }}
  </p>
</ng-template>
