@import "src/bootstrap-variables";

:host {
  display: block;
}

textarea:disabled {
  background-color: white;
}

textarea {
  min-width: 30ch;
}

@media (max-width: ($bkd-tests-mobile-breakpoint)) {
  textarea {
    min-width: auto;
  }
}
