<div
  class="erz-container erz-container-limited erz-container-padding-y"
  *erzLet="{
    formGroup: formGroup$ | async,
    unexcusedState: unexcusedState$ | async,
    excusedState: excusedState$ | async
  } as data"
>
  <div
    class="mb-3 pb-3 border-bottom"
    *erzLet="getSelectedCount() | async as selectedCount"
  >
    {{
      (selectedCount === 1
        ? 'open-absences.edit.lesson-selected'
        : 'open-absences.edit.lessons-selected'
      ) | translate: { count: selectedCount }
    }}
  </div>
  <form
    *ngIf="data.formGroup && data.unexcusedState && data.excusedState"
    [formGroup]="data.formGroup"
    (ngSubmit)="onSubmit()"
  >
    <div class="alert alert-danger" *ngFor="let error of formErrors$ | async">
      {{ 'global.validation-errors.' + error.error | translate: error.params }}
    </div>

    <div class="form-group pb-4">
      <div class="form-check mt-2 mb-3 pb-3 border-bottom">
        <input
          type="radio"
          class="form-check-input"
          id="excused"
          formControlName="confirmationValue"
          [value]="data.excusedState.Key"
        />
        <label class="form-check-label" for="excused">
          {{ data.excusedState.Value }}
        </label>
        <ng-container *ngIf="data.formGroup.get('absenceTypeId')">
          <div
            *ngFor="let type of absenceTypes$ | async; index as i"
            class="form-check my-3"
          >
            <input
              type="radio"
              class="form-check-input"
              [class.is-invalid]="(absenceTypeIdErrors$ | async).length > 0"
              [id]="'absence-type-' + i"
              formControlName="absenceTypeId"
              [value]="type.Id"
            />
            <label class="form-check-label" [for]="'absence-type-' + i">
              {{ type.Designation }}
            </label>
            <ng-container *ngIf="(absenceTypes$ | async)?.length - 1 === i">
              <div
                *ngFor="let error of absenceTypeIdErrors$ | async"
                class="invalid-feedback"
              >
                {{
                  'global.validation-errors.' + error.error
                    | translate: error.params
                }}
              </div>
            </ng-container>
          </div>
          <div class="remark">
            {{ 'open-absences.edit.remark' | translate }}
            <a [routerLink]="['/edit-absences']">
              {{ 'edit-absences.title' | translate }}
            </a>
          </div>
        </ng-container>
      </div>

      <div class="form-check mt-3 mb-3 pb-3 border-bottom">
        <input
          type="radio"
          class="form-check-input"
          id="unexcused"
          formControlName="confirmationValue"
          [value]="data.unexcusedState.Key"
        />
        <label class="form-check-label" for="unexcused">
          {{ data.unexcusedState.Value }}
        </label>
      </div>
    </div>

    <div class="d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-secondary"
        [disabled]="saving$ | async"
        (click)="cancel()"
      >
        {{ 'open-absences.edit.cancel' | translate }}
      </button>
      <button
        type="submit"
        class="btn btn-primary ms-2"
        [disabled]="saving$ | async"
      >
        {{ 'open-absences.edit.save' | translate }}
        <div
          *ngIf="saving$ | async"
          class="spinner-border spinner-border-sm align-middle"
          role="status"
        >
          <span class="visually-hidden">Loading...</span>
        </div>
      </button>
    </div>
  </form>
</div>
