@import "../../../../bootstrap-variables";

.list-header {
  cursor: pointer;
  display: flex;
  align-items: center;
  border-bottom: 2px solid $border-color;
  justify-content: space-between;
}

.name,
.status,
.registration-date {
  padding: $spacer;
}
