@import "src/bootstrap-variables";
@import "./contact-grid";

:host {
  display: block;
  width: 100%;
}

h2 {
  border-top: 1px solid $border-color;
  padding-top: $spacer;
  padding-left: $spacer;
}
