@import "src/bootstrap-variables";
@import "node_modules/bootstrap/scss/mixins";

.columns-dropdown {
  display: block;
  padding: $spacer 0;
}

.set-default {
  color: rgba($body-color, 0.5);
  padding-right: $btn-padding-x;
  display: inline-flex;
  text-decoration: none;
  padding-left: 1rem;

  span {
    text-decoration: underline;
  }

  span:hover {
    text-decoration-color: $accent;
  }

  i {
    margin-right: 0.3em;
  }
}

@media (min-width: ($bkd-tests-mobile-breakpoint + 1)) {
  .columns-dropdown {
    display: none;
  }
}

@media (max-width: $bkd-tests-mobile-breakpoint) {
  .set-default:not(.grade-column-selected) {
    display: none;
  }
}
