@import "../../../../bootstrap-variables";

.sortable-header {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-weight: 500;
}

.column-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.name,
.registration-date {
  padding: $spacer;
}

.name {
  flex: 3;
}

.registration-date {
  flex: 1;
}

@media (max-width: 750px) {
  .name {
    flex: 2;
  }

  .registration-date {
    flex: 1;
    white-space: nowrap;
  }
}
