@import "../../../../bootstrap-variables";

:host {
  display: flex;
}

:host > div {
  // Limit container's size to allow overflowing, if the projected
  // content is higher than the backlink (e.g. for buttons)
  height: calc(var(--bs-body-font-size) * var(--bs-body-line-height));
}

a {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  .label {
    text-decoration: underline;
    text-decoration-color: $accent;
  }
}
