<div class="erz-container erz-container-limited erz-container-padding-y">
  <div
    class="mb-3 pb-3 border-bottom"
    *erzLet="getSelectedCount() | async as selectedCount"
  >
    {{
      (selectedCount === 1
        ? 'my-absences.confirm.lesson-selected'
        : 'my-absences.confirm.lessons-selected'
      ) | translate: { count: selectedCount }
    }}
  </div>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="form-group mb-3 border-bottom">
      <label
        >{{ 'my-absences.confirm.choose-presence-type' | translate
        }}{{ ':' | addSpace: ':' }}</label
      >
      <div
        *ngFor="let type of absenceTypes$ | async; index as i"
        class="form-check my-3"
        [ngClass]="{ 'border-top pt-3': type.IsHalfDay }"
      >
        <input
          type="radio"
          class="form-check-input"
          [class.is-invalid]="(absenceTypeIdErrors$ | async).length > 0"
          [id]="'absence-type-' + i"
          formControlName="absenceTypeId"
          [value]="type.Id"
        />
        <label class="form-check-label" [for]="'absence-type-' + i">
          {{ type.Designation }}
        </label>
        <ng-container *ngIf="(absenceTypes$ | async)?.length - 1 === i">
          <div
            *ngFor="let error of absenceTypeIdErrors$ | async"
            class="invalid-feedback mt-4"
          >
            {{
              'global.validation-errors.' + error.error
                | translate: error.params
            }}
          </div>
        </ng-container>
      </div>
    </div>
    <div class="remark">
      {{ 'my-absences.confirm.remark' | translate }}
    </div>

    <div class="d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-secondary"
        [disabled]="saving$ | async"
        (click)="cancel()"
      >
        {{ 'my-absences.confirm.cancel' | translate }}
      </button>
      <button
        type="submit"
        class="btn btn-primary ms-2"
        [disabled]="saving$ | async"
      >
        {{ 'my-absences.confirm.save' | translate }}
        <div
          *ngIf="saving$ | async"
          class="spinner-border spinner-border-sm align-middle"
          role="status"
        >
          <span class="visually-hidden">Loading...</span>
        </div>
      </button>
    </div>
  </form>
</div>
