@if (loading()) {
  <bkd-spinner class="small"></bkd-spinner>
} @else {
  @if (informationEntries().length === 0 && dossierEntries().length === 0) {
    <p>{{ "student.dossier.no-entries" | translate }}</p>
  } @else {
    <div ngbAccordion>
      @if (informationEntries().length > 0) {
        <div ngbAccordionItem class="information-item">
          <bkd-student-dossier-entry-header icon="info_outlined">
            {{ "student.dossier.information" | translate }}
          </bkd-student-dossier-entry-header>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ng-template>
                <bkd-student-dossier-information-body
                  [informationEntries]="informationEntries()"
                  [disadvantageEntries]="disadvantageEntries()"
                ></bkd-student-dossier-information-body>
              </ng-template>
            </div>
          </div>
        </div>
      }

      @for (entry of dossierEntries(); track entry.id) {
        <div ngbAccordionItem>
          <bkd-student-dossier-entry-header
            [icon]="getEntryIcon(entry)"
            [category]="entry.category"
          >
            {{ entry.additionalInformation.Designation }}
          </bkd-student-dossier-entry-header>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ng-template>
                <div class="body">
                  <bkd-student-dossier-entry-body
                    [entry]="entry"
                  ></bkd-student-dossier-entry-body>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      }
    </div>
  }
}
