@import "src/bootstrap-variables";
@import "node_modules/bootstrap/scss/mixins";

:host {
  display: grid;
  padding: $spacer;
  border-bottom: 1px solid $border-color;
  grid-template-areas: "designation registrations";
  grid-template-columns: 4fr 2fr;
}

:host.with-ratings.with-date {
  grid-template-areas: "designation date registrations rating";
  grid-template-columns: 4fr 2fr 2fr 3fr;
}

:host.with-ratings:not(.with-date) {
  grid-template-areas: "designation registrations rating";
  grid-template-columns: 4fr 2fr 3fr;
}

:host.with-date:not(.with-ratings) {
  grid-template-areas: "designation date registrations";
  grid-template-columns: 4fr 2fr 2fr;
}

.designation {
  grid-area: designation;
  padding-right: $spacer;
}

.date {
  grid-area: date;
  padding-right: $spacer;
}

.registrations {
  grid-area: registrations;
  padding-right: $spacer;
}

.rating {
  grid-area: rating;

  a {
    text-decoration: none;
  }

  span {
    text-decoration: underline;
  }

  span:hover {
    text-decoration-color: $accent;
  }
}

.registrations-label {
  display: none;
}

@include media-breakpoint-down(sm) {
  .registrations-label {
    display: inline;
  }

  .designation,
  .date,
  .registrations {
    padding-right: 0;
  }

  :host {
    grid-template-areas:
      "designation"
      "date"
      "registrations"
      "rating";
    grid-template-columns: 1fr;
  }
}
