<div class="designation">
  <a [routerLink]="link().link" [queryParams]="link().params">{{
    event().designation
  }}</a>
</div>
<div class="date">
  @if (event().dateFrom && event().dateTo) {
    <span
      >{{ event().dateFrom | date: "dd.MM.yyyy" }}–<wbr />{{
        event().dateTo | date: "dd.MM.yyyy"
      }}</span
    >
  }
</div>
<div class="registrations">
  {{ event().studentCount }}
  <span class="registrations-label">{{
    (event().studentCount === 1
      ? "events.registration"
      : "events.registrations"
    ) | translate
  }}</span>
</div>
@if (withRatings() && event().evaluationText) {
  <div class="rating">
    @if (!event().evaluationLink) {
      <a class="d-flex" [routerLink]="[event().id, 'tests']">
        <i class="material-icons">arrow_right_alt</i>
        <span class="ps-1">{{ event().evaluationText }}</span>
      </a>
    }
    @if (event().evaluationLink) {
      <a class="d-flex" [routerLink]="['/events', event().id, 'evaluation']">
        <i class="material-icons">arrow_right_alt</i>
        <span class="ps-1">{{ event().evaluationText }} </span>
      </a>
    }
  </div>
}
