@import "../../../../../bootstrap-variables";

h1 {
  margin-bottom: 0;
}

.additional-info {
  color: $gray-500;
}

address {
  margin: $spacer 0;
}

.status {
  display: flex;
  align-items: center;
  padding: $spacer 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.detail {
  max-width: 70ch;
  padding-top: $spacer;

  h2 {
    margin: 0;
  }

  div {
    font-weight: normal;
    color: rgba($body-color, 0.5);
  }
}

.status-link {
  display: flex;
  align-items: center;
  padding: 0;
  cursor: pointer;
  text-decoration: none;

  .label {
    text-decoration: underline;
    text-decoration-color: $accent;
  }

  i:hover,
  i:focus {
    text-decoration: none;
  }
}
