@let loading = dashboardService.loading$ | async;
@let hasSearch = dashboardService.hasSearch$ | async;
@let hasActions = dashboardService.hasActions$ | async;
@let hasTimetable = dashboardService.hasTimetable$ | async;
<div>
  <h1
    [class.visually-hidden]="loading || hasSearch || hasActions || hasTimetable"
  >
    {{ "dashboard.heading" | translate }}
  </h1>
  @if (loading) {
    <bkd-spinner></bkd-spinner>
  }
  @if (!loading && !hasSearch && !hasActions && !hasTimetable) {
    <p>
      {{ "dashboard.no-access" | translate }}
    </p>
  }

  <div class="columns">
    @if (hasSearch || hasActions) {
      <div class="search-actions-column">
        @if (hasSearch) {
          <div>
            <h2>{{ "dashboard.search.title" | translate }}</h2>
            <bkd-dashboard-search></bkd-dashboard-search>
          </div>
        }
        @if (hasActions) {
          <div>
            <h2>{{ "dashboard.actions.title" | translate }}</h2>
            <bkd-dashboard-actions></bkd-dashboard-actions>
          </div>
        }
      </div>
    }
    @if (hasTimetable) {
      <div class="timetable-column">
        <h2>{{ "dashboard.timetable.title" | translate }}</h2>
        <bkd-dashboard-timetable></bkd-dashboard-timetable>
      </div>
    }
  </div>
</div>
