<div
  class="erz-container erz-container-limited erz-container-padding-y"
  *erzLet="{
    courseId: courseId$ | async,
    test: test$ | async,
    saving: saving$ | async
  } as data"
>
  <ng-container *ngIf="(state.loading$ | async) === false; else loading">
    <div class="d-flex justify-content-between align-items-center">
      {{ data.test.Designation }}
      <button type="button" class="btn btn-primary" (click)="delete(data.test)">
        <i class="material-icons">delete</i>
      </button>

      <button type="button" class="btn btn-primary" (click)="openDeleteModal()">
        <p>Open Delete Modal</p>
      </button>
    </div>
    <erz-tests-edit-form
      [courseId]="data.courseId"
      [test]="data.test"
      [saving]="data.saving"
      (save)="save($event)"
    ></erz-tests-edit-form>
  </ng-container>

  <ng-template #loading><erz-spinner></erz-spinner></ng-template>
</div>
