<div
  class="bkd-container bkd-container-limited"
  *bkdLet="{
    courseId: state.courseId$ | async,
    test: test$ | async,
    saving: saving$ | async
  } as data"
>
  <ng-container *ngIf="(state.loading$ | async) === false; else loading">
    <div class="d-flex justify-content-between align-items-center">
      <h1>
        {{ "tests.edit-title" | translate: { test: data.test.Designation } }}
      </h1>

      <button
        type="button"
        class="btn btn-primary btn-icon"
        (click)="openDeleteModal(data.test)"
      >
        <i class="material-icons">delete</i>
      </button>
    </div>
    <bkd-tests-edit-form
      [test]="data.test"
      [saving]="data.saving"
      (save)="save($event)"
    ></bkd-tests-edit-form>
  </ng-container>

  <ng-template #loading><bkd-spinner></bkd-spinner></ng-template>
</div>
