@let personValue = person();
<address class="mb-0">
  {{ personValue.LastName }} {{ personValue.FirstName }}<br />
  @if (personValue.AddressLine1) {
    {{ personValue.AddressLine1 }}<br />
  }
  @if (personValue.AddressLine2) {
    {{ personValue.AddressLine2 }}<br />
  }
  @if (personValue.Zip && personValue.Zip) {
    {{ personValue.Zip }} {{ personValue.Location }}<br />
  }
  @if (personValue.PhonePrivate) {
    <a href="tel:{{ personValue.PhonePrivate }}"
      >{{ personValue.PhonePrivate }}<br
    /></a>
  }
  @if (personValue.PhoneMobile) {
    <a href="tel:{{ personValue.PhoneMobile }}"
      >{{ personValue.PhoneMobile }}<br
    /></a>
  }
  @if (personValue | bkdPersonEmail) {
    <a href="mailto:{{ personValue | bkdPersonEmail }}">{{
      personValue | bkdPersonEmail
    }}</a>
  }
</address>
