@import "src/bootstrap-variables";
@import "node_modules/bootstrap/scss/mixins";
@import "./evaluation-table-common";

:host {
  border-top: 1px solid $border-color;
  display: block;
}

td {
  vertical-align: top;
}

tbody td.student-name {
  padding-top: $spacer + 0.25rem; // Align with form components

  &,
  * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  a {
    text-decoration: none;

    div:first-child {
      text-decoration: underline;
    }

    div:first-child:hover {
      text-decoration-color: $accent;
    }
  }
}

tr.criteria:hover > * {
  --bs-table-bg-state: $table-body-bg;
}

tr.criteria td {
  padding: 0;
  width: 100%; // Apparently the colspan does not work on mobile, so make the cell 100% wide
}

tr.criteria td > * {
  width: 100%;
}

tr:has(+ tr.criteria) td {
  border-bottom: 0;
}

button.criteria-toggle {
  display: none;
}

// Desktop view
@media (min-width: ($bkd-tests-mobile-breakpoint + 1)) {
  .table-responsive-wrapper {
    display: block;
    overflow-x: auto;
  }

  table {
    border-collapse: separate;
    border-spacing: 0;
  }

  .action-buttons {
    position: sticky;
    left: 0;
  }

  tr.criteria td {
    width: auto;
  }

  button.criteria-toggle {
    display: block;
    margin: $spacer * -0.5 0 $spacer * -0.5 $spacer * -0.5;
    padding: $spacer * 0.5;
    cursor: pointer;
  }

  // Make criteria field labels the same width as the student name and grade columns
  ::ng-deep {
    bkd-subscription-detail-label {
      min-width: auto !important;
      // TODO: The --subscription-detail-columns-offset should adapt to whether
      // the grade column is present or not. Currently, the criteria fields
      // don't align with the detail columns for events that have no grades but
      // criteria.
      width: calc(
        var(--subscription-detail-columns-offset) - $spacer
      ) !important;
    }
  }
}
