<div
  class="bkd-container bkd-container-limited"
  *bkdLet="{
    profile: profileService.profile$ | async,
  } as data"
>
  <h1 data-testid="profile-title">{{ "my-profile.title" | translate }}</h1>
  <ng-container
    *ngIf="(profileService.loading$ | async) === false; else loading"
  >
    <ng-container *ngIf="data.profile; else noProfile">
      <bkd-my-profile-header
        [student]="data.profile.student"
      ></bkd-my-profile-header>

      <div class="profile-content" data-testid="profile-content">
        <div class="profile-entries pt-3">
          <bkd-my-profile-entry
            *ngIf="data.profile.student.SocialSecurityNumber"
            label="my-profile.show.social-security-number"
            value="{{ data.profile.student.SocialSecurityNumber }}"
          >
          </bkd-my-profile-entry>

          <bkd-my-profile-entry
            *ngIf="
              data.profile.student.HomeTown || data.profile.student.Nationality
            "
            label="my-profile.show.hometown-nationality"
            value="{{
              data.profile.student.HomeTown || data.profile.student.Nationality
            }}"
          >
          </bkd-my-profile-entry>

          <bkd-my-profile-entry
            *ngIf="data.profile.student.NativeLanguage"
            label="my-profile.show.native-language"
            value="{{ data.profile.student.NativeLanguage }}"
          >
          </bkd-my-profile-entry>

          <bkd-my-profile-entry
            *ngIf="data.profile.stayPermitValue"
            label="my-profile.show.stay-permit"
            value="{{ data.profile.stayPermitValue }}"
          >
          </bkd-my-profile-entry>

          <bkd-my-profile-entry
            *ngIf="data.profile.student.StayPermitExpiry"
            label="my-profile.show.stay-permit-expiry"
            value="{{
              data.profile.student.StayPermitExpiry | date: 'mediumDate'
            }}"
          >
          </bkd-my-profile-entry>
        </div>

        <div ngbAccordion>
          <div ngbAccordionItem #studentAddress="ngbAccordionItem">
            <div ngbAccordionHeader>
              <bkd-student-dossier-entry-header
                [opened]="!studentAddress.collapsed"
                (click)="studentAddress.toggle()"
              >
                {{ "shared.profile.student-address" | translate }}
              </bkd-student-dossier-entry-header>
            </div>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  <div class="clearfix">
                    <a
                      class="btn btn-primary btn-icon float-end me-2"
                      routerLink="edit"
                      [attr.aria-label]="'my-profile.edit.title' | translate"
                    >
                      <i class="material-icons">edit</i>
                    </a>
                    <bkd-student-dossier-address
                      class="profile-entry"
                      [student]="data.profile.student"
                      emailProperty="Email2"
                    ></bkd-student-dossier-address>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>

          <div
            ngbAccordionItem
            #correspondenceAddress="ngbAccordionItem"
            *ngIf="data.profile.student.CorrespondenceAddress"
          >
            <div ngbAccordionHeader>
              <bkd-student-dossier-entry-header
                [opened]="!correspondenceAddress.collapsed"
                (click)="correspondenceAddress.toggle()"
              >
                {{ "shared.profile.correspondence-address" | translate }}
              </bkd-student-dossier-entry-header>
            </div>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  <bkd-my-profile-address
                    class="profile-entry"
                    [address]="data.profile.student.CorrespondenceAddress"
                  ></bkd-my-profile-address>
                </ng-template>
              </div>
            </div>
          </div>

          <div
            ngbAccordionItem
            #billingAddress="ngbAccordionItem"
            *ngIf="data.profile.student.BillingAddress"
          >
            <div ngbAccordionHeader>
              <bkd-student-dossier-entry-header
                [opened]="!billingAddress.collapsed"
                (click)="billingAddress.toggle()"
              >
                {{ "shared.profile.billing-address" | translate }}
              </bkd-student-dossier-entry-header>
            </div>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  <bkd-my-profile-address
                    class="profile-entry"
                    [address]="data.profile.student.BillingAddress"
                  ></bkd-my-profile-address>
                </ng-template>
              </div>
            </div>
          </div>

          <div
            ngbAccordionItem
            #legalRepresentatives="ngbAccordionItem"
            *ngIf="data.profile.legalRepresentativePersons.length > 0"
          >
            <div ngbAccordionHeader>
              <bkd-student-dossier-entry-header
                [opened]="!legalRepresentatives.collapsed"
                (click)="legalRepresentatives.toggle()"
              >
                {{ "shared.profile.legal-representation" | translate }}
              </bkd-student-dossier-entry-header>
            </div>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  <bkd-student-dossier-legal-representative
                    *ngFor="
                      let person of data.profile.legalRepresentativePersons
                    "
                    class="profile-entry"
                    [person]="person"
                  ></bkd-student-dossier-legal-representative>
                </ng-template>
              </div>
            </div>
          </div>

          <div
            [ngbAccordionItem]
            #apprenticeshipCompanies="ngbAccordionItem"
            *ngFor="
              let company of data.profile.apprenticeshipCompanies;
              let i = index
            "
          >
            <div ngbAccordionHeader>
              <bkd-student-dossier-entry-header
                [opened]="!apprenticeshipCompanies.collapsed"
                (click)="apprenticeshipCompanies.toggle()"
              >
                {{ "shared.profile.apprenticeship-company" | translate }}
                <ng-container
                  *ngIf="data.profile.apprenticeshipCompanies.length > 1"
                  >{{ i + 1 }}</ng-container
                >
              </bkd-student-dossier-entry-header>
            </div>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  <bkd-student-dossier-apprenticeship-company
                    class="profile-entry"
                    [company]="company"
                  ></bkd-student-dossier-apprenticeship-company>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ng-template #noProfile>
        <p data-testid="profile-none">
          {{ "shared.profile.no-profile" | translate }}
        </p>
      </ng-template>
    </ng-container>

    <ng-template #noProfile>
      <p
        *ngIf="(profileService.noAccess$ | async) === true"
        data-testid="profile-substitution"
      >
        {{ "shared.profile.substitution-profile" | translate }}
      </p>
      <p
        *ngIf="(profileService.noAccess$ | async) === false"
        data-testid="profile-none"
      >
        {{ "shared.profile.no-profile" | translate }}
      </p>
    </ng-template>
  </ng-container>

  <ng-template #loading>
    <bkd-spinner></bkd-spinner>
  </ng-template>
</div>
