@let profile = profileService.profile$ | async;

<div class="bkd-container bkd-container-limited">
  <h1 data-testid="profile-title">{{ "my-profile.title" | translate }}</h1>
  @if (profileService.loading$ | async) {
    <bkd-spinner></bkd-spinner>
  } @else if (!profile) {
    @if (profileService.noAccess$ | async) {
      <p data-testid="profile-substitution">
        {{ "shared.profile.substitution-profile" | translate }}
      </p>
    } @else {
      <p data-testid="profile-none">
        {{ "shared.profile.no-profile" | translate }}
      </p>
    }
  } @else {
    <bkd-my-profile-header [student]="profile.student"></bkd-my-profile-header>

    <div class="profile-content" data-testid="profile-content">
      <div class="profile-entries pt-3">
        @if (profile.student.SocialSecurityNumber) {
          <bkd-my-profile-entry
            label="my-profile.show.social-security-number"
            value="{{ profile.student.SocialSecurityNumber }}"
          >
          </bkd-my-profile-entry>
        }

        @if (profile.student.HomeTown || profile.student.Nationality) {
          <bkd-my-profile-entry
            label="my-profile.show.hometown-nationality"
            value="{{
              profile.student.HomeTown || profile.student.Nationality
            }}"
          >
          </bkd-my-profile-entry>
        }

        @if (profile.student.NativeLanguage) {
          <bkd-my-profile-entry
            label="my-profile.show.native-language"
            value="{{ profile.student.NativeLanguage }}"
          >
          </bkd-my-profile-entry>
        }

        @if (profile.stayPermitValue) {
          <bkd-my-profile-entry
            label="my-profile.show.stay-permit"
            value="{{ profile.stayPermitValue }}"
          >
          </bkd-my-profile-entry>
        }

        @if (profile.student.StayPermitExpiry) {
          <bkd-my-profile-entry
            label="my-profile.show.stay-permit-expiry"
            value="{{ profile.student.StayPermitExpiry | date: 'mediumDate' }}"
          >
          </bkd-my-profile-entry>
        }
      </div>

      <div ngbAccordion>
        <div ngbAccordionItem #studentAddress="ngbAccordionItem">
          <div ngbAccordionHeader>
            <bkd-student-dossier-entry-header
              [opened]="!studentAddress.collapsed"
              (click)="studentAddress.toggle()"
            >
              {{ "shared.profile.student-address" | translate }}
            </bkd-student-dossier-entry-header>
          </div>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ng-template>
                <div class="clearfix">
                  <a
                    class="btn btn-primary btn-icon float-end me-2"
                    routerLink="edit"
                    [attr.aria-label]="'my-profile.edit.title' | translate"
                  >
                    <i class="material-icons">edit</i>
                  </a>
                  <bkd-student-dossier-address
                    class="profile-entry"
                    [student]="profile.student"
                    emailProperty="Email2"
                  ></bkd-student-dossier-address>
                </div>
              </ng-template>
            </div>
          </div>
        </div>

        @if (profile.student.CorrespondenceAddress) {
          <div ngbAccordionItem #correspondenceAddress="ngbAccordionItem">
            <div ngbAccordionHeader>
              <bkd-student-dossier-entry-header
                [opened]="!correspondenceAddress.collapsed"
                (click)="correspondenceAddress.toggle()"
              >
                {{ "shared.profile.correspondence-address" | translate }}
              </bkd-student-dossier-entry-header>
            </div>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  <bkd-my-profile-address
                    class="profile-entry"
                    [address]="profile.student.CorrespondenceAddress"
                  ></bkd-my-profile-address>
                </ng-template>
              </div>
            </div>
          </div>
        }

        @if (profile.student.BillingAddress) {
          <div ngbAccordionItem #billingAddress="ngbAccordionItem">
            <div ngbAccordionHeader>
              <bkd-student-dossier-entry-header
                [opened]="!billingAddress.collapsed"
                (click)="billingAddress.toggle()"
              >
                {{ "shared.profile.billing-address" | translate }}
              </bkd-student-dossier-entry-header>
            </div>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  <bkd-my-profile-address
                    class="profile-entry"
                    [address]="profile.student.BillingAddress"
                  ></bkd-my-profile-address>
                </ng-template>
              </div>
            </div>
          </div>
        }

        @if (profile.legalRepresentativePersons.length > 0) {
          <div ngbAccordionItem #legalRepresentatives="ngbAccordionItem">
            <div ngbAccordionHeader>
              <bkd-student-dossier-entry-header
                [opened]="!legalRepresentatives.collapsed"
                (click)="legalRepresentatives.toggle()"
              >
                {{ "shared.profile.legal-representation" | translate }}
              </bkd-student-dossier-entry-header>
            </div>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  @for (
                    person of profile.legalRepresentativePersons;
                    track person.Id
                  ) {
                    <bkd-student-dossier-legal-representative
                      class="profile-entry"
                      [person]="person"
                    ></bkd-student-dossier-legal-representative>
                  }
                </ng-template>
              </div>
            </div>
          </div>
        }

        @for (
          company of profile.apprenticeshipCompanies;
          track company.apprenticeshipContract.Id;
          let i = $index
        ) {
          <div [ngbAccordionItem] #apprenticeshipCompanies="ngbAccordionItem">
            <div ngbAccordionHeader>
              <bkd-student-dossier-entry-header
                [opened]="!apprenticeshipCompanies.collapsed"
                (click)="apprenticeshipCompanies.toggle()"
              >
                {{ "shared.profile.apprenticeship-company" | translate }}
                @if (profile.apprenticeshipCompanies.length > 1) {
                  {{ i + 1 }}
                }
              </bkd-student-dossier-entry-header>
            </div>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  <bkd-student-dossier-apprenticeship-company
                    class="profile-entry"
                    [company]="company"
                  ></bkd-student-dossier-apprenticeship-company>
                </ng-template>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  }
</div>
