@import "src/bootstrap-variables";

:host {
  display: block;
  background-color: $dark-sand;
}

h6 {
  font-weight: $font-weight-semibold;
  font-size: $font-size-base;
}

bkd-student-dossier-entry-footer + h6 {
  margin-top: $spacer;
}
