<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
@let entries = state.entries$ | async;
@let loadingPage = state.loadingPage$ | async;

<bkd-my-absences-report-header
  [filter]="filterFromParams$ | async"
  (filterChange)="state.setFilter($event)"
></bkd-my-absences-report-header>

@if (state.isFilterValid$ | async) {
  @if (state.loading$ | async) {
    <bkd-spinner></bkd-spinner>
  } @else {
    @if ((entries && entries.length > 0) || loadingPage) {
      <div class="py-3">
        @if (entries && entries.length > 0) {
          <div>
            <div class="entries-all" #all (click)="onRowClick($event, all)">
              <div class="checkbox">
                <input
                  type="checkbox"
                  class="form-check-input"
                  [checked]="allSelected$ | async"
                  (change)="toggleAll($any($event.target)?.checked)"
                />
              </div>
              <div class="all">
                {{ "my-absences.report.list.all" | translate }}
              </div>
              <div class="buttons">
                <a
                  class="edit btn btn-primary btn-icon me-2"
                  [class.disabled]="
                    (selectionService.selection$ | async)?.length === 0
                  "
                  routerLink="confirm"
                >
                  <i class="material-icons">edit</i>
                </a>
              </div>
            </div>
            @for (entry of entries; track entry.Id) {
              <div class="entry" #row (click)="onRowClick($event, row)">
                @let category = getPresenceCategory(entry) | async;
                @if (!category) {
                  <div class="checkbox">
                    <input
                      #checkbox
                      type="checkbox"
                      class="form-check-input"
                      [checked]="selectionService.isSelected$(entry) | async"
                      (change)="selectionService.toggle(entry)"
                    />
                  </div>
                } @else {
                  <div
                    class="checkbox presence-category {{ category.category }}"
                  >
                    <i class="material-icons">{{ category.icon }}</i>
                  </div>
                }
                <div class="lesson-class">
                  {{ entry.EventDesignation }}
                  @if (entry.StudyClassNumber) {
                    , {{ entry.StudyClassNumber }}
                  }
                </div>
                <div class="time pe-2">
                  {{ entry.LessonDateTimeFrom | date: "HH:mm" }}–{{
                    entry.LessonDateTimeTo | date: "HH:mm"
                  }}
                </div>
                <div class="teacher">
                  {{ entry.TeacherInformation }}
                </div>
                @let presenceTypeDesignation =
                  getPresenceTypeDesignation(entry) | async;
                @if (presenceTypeDesignation) {
                  <div class="presence-type">
                    {{ presenceTypeDesignation }}
                  </div>
                }
                <div class="date">
                  {{ entry.LessonDateTimeFrom | date: "dd.MM.yyyy" }}
                </div>
                <div class="days-ago">
                  {{ entry.LessonDateTimeFrom | bkdDaysDifference }}
                </div>
                <div class="date-days-ago">
                  {{ entry.LessonDateTimeFrom | date: "dd.MM.yyyy" }},
                  {{ entry.LessonDateTimeFrom | bkdDaysDifference }}
                </div>
              </div>
            }
          </div>
        }
        @if (loadingPage) {
          <bkd-spinner class="inline"></bkd-spinner>
        }
      </div>
    } @else {
      <p class="mt-3">
        {{ "my-absences.report.no-entries" | translate }}
      </p>
    }
  }
} @else {
  <p class="mt-3">{{ "my-absences.report.no-filter" | translate }}</p>
}
