<div class="d-flex flex-column h-100 justify-content-between">
  <div
    (click)="toggleHeader()"
    class="test-designation d-flex flex-row mb-3 align-items-end justify-content-between pr-2"
  >
    <div [ngClass]="expanded ? 'expanded' : 'collapsed'">
      {{ test.Designation }}
    </div>
    <i class="material-icons align-self-start">{{
      expanded ? 'expand_more' : 'expand_less'
    }}</i>
  </div>
  <div>
    <div *ngIf="expanded" class="d-flex flex-column mb-3">
      <div class="d-flex flex-row justify-content-between">
        <div>{{ test.Date | date: 'dd.MM.yyyy' }}</div>
        <i
          *ngIf="test.IsOwner && test.IsPublished === false"
          class="material-icons mr-2"
          >edit</i
        >
      </div>
      <div>
        {{ test | testSummaryShort }}
      </div>
      <div class="test-owner">{{ test.Owner }}</div>
    </div>
    <div
      *ngIf="test.IsPublished; else notPublished"
      class="d-flex align-items-end"
    >
      <div class="d-flex justify-end">
        <i class="material-icons tooltip-published-icon mr-2">lock</i>
        {{ 'tests.published' | translate }}
      </div>
    </div>
    <ng-template #notPublished>
      <div class="d-flex align-items-end">
        <i class="material-icons tooltip-published-icon mr-2">lock_open</i>
        {{ 'tests.not-published' | translate }}
      </div>
    </ng-template>
  </div>
</div>
