@import "../../../../bootstrap-variables";

.collapsed {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.test-designation {
  display: none !important;
}

.test-status {
  order: -1;
  padding-bottom: $spacer;

  a {
    text-decoration: none;
  }

  a:hover {
    color: $body-color;
  }

  span {
    text-decoration: underline;
  }

  span:hover {
    text-decoration-color: $accent;
  }
}

.edit {
  color: rgba($body-color, 0.5);
  text-decoration: none;
}

@media (min-width: 750px) {
  .test-designation {
    display: inherit !important;
  }

  .test-status {
    order: initial;
  }

  .expand-mobile {
    display: none !important;
  }
}
