@if (dashboardService.hasPresenceControl$ | async) {
  <bkd-dashboard-action
    [label]="'dashboard.actions.presence-control'"
    [link]="['/presence-control']"
  ></bkd-dashboard-action>
}

@if (
  (dashboardService.hasLessonTeacherRole$ | async) &&
  (dashboardService.editAbsencesParams$ | async)
) {
  <bkd-dashboard-action
    [label]="'dashboard.actions.edit-absences'"
    [link]="['/edit-absences']"
    [linkParams]="dashboardService.editAbsencesParams$ | async"
    [count]="dashboardService.editAbsencesCount$ | async"
  ></bkd-dashboard-action>
}

@if (dashboardService.hasOpenAbsences$ | async) {
  <bkd-dashboard-action
    [label]="'dashboard.actions.open-absences'"
    [link]="['/open-absences']"
    [count]="dashboardService.openAbsencesCount$ | async"
  ></bkd-dashboard-action>
}

@if (dashboardService.hasTeacherRole$ | async) {
  <bkd-dashboard-action
    [label]="'dashboard.actions.tests'"
    [link]="['/events']"
  >
    @if ((dashboardService.coursesToRateCount$ | async) ?? 0 > 0) {
      <bkd-dashboard-deadline
        [count]="dashboardService.coursesToRateCount$ | async"
      ></bkd-dashboard-deadline>
    }
  </bkd-dashboard-action>
}

@if (dashboardService.hasStudentRole$ | async) {
  <bkd-dashboard-action
    [label]="'dashboard.actions.my-absences-report'"
    [link]="['/my-absences', 'report']"
  >
  </bkd-dashboard-action>
}

@if (dashboardService.hasStudentRole$ | async) {
  <bkd-dashboard-action
    [label]="'dashboard.actions.my-absences'"
    [link]="['/my-absences']"
    [count]="dashboardService.myAbsencesCount$ | async"
  ></bkd-dashboard-action>
}

@if (dashboardService.hasSubstituteAdministratorRole$ | async) {
  <bkd-dashboard-action
    [label]="'dashboard.actions.substitutions'"
    [externalLink]="substitutionsAdminLink"
  ></bkd-dashboard-action>
}
