@import "../../../../bootstrap-variables";

.back {
  color: $body-color;
  text-decoration: none;
}

.back:hover,
.back:active {
  span {
    text-decoration: underline;
  }
}

.group-list {
  padding-left: $spacer;
  padding-right: $spacer;
}

.group-list-header {
  cursor: pointer;
  padding: $spacer;
  display: grid;
  grid-template-areas: "name group";
  grid-template-columns: 3fr 2fr;
  border-top: 1px solid $gray-300;
  border-bottom: 2px solid $gray-300;
}

.group-list-entry {
  padding: $spacer;
  border-bottom: 1px solid $gray-200;
  display: grid;
  grid-template-areas: "checkbox name group";
  grid-template-columns: min-content 3fr 2fr;
}

.checkbox {
  grid-area: checkbox;
  margin: 0;
  padding: 0.6rem $spacer * 0.5 0 0;
}

.checkbox input.form-check-input {
  // Make the following statements !important since the are
  // overwritten in Evento as such
  position: static !important;
  margin: 0 !important;
  display: block;
}

.name {
  grid-area: name;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.group {
  grid-area: group;
}

@media (max-width: 750px) {
  .group-list {
    padding-left: 0;
    padding-right: 0;
  }

  .group-list-header {
    grid-template-columns: 3fr 1fr;
  }

  .group-list-entry {
    grid-template-columns: min-content 3fr 1fr;
  }
}
