<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
@let sortCriteria = sortCriteria$ | async;
@let sortedEntries = sortedEntries$ | async;
@let selection = (selectionService.selection$ | async) ?? [];
@let group = groupService.group$ | async;

<div>
  <bkd-backlink
    [link]="['/presence-control']"
    [params]="backlinkQueryParams$ | async"
  ></bkd-backlink>

  <h1>{{ "presence-control.groups.title" | translate }}</h1>

  <div class="group-header mb-2 d-flex justify-content-between">
    <div class="d-flex align-items-baseline">
      <span class="ps-3">{{ "presence-control.groups.show" | translate }}</span>
      <button type="button" class="show btn btn-link" (click)="selectGroup()">
        {{
          group
            ? ("presence-control.groups.group" | translate) + " " + group
            : ("presence-control.groups.all" | translate)
        }}
      </button>
    </div>
    <a
      class="btn btn-primary btn-icon me-2"
      (click)="assignGroup()"
      [class.disabled]="selection.length === 0"
      aria-label="edit"
    >
      <i class="material-icons">edit</i>
    </a>
  </div>

  <div class="group-list">
    <div class="group-list-header">
      @for (key of primarySortKeys; track key) {
        <div (click)="toggleSort(key)" [className]="key">
          {{ "presence-control.groups.list.header." + key | translate }}
          @if (sortCriteria) {
            <span class="sort-direction">{{
              getSortDirectionCharacter(sortCriteria, key)
            }}</span>
          }
        </div>
      }
    </div>

    @if (state.loading$ | async) {
      <bkd-spinner></bkd-spinner>
    } @else {
      @for (entry of sortedEntries; track entry.id) {
        <div class="group-list-entry">
          <div class="checkbox">
            <input
              #checkbox
              type="checkbox"
              class="form-check-input"
              [checked]="selectionService.isSelected$(entry) | async"
              (change)="selectionService.toggle(entry)"
            />
          </div>
          <div class="name pe-2">
            {{ entry.name }}
          </div>
          <div class="group d-flex justify-content-between">
            <span>{{ entry.group ? entry.group : "" }}</span>
            @if (groupService.loading$ | async) {
              <bkd-spinner class="inline small"></bkd-spinner>
            }
          </div>
        </div>
      }
    }
  </div>
</div>
