@import "../../../../bootstrap-variables";

h1 {
  margin-bottom: 0;
}

.font-color-light-gray {
  color: $gray-500;
}

.header {
  padding-bottom: $spacer;
  border-bottom: 1px solid $border-color;
}
