<div class="d-flex align-items-center justify-content-between header">
  <button
    type="button"
    class="back btn btn-link py-0 px-0"
    [routerLink]="['/events']"
  >
    <div class="d-flex align-items-center">
      <i class="material-icons pe-2">navigate_before</i>
      <div class="d-flex flex-column text-start">
        <div>
          {{ getDesignation() }}
        </div>
        <div class="font-color-light-gray" *ngIf="course.ParticipatingStudents">
          {{
            (course.ParticipatingStudents.length === 1
              ? 'courses.registration'
              : 'courses.registrations'
            ) | translate: { count: course.ParticipatingStudents.length }
          }}
        </div>
      </div>
    </div>
  </button>
  <div class="d-flex">
    <a routerLink="add" class="edit btn btn-primary ms-2">
      <i class="material-icons">add</i>
    </a>
    <a
      class="edit btn btn-primary ms-2"
      target="_blank"
      [href]="loadReportUrl()"
    >
      <i class="material-icons">description</i>
    </a>
  </div>
</div>
