@import "../../../../bootstrap-variables";

.back {
  color: $body-color;
  text-decoration: none;
}

.font-color-light-gray {
  color: $gray-500;
}

.header {
  border-bottom: 1px solid $gray-200;
}
