@import "../../../../bootstrap-variables";

.back {
  color: $body-color;
  text-decoration: none;
}

.font-color-light-gray {
  color: $gray-500;
}

.header {
  padding-bottom: $spacer;
  border-bottom: 1px solid $border-color;
}

@media (max-width: 750px) {
  .header {
    padding-right: $spacer;
    padding-left: calc($spacer / 2);
  }
}
