@import "src/bootstrap-variables";
@import "node_modules/bootstrap/scss/mixins";
@import "../evaluation-table/evaluation-table-common";

:host.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
}

tr th {
  border-top: none;
  vertical-align: top;
}

tr th.subscription-detail.absences {
  flex: 1;
}

// Desktop view
@media (min-width: ($bkd-evaluation-mobile-breakpoint + 1)) {
  :host.sticky.shown {
    display: table-header-group;
  }

  tr th {
    border-top: none;
    padding-top: calc($spacer / 4);
    padding-bottom: calc($spacer / 4);
    border-top: initial;
  }
}
