<div class="d-flex flex-column w-100">
  <div class="d-flex flex-row" [class.is-invalid]="pointsInput.errors">
    <div *ngIf="grade.test.IsPointGrading" class="point-input-container mr-3">
      <input
        #pointInput
        class="point-input form-control"
        type="number"
        step="0.01"
        min="0"
        max="{{ maxPoints }}"
        tabindex="{{ tabIndex }}"
        [formControl]="pointsInput"
        (input)="onChange(pointInput.value)"
      />
    </div>
    <div *ngIf="grade.kind === 'grade'">
      <erz-select
        [options]="gradeOptions$ | async"
        [allowEmpty]="false"
        [value]="grade.result.GradeId"
      >
      </erz-select>
    </div>
    <div *ngIf="grade.kind === 'no-result'">
      <erz-select [options]="gradeOptions$ | async" [allowEmpty]="true">
      </erz-select>
    </div>
  </div>
  <div *ngIf="pointsInput.errors" class="invalid-feedback">
    {{ 'global.validation-errors.invalidPoints' | translate: { maxPoints } }}
  </div>
</div>
