<div class="d-flex flex-column w-100">
  <div class="d-flex flex-row">
    <div
      *ngIf="grade.test.IsPointGrading"
      class="point-input-container me-2 me-md-3"
    >
      <input
        #points="ngModel"
        class="form-control"
        type="number"
        step="0.01"
        min="0"
        max="{{ maxPoints }}"
        [disabled]="grade.test.IsPublished"
        tabindex="{{ tabIndex }}"
        [ngModel]="grade.kind === 'grade' ? grade.result.Points : null"
        (ngModelChange)="onPointsChange(points.value)"
        [class.is-invalid]="points.errors"
        data-testid="point-input"
      />
      <div
        *ngIf="points.errors"
        class="invalid-feedback"
        data-testid="validation-error-message"
      >
        {{
          'global.validation-errors.invalidPoints' | translate: { maxPoints }
        }}
      </div>
    </div>
    <erz-select
      [options]="gradeOptions"
      [allowEmpty]="true"
      [value]="grade.kind === 'grade' ? grade.result.GradeId : null"
      [disabled]="gradingScaleDisabled$ | async"
      [tabindex]="tabIndex"
      (valueChange)="onGradeChange($event)"
      class="grade-select"
      data-testid="grade-select"
    >
    </erz-select>
  </div>
</div>
