@import "../../../../bootstrap-variables";

.avatar-person {
  display: flex;
  justify-content: space-between;
  padding-left: $spacer 0;
}

.person {
  align-self: center;
}

.email {
  padding-top: $spacer;
}

.report {
  align-self: flex-start;
  line-height: 1;
}
