<div
  class="bkd-container bkd-container-limited"
  *bkdLet="{
    loading: myGradesService.loading$ | async,
    studentId: myGradesService.studentId$ | async,
    courses: myGradesService.studentCoursesSorted$ | async,
    gradingScales: myGradesService.gradingScales$ | async,
  } as data"
>
  <h1>{{ "my-grades.title" | translate }}</h1>
  <bkd-my-grades-header></bkd-my-grades-header>
  <bkd-dossier-grades-view
    *ngIf="!data.loading"
    [courses]="data.courses"
    [studentId]="data.studentId"
    [gradingScales]="data.gradingScales"
    [isEditable]="false"
  ></bkd-dossier-grades-view>
  <ng-container *ngIf="data.loading">
    <bkd-spinner></bkd-spinner>
  </ng-container>
</div>
