@let courses = myGradesService.studentCoursesSorted$ | async;
@let studentId = myGradesService.studentId$ | async;
@let gradingScales = myGradesService.gradingScales$ | async;

<div class="bkd-container bkd-container-limited">
  <h1>{{ "my-grades.title" | translate }}</h1>
  <bkd-my-grades-header></bkd-my-grades-header>
  @if (myGradesService.loading$ | async) {
    <bkd-spinner></bkd-spinner>
  } @else {
    <bkd-dossier-grades-view
      [courses]="courses"
      [studentId]="studentId"
      [gradingScales]="gradingScales"
      [isEditable]="false"
    ></bkd-dossier-grades-view>
  }
</div>
