<div class="modal-body">
  <p>
    {{ 'presence-control.block-lesson.text' | translate }}
  </p>
  <form>
    <div
      *ngFor="let option of lessonPresenceOptions; let i = index"
      class="form-group form-check"
    >
      <input
        type="checkbox"
        class="form-check-input"
        id="lesson-presence-{{ i }}"
        [checked]="option.selected"
        (change)="option.selected = !option.selected"
      />
      <label
        class="form-check-label d-block text-truncate"
        [class.fw-bold]="
          option.lessonPresence.LessonDateTimeFrom ===
          entry.lessonPresence.LessonDateTimeFrom
        "
        for="lesson-presence-{{ i }}"
      >
        {{ option.lessonPresence.LessonDateTimeFrom | date: 'HH:mm' }}–{{
          option.lessonPresence.LessonDateTimeTo | date: 'HH:mm'
        }}
        {{ option.lessonPresence.EventDesignation }}</label
      >
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close()">
    {{ 'presence-control.block-lesson.cancel' | translate }}
  </button>
  <button
    type="button"
    class="btn btn-primary"
    (click)="activeModal.close(getSelectedLessonPresences())"
    [disabled]="getSelectedLessonPresences().length === 0"
  >
    {{ 'presence-control.block-lesson.save' | translate }}
  </button>
</div>
