<div *erzLet="state.presenceControlEntries$ | async as entries">
  <ng-container *ngIf="!(state.loading$ | async); else loading">
    <ng-container *ngIf="entries && entries.length > 0; else noEntries">
      <div class="content">
        <table class="table">
          <thead>
            <tr>
              <th><input type="checkbox" /></th>
              <th class="presence-category">
                {{ 'edit-absences.list.header.presence' | translate }}
              </th>
              <th>
                {{ 'edit-absences.list.header.student' | translate }}
                <br />
                {{ 'edit-absences.list.header.module-instance' | translate }},
                {{ 'edit-absences.list.header.study-class' | translate }}
              </th>
              <th>{{ 'edit-absences.list.header.time' | translate }}</th>
              <th>
                {{ 'edit-absences.list.header.confirmation-state' | translate }}
              </th>
              <th>
                {{ 'edit-absences.list.header.presence-type' | translate
                }}<br />
                {{ 'edit-absences.list.header.comment' | translate }}
              </th>
              <th>
                {{ 'edit-absences.list.header.date' | translate }}
              </th>
              <th>{{ 'edit-absences.list.header.teacher' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entry of entries">
              <td><input type="checkbox" /></td>
              <td class="presence-category">
                <span [className]="entry.presenceCategory">
                  <i class="material-icons">{{ entry.presenceCategoryIcon }}</i>
                </span>
              </td>
              <td>
                {{ entry.lessonPresence.StudentFullName }}
                <br />
                {{ entry.lessonPresence.EventDesignation }},
                {{ entry.lessonPresence.StudyClassNumber }}
              </td>
              <td>
                {{
                  entry.lessonPresence.LessonDateTimeFrom | date: 'shortTime'
                }}–{{
                  entry.lessonPresence.LessonDateTimeTo | date: 'shortTime'
                }}
              </td>
              <td>{{ entry.confirmationState?.Value }}</td>
              <td class="designation-comment">
                {{ entry.presenceType?.Designation }}<br />
                <span class="comment">{{ entry.lessonPresence.Comment }}</span>
              </td>
              <td>
                {{
                  entry.lessonPresence.LessonDateTimeFrom | date: 'mediumDate'
                }}
              </td>
              <td>{{ entry.lessonPresence.TeacherInformation }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
    <ng-template #noEntries>
      <p class="mt-3 py-3">{{ 'edit-absences.no-entries' | translate }}</p>
    </ng-template>
  </ng-container>
  <ng-template #loading>
    <erz-spinner></erz-spinner>
  </ng-template>
</div>
