@import "../../../../bootstrap-variables";

.edit {
  line-height: 1;
  font-size: $erz-icon-size;
}

.presence-category {
  text-align: center;
}

.presence-category .absent {
  color: $absent-color;
}

.presence-category .present {
  color: $present-color;
}

.presence-category .late {
  color: $late-color;
}

.presence-category .checkable {
  color: $checkable-color;
}

.designation-incident {
  max-width: 50ch;
}

.student {
  color: $body-color;
}

@media screen and (max-width: 820px) {
  .edit-absences-checkbox {
    text-align: left;
  }

  .presence-category {
    text-align: right;
  }

  .designation-incident {
    max-width: initial;
  }
}
