<div *erzLet="state.entries$ | async as entries">
  <ng-container *ngIf="!(state.loading$ | async); else loading">
    <ng-container *ngIf="entries && entries.length > 0; else noEntries">
      <div class="content">
        <table class="table">
          <thead>
            <tr>
              <th><input type="checkbox" /></th>
              <th>
                {{ 'edit-absences.list.header.presence' | translate }}
              </th>
              <th>
                <span>{{
                  'edit-absences.list.header.student' | translate
                }}</span
                >,
                {{ 'edit-absences.list.header.module-instance' | translate }},
                {{ 'edit-absences.list.header.study-class' | translate }}
              </th>
              <th>{{ 'edit-absences.list.header.time' | translate }}</th>
              <th>
                {{ 'edit-absences.list.header.confirmation-state' | translate }}
              </th>
              <th>
                {{ 'edit-absences.list.header.presence-type' | translate }},
                {{ 'edit-absences.list.header.comment' | translate }}
              </th>
              <th>
                {{ 'edit-absences.list.header.date' | translate }}
              </th>
              <th>{{ 'edit-absences.list.header.teacher' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entry of entries">
              <td><input type="checkbox" /></td>
              <td></td>
              <td>
                <span>{{ entry.StudentFullName }}</span
                >, {{ entry.EventDesignation }}, {{ entry.StudyClassNumber }}
              </td>
              <td>
                {{ entry.LessonDateTimeFrom | date: 'shortTime' }}–{{
                  entry.LessonDateTimeTo | date: 'shortTime'
                }}
              </td>
              <td></td>
              <td></td>
              <td>
                {{ entry.LessonDateTimeFrom | date: 'mediumDate' }}–{{
                  entry.LessonDateTimeTo | date: 'mediumDate'
                }}
              </td>
              <td>{{ entry.TeacherInformation }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
    <ng-template #noEntries>
      <p class="mt-3 py-3">{{ 'edit-absences.no-entries' | translate }}</p>
    </ng-template>
  </ng-container>
  <ng-template #loading>
    <erz-spinner></erz-spinner>
  </ng-template>
</div>
