<div class="designation">
  <a [href]="event.detailLink">{{ event.Designation }}</a>
</div>
<div class="date">
  <span *ngIf="event.dateFrom && event.dateTo"
    >{{ event.dateFrom | date: "dd.MM.yyyy" }}–<wbr />{{
      event.dateTo | date: "dd.MM.yyyy"
    }}</span
  >
</div>
<div class="registrations">
  {{ event.studentCount }}
  <span class="registrations-label">{{
    (event.studentCount === 1 ? "events.registration" : "events.registrations")
      | translate
  }}</span>
</div>
<div class="rating" *ngIf="withRatings && event.evaluationText">
  <a
    *ngIf="!event.evaluationLink"
    class="d-flex"
    [routerLink]="[event.id, 'tests']"
  >
    <i class="material-icons">arrow_right_alt</i>
    <span class="ps-1">{{ event.evaluationText }}</span>
  </a>
  <a *ngIf="event.evaluationLink" class="d-flex" [href]="event.evaluationLink">
    <i class="material-icons">arrow_right_alt</i>
    <span class="ps-1">{{ event.evaluationText }} </span>
  </a>
</div>
