<div
  class="erz-container erz-container-padding-y erz-container-padding-x-responsive"
>
  <ng-container *erzLet="{ tests: filteredTests$ | async } as data">
    <ng-container *ngIf="(state.loading$ | async) === false; else loading">
      <erz-tests-add-header [tests]="data.tests"></erz-tests-add-header>

      <erz-resettable-input
        class="d-flex search"
        [value]="state.search$ | async"
        [placeholder]="'tests.add.search-by' | translate"
        [label]="'tests.add.search' | translate"
        [disabled]="!data.tests"
        (valueChange)="state.search$.next($event)"
      ></erz-resettable-input>

      <ng-container *ngIf="data.tests?.length > 0; else addHint">
        <div class="entry-header">
          <div class="designation">
            {{ 'tests.add.designation' | translate }}
          </div>
          <div class="date">{{ 'tests.add.date' | translate }}</div>
          <div class="weight">{{ 'tests.add.weight' | translate }}</div>
          <div class="type">{{ 'tests.add.grading-type' | translate }}</div>
          <div class="state">{{ 'tests.add.state' | translate }}</div>
          <div class="edit"></div>
        </div>
        <erz-tests-add-entry
          *ngFor="let test of data.tests"
          [test]="test"
        ></erz-tests-add-entry>
      </ng-container>
      <ng-template #addHint>
        <p class="p-3">{{ 'tests.add.hint' | translate }}</p>
      </ng-template>
    </ng-container>

    <ng-template #loading><erz-spinner></erz-spinner></ng-template>
  </ng-container>
</div>
