<div
  class="erz-container erz-container-padding-y erz-container-padding-x-responsive"
>
  <ng-container *erzLet="{ tests: ownTests$ | async } as data">
    <ng-container *ngIf="(state.loading$ | async) === false; else loading">
      <erz-tests-add-header [tests]="data.tests"></erz-tests-add-header>

      <ng-container *ngIf="data.tests?.length > 0; else addHint">
        <ng-container *ngFor="let test of data.tests">
          <erz-tests-add-entry [test]="test"></erz-tests-add-entry>
        </ng-container>
      </ng-container>
      <ng-template #addHint>
        <p class="py-3">{{ 'tests.add.hint' | translate }}</p>
      </ng-template>
    </ng-container>

    <ng-template #loading><erz-spinner></erz-spinner></ng-template>
  </ng-container>
</div>
