@import "../../../../../bootstrap-variables";

#factor,
#max-points,
#max-points-adjusted {
  width: 5em;
}

.input-group-prepend button {
  padding: 0.375rem 0.75rem;
  background-color: var(--bs-tertiary-bg);
  border-color: $gray;
  border-radius: $input-border-radius;
  height: 100%;
}
