<div class="header-nav">
  <button
    class="previous-lesson btn btn-link"
    (click)="previousLesson.emit()"
    [disabled]="!hasPreviousLesson"
    [attr.aria-label]="'presence-control.header.previous-lesson' | translate"
  >
    <i class="material-icons">navigate_before</i>
  </button>
  <div class="header-info">
    <div class="header-info-content">
      <div class="header-info-datetime">
        <i class="calendar-icon material-icons">calendar_today</i
        ><span class="header-info-date">{{
          lesson.LessonDateTimeFrom | date: 'dd.MM.yyyy'
        }}</span
        >, {{ lesson.LessonDateTimeFrom | date: 'HH:mm' }}–{{
          lesson.LessonDateTimeTo | date: 'HH:mm'
        }}
      </div>
      <div class="header-info-lesson">
        {{ lesson.EventDesignation }},
        {{ lesson.StudyClassNumber }}
      </div>
    </div>
  </div>
  <button
    class="next-lesson btn btn-link"
    (click)="nextLesson.emit()"
    [disabled]="!hasNextLesson"
    [attr.aria-label]="'presence-control.header.next-lesson' | translate"
  >
    <i class="material-icons">navigate_next</i>
  </button>
</div>

<div class="header-states py-3">
  <div class="header-state present">
    <i class="material-icons">check_circle</i>
    <span class="count">{{ presentCount != null ? presentCount : '?' }}</span>
  </div>
  <div class="header-state absent">
    <i class="material-icons">cancel</i>
    <span class="count">{{ absentCount != null ? absentCount : '?' }}</span>
  </div>
  <div class="header-state late">
    <i class="material-icons">watch_later</i>
    <span class="count">{{ lateCount != null ? lateCount : '?' }}</span>
  </div>
</div>

<div class="header-searchviews pt-3">
  <div class="header-search input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="search-addon"
        ><i class="material-icons">search</i></span
      >
    </div>
    <input
      type="text"
      class="form-control"
      [attr.placeholder]="'presence-control.header.search-by-name' | translate"
      [attr.aria-label]="'presence-control.header.search' | translate"
      aria-describedby="search-addon"
      (keyup)="search.emit($event.target.value)"
    />
  </div>
  <div class="header-views">
    <button class="header-view btn btn-link">
      <i class="material-icons">list</i>
    </button>
    <button class="header-view btn btn-link active">
      <i class="material-icons">view_module</i>
    </button>
  </div>
</div>

<!-- <div>
     <input
     type="text"
     ngbDatepicker
     #d="ngbDatepicker"
     (dateSelect)="onDateSelect($event)"
     />
     <button class="btn btn-primary" (click)="d.toggle()">Toggle</button>
     </div> -->
