<div class="bkd-container">
  <h1>{{ "import.title" | translate }}</h1>

  @if (progress().validating > 0) {
    <p>{{ "import.validation.validating" | translate }}</p>
    <bkd-progress
      [total]="progress().total"
      [processed]="progress().valid + progress().invalid"
      [ariaLabel]="'import.validation.progress' | translate"
    ></bkd-progress>
  } @else {
    <div class="d-flex justify-content-end gap-3">
      <button class="btn btn-outline-secondary" routerLink="/import">
        {{ "import.validation.change-document" | translate }}
      </button>
      <button class="btn btn-primary" routerLink="/import/upload">
        {{ "import.validation.upload" | translate }}
      </button>
    </div>
    <table class="table mt-5">
      <thead>
        <tr>
          <th>
            {{ "import.subscription-details.columns.status" | translate }}
          </th>
          <th>{{ "import.subscription-details.columns.event" | translate }}</th>
          <th>
            {{ "import.subscription-details.columns.person" | translate }}
          </th>
          <th>
            {{
              "import.subscription-details.columns.subscription-detail"
                | translate
            }}
          </th>
          <th>{{ "import.subscription-details.columns.value" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        @for (entry of sortedImportEntries(); track $index) {
          <tr>
            <td class="align-middle">
              <bkd-import-entry-status
                [entry]="entry"
              ></bkd-import-entry-status>
            </td>
            <td>
              <bkd-import-entry-value
                [value]="getEventValue(entry)"
                [valid]="isValid(entry, ['eventId'])"
              ></bkd-import-entry-value>
            </td>
            <td>
              <bkd-import-entry-value
                [value]="getPersonValue(entry)"
                [valid]="isValid(entry, ['personId', 'personEmail'])"
              ></bkd-import-entry-value>
            </td>
            <td>
              <bkd-import-entry-value
                [value]="getSubscriptionDetailValue(entry)"
                [valid]="isValid(entry, ['subscriptionDetailId'])"
              ></bkd-import-entry-value>
            </td>
            <td class="value">
              <bkd-import-entry-value
                [value]="getValue(entry)"
                [valid]="isValid(entry, ['value'])"
              ></bkd-import-entry-value>
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
</div>
