<div class="designation">{{ test.Designation }}</div>
<div class="date">{{ test.Date | date: 'dd.MM.yyyy' }}</div>
<div class="weight">{{ test | erzTestWeight }}</div>
<div class="type">{{ test | erzTestGradingType }}</div>
<div class="weight-type">
  {{ test | erzTestWeight }}, {{ test | erzTestGradingType }}
</div>
<div class="state">
  {{
    (test.IsPublished ? 'tests.add.published' : 'tests.add.not-published')
      | translate
  }}
</div>
<div class="edit">
  <button type="button" class="btn btn-primary">
    <i class="material-icons">edit</i>
  </button>
</div>
