<div class="designation">{{ test.Designation }}</div>
<div class="date">{{ test.Date | date: 'dd.MM.yyyy' }}</div>
<div class="weight">{{ weight }}</div>
<div class="type">{{ gradingType }}</div>
<div class="weight-type">{{ weight }}, {{ gradingType }}</div>
<div class="state">
  {{
    test.IsPublished
      ? ('tests.add.published' | translate)
      : ('tests.add.not-published' | translate)
  }}
</div>
<div class="edit">
  <button type="button" class="btn btn-primary">
    <i class="material-icons">edit</i>
  </button>
</div>
