@import "src/bootstrap-variables";

:host {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: $spacer;
  border-top: 1px solid $border-color;
  cursor: pointer;
}

h5 {
  flex: auto;
}

button {
  color: $body-color;
  text-decoration: none;
}

.btn-link:hover {
  text-decoration: none;
}
