@import "src/bootstrap-variables";

:host {
  display: block;
  border-top: 1px solid $border-color;
}

.h5 {
  flex: auto;
}

.h5 button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  padding: $spacer;
  color: $body-color;
  text-decoration: none;
  cursor: pointer;

  &:focus-visible {
    outline: 2px solid $primary;
    outline-offset: -2px;
  }
}

.content {
  flex: auto;
}
