<address>
  {{ student.AddressLine1 }}<br />
  <ng-container *ngIf="student.AddressLine2">
    {{ student.AddressLine2 }}<br />
  </ng-container>
  {{ postalCode || "" }} {{ student.Location }}<br />
  <ng-container *ngIf="student.PhonePrivate">
    <a href="tel:{{ student.PhonePrivate }}">
      {{ student.PhonePrivate }}
    </a>
    <br />
  </ng-container>
  <ng-container *ngIf="student.PhoneMobile">
    <a href="tel:{{ student.PhoneMobile }}">
      {{ student.PhoneMobile }}
    </a>
    <br />
  </ng-container>
  <a *ngIf="email" href="mailto:{{ email }}">
    {{ email }}
  </a>
</address>
