<div
  class="bkd-container bkd-container-limited"
  *bkdLet="{
    absenceCounts: myAbsencesService.counts$ | async
  } as data"
>
  <h1>{{ "my-absences.title" | translate }}</h1>
  <div class="d-flex justify-content-between border-bottom header">
    <div>{{ "my-absences.description" | translate }}</div>
    <div class="ps-3">
      <bkd-reports-link
        [reports]="(allAbsencesReports$ | async) ?? []"
      ></bkd-reports-link>
    </div>
  </div>

  <div ngbAccordion>
    <div ngbAccordionItem>
      <div ngbAccordionHeader>
        <bkd-my-absences-report-link></bkd-my-absences-report-link>
      </div>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template></ng-template>
        </div>
      </div>
    </div>

    <div ngbAccordionItem #checkableAbsences="ngbAccordionItem">
      <div ngbAccordionHeader>
        <bkd-student-dossier-entry-header
          [opened]="!checkableAbsences.collapsed"
          (click)="checkableAbsences.toggle()"
        >
          {{ "shared.profile.checkable-absences" | translate }}
          <ng-container *ngIf="data.absenceCounts.checkableAbsences !== null"
            >({{ data.absenceCounts.checkableAbsences }})
          </ng-container>
        </bkd-student-dossier-entry-header>
      </div>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <bkd-student-dossier-absences
              [absences$]="myAbsencesService.checkableAbsences$"
            ></bkd-student-dossier-absences>
          </ng-template>
        </div>
      </div>
    </div>

    <div ngbAccordionItem #openAbsences="ngbAccordionItem">
      <div ngbAccordionHeader>
        <bkd-student-dossier-entry-header
          [opened]="!openAbsences.collapsed"
          (click)="openAbsences.toggle()"
        >
          {{ "shared.profile.open-absences" | translate }}
          <ng-container *ngIf="data.absenceCounts.openAbsences !== null"
            >({{ data.absenceCounts.openAbsences }})
          </ng-container>
        </bkd-student-dossier-entry-header>
      </div>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <bkd-student-dossier-absences
              [absences$]="myAbsencesService.openAbsences$"
              [selectionService]="absencesSelectionService"
              [defaultAbsenceSelectionMessage]="
                'my-absences.show.default-absence-selection-message' | translate
              "
              [reports]="(openAbsencesReports$ | async) ?? []"
            ></bkd-student-dossier-absences>
          </ng-template>
        </div>
      </div>
    </div>

    <div ngbAccordionItem #excusedAbsences="ngbAccordionItem">
      <div ngbAccordionHeader>
        <bkd-student-dossier-entry-header
          [opened]="!excusedAbsences.collapsed"
          (click)="excusedAbsences.toggle()"
        >
          {{ "shared.profile.excused-absences" | translate }}
          <ng-container *ngIf="data.absenceCounts.excusedAbsences !== null"
            >({{ data.absenceCounts.excusedAbsences }})
          </ng-container>
        </bkd-student-dossier-entry-header>
      </div>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <bkd-student-dossier-absences
              [absences$]="myAbsencesService.excusedAbsences$"
            ></bkd-student-dossier-absences>
          </ng-template>
        </div>
      </div>
    </div>

    <div ngbAccordionItem #unexcusedAbsences="ngbAccordionItem">
      <div ngbAccordionHeader>
        <bkd-student-dossier-entry-header
          [opened]="!unexcusedAbsences.collapsed"
          (click)="unexcusedAbsences.toggle()"
        >
          {{ "shared.profile.unexcused-absences" | translate }}
          <ng-container *ngIf="data.absenceCounts.unexcusedAbsences !== null"
            >({{ data.absenceCounts.unexcusedAbsences }})
          </ng-container>
        </bkd-student-dossier-entry-header>
      </div>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <bkd-student-dossier-absences
              [absences$]="myAbsencesService.unexcusedAbsences$"
              [displayPresenceType]="false"
            ></bkd-student-dossier-absences>
          </ng-template>
        </div>
      </div>
    </div>

    <div ngbAccordionItem #incidents="ngbAccordionItem">
      <div ngbAccordionHeader>
        <bkd-student-dossier-entry-header
          [opened]="!incidents.collapsed"
          (click)="incidents.toggle()"
        >
          {{ "shared.profile.incidents" | translate }}
          <ng-container *ngIf="data.absenceCounts.incidents !== null"
            >({{ data.absenceCounts.incidents }})
          </ng-container>
        </bkd-student-dossier-entry-header>
      </div>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <bkd-student-dossier-absences
              [absences$]="myAbsencesService.incidents$"
            ></bkd-student-dossier-absences>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
