<div
  class="erz-container erz-container-padding-y erz-container-padding-x-responsive"
  *erzLet="{
    absenceCounts: myAbsencesService.counts$ | async
  } as data"
>
  <div class="d-flex justify-content-between">
    <p>Hier können Sie Absenzen melden und Ihre offenen Absenzen bearbeiten.</p>
    <div class="buttons">
      <a
        class="report btn btn-primary mb-2"
        [class.disabled]="!allAbsencesReportUrl$"
        [href]="allAbsencesReportUrl$ | async"
        target="_blank"
      >
        <i class="material-icons">description</i>
      </a>
    </div>
  </div>

  <ngb-accordion #acc="ngbAccordion">
    <ngb-panel id="report-absence">
      <ng-template ngbPanelHeader>
        <erz-my-absences-report-link></erz-my-absences-report-link>
      </ng-template>
      <ng-template ngbPanelContent></ng-template>
    </ngb-panel>

    <ngb-panel id="checkable-absences">
      <ng-template ngbPanelHeader let-opened="opened">
        <erz-student-dossier-entry-header
          [opened]="opened"
          (click)="acc.toggle('checkable-absences')"
        >
          {{ 'shared.profile.checkable-absences' | translate }}
          <ng-container *ngIf="data.absenceCounts.checkableAbsences !== null"
            >({{ data.absenceCounts.checkableAbsences }})</ng-container
          >
        </erz-student-dossier-entry-header>
      </ng-template>
      <ng-template ngbPanelContent>
        <erz-student-dossier-absences
          [absences$]="myAbsencesService.checkableAbsences$"
        ></erz-student-dossier-absences>
      </ng-template>
    </ngb-panel>

    <ngb-panel id="open-absences">
      <ng-template ngbPanelHeader let-opened="opened">
        <erz-student-dossier-entry-header
          [opened]="opened"
          (click)="acc.toggle('open-absences')"
        >
          {{ 'shared.profile.open-absences' | translate }}
          <ng-container *ngIf="data.absenceCounts.openAbsences !== null"
            >({{ data.absenceCounts.openAbsences }})</ng-container
          >
        </erz-student-dossier-entry-header>
      </ng-template>
      <ng-template ngbPanelContent>
        <erz-student-dossier-absences
          [absences$]="myAbsencesService.openAbsences$"
          [selectionService]="absencesSelectionService"
          [defaultAbsenceSelectionMessage]="
            'my-absences.show.default-absence-selection-message' | translate
          "
          [reportUrl]="openAbsencesReportUrl$ | async"
          [reportAvailable]="openAbsencesReportAvailable$ | async"
        ></erz-student-dossier-absences>
      </ng-template>
    </ngb-panel>

    <ngb-panel id="excused-absences">
      <ng-template ngbPanelHeader let-opened="opened">
        <erz-student-dossier-entry-header
          [opened]="opened"
          (click)="acc.toggle('excused-absences')"
        >
          {{ 'shared.profile.excused-absences' | translate }}
          <ng-container *ngIf="data.absenceCounts.excusedAbsences !== null"
            >({{ data.absenceCounts.excusedAbsences }})</ng-container
          >
        </erz-student-dossier-entry-header>
      </ng-template>
      <ng-template ngbPanelContent>
        <erz-student-dossier-absences
          [absences$]="myAbsencesService.excusedAbsences$"
        ></erz-student-dossier-absences>
      </ng-template>
    </ngb-panel>

    <ngb-panel id="unexcused-absences">
      <ng-template ngbPanelHeader let-opened="opened">
        <erz-student-dossier-entry-header
          [opened]="opened"
          (click)="acc.toggle('unexcused-absences')"
        >
          {{ 'shared.profile.unexcused-absences' | translate }}
          <ng-container *ngIf="data.absenceCounts.unexcusedAbsences !== null"
            >({{ data.absenceCounts.unexcusedAbsences }})</ng-container
          >
        </erz-student-dossier-entry-header>
      </ng-template>
      <ng-template ngbPanelContent>
        <erz-student-dossier-absences
          [absences$]="myAbsencesService.unexcusedAbsences$"
          [displayPresenceType]="false"
        ></erz-student-dossier-absences>
      </ng-template>
    </ngb-panel>

    <ngb-panel id="incidents">
      <ng-template ngbPanelHeader let-opened="opened">
        <erz-student-dossier-entry-header
          [opened]="opened"
          (click)="acc.toggle('incidents')"
        >
          {{ 'shared.profile.incidents' | translate }}
          <ng-container *ngIf="data.absenceCounts.incidents !== null"
            >({{ data.absenceCounts.incidents }})</ng-container
          >
        </erz-student-dossier-entry-header>
      </ng-template>
      <ng-template ngbPanelContent>
        <erz-student-dossier-absences
          [absences$]="myAbsencesService.incidents$"
        ></erz-student-dossier-absences>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
