/* As the styles are encapsulated in the notification component (via ViewEncapsulation.ShadowDom),
 * the corresponding global styles must also be imported here.
 */
@import "../../../../bootstrap-variables";

:host {
  --bs-border-width: #{$border-width};
  --bs-border-style: #{$border-style};
  --bs-border-color: #{$border-color};

  position: relative;
}

// Configuration
@import "node_modules/bootstrap/scss/maps";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/utilities";

// Layout & components
@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/buttons";

// Utilities
@import "node_modules/bootstrap/scss/utilities/api";

.notifications-popup {
  position: absolute;
  margin-top: 10px;
  right: 0;
  z-index: 1000;
  display: none;
  min-width: 33vw;
  background-color: white;
}

@media (max-width: 800px) {
  .notifications-popup {
    position: fixed;
    min-width: auto;
    width: 100vw;
    right: 0;
  }
}

// used to enable scrollbar for popup-data (notifications), when view port height is small
.notifications-popup-data {
  max-height: calc(100vh - 145px); // 145px ≃ distance to popup-data from top
  overflow: auto;
}

.notifications-bell {
  color: black;
}

.notifications-bell-hidden {
  color: #ccc;
}

.notifications-bell-counter {
  margin-left: -10px;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 1.25px 6px;
  background-color: $accent;
  border-radius: 50%;
  box-shadow: 0 0 0 2px white;
}

.notifications-bell-counter-hidden {
  display: none;
}

.notifications-bell-counter-visible {
  display: inline;
}

.notifications-delete-notification {
  color: $primary;
}

hr {
  margin: 0;
}
