<div
  class="notifications-container"
  *erzLet="{
    notifications: notifications$ | async,
    notificationsCount: (notifications$ | async)?.length || 0,
    isAuthenticated: (isAuthenticated$ | async)
  } as data"
>
  <div
    (click)="toggleNotificationsPopup()"
    id="notifications-button"
    class="btn notifications-button p-0 m-0"
  >
    <i
      class="notifications-bell"
      [ngClass]="data.isAuthenticated ? '' : 'notifications-bell-hidden'"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="48px"
        viewBox="0 0 24 24"
        width="48px"
        fill="#000000"
      >
        <path
          d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.89 2 2 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z"
        />
      </svg>
    </i>
    <span
      id="notifications-bell-counter"
      class="notifications-bell-counter"
      [hidden]="data.notificationsCount < 1"
      [ngClass]="
        data.isAuthenticated
          ? 'notifications-bell-counter-visible'
          : 'notifications-bell-counter-hidden'
      "
      >{{ data.notificationsCount }}</span
    >
  </div>
  <div
    class="notifications-popup border"
    id="notifications-popup"
    #notificationspopup
  >
    <div>
      <div
        class="d-flex justify-content-between border-bottom p-3 align-items-center"
      >
        <h5 class="pe-3">
          {{ 'my-notifications.title' | translate }}
        </h5>
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="data.notificationsCount < 1"
          (click)="deleteAll()"
          id="notifications-delete-all"
        >
          {{ 'my-notifications.deleteAll' | translate }}
        </button>
      </div>
      <div
        *ngIf="data.notificationsCount > 0; else noNotifications"
        class="notifications-popup-data"
      >
        <div *ngFor="let entry of data.notifications" class="border-bottom p-3">
          <div class="d-flex justify-content-between">
            <div
              class="text-start pe-3"
              [innerHTML]="entry.subject | xss: xssOptions | safe: 'html'"
            ></div>
            <div
              class="text-end"
              [innerHTML]="entry.body | xss: xssOptions | safe: 'html'"
            ></div>
          </div>
          <div class="pt-1 text-end">
            <button
              type="button"
              (click)="deleteNotification(entry.id)"
              class="btn btn-link p-0 notifications-delete-notification"
            >
              <i class="material-icons">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="24px"
                  viewBox="0 0 24 24"
                  width="24px"
                >
                  <path d="M0 0h24v24H0z" fill="none" />
                  <path
                    d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"
                  />
                </svg>
              </i>
            </button>
          </div>
        </div>
      </div>
      <ng-template #noNotifications>
        <div class="d-flex p-3 align-items-center p-2">
          {{ 'my-notifications.none' | translate }}
        </div>
      </ng-template>
    </div>
  </div>
</div>
