<div
  class="d-flex align-items-center justify-content-between"
  *erzLet="selectionService.selection$ | async as selection"
>
  <button
    type="button"
    class="back btn btn-link p-3"
    [routerLink]="['/open-absences']"
  >
    <div class="d-flex align-items-center">
      <i class="material-icons">navigate_before</i>
      <span class="ml-3">{{ studentFullName$ | async }}</span>
    </div>
  </button>
  <a
    class="edit btn btn-primary mt-1 mb-2 mr-3"
    [class.disabled]="selection.length === 0"
    routerLink="/open-absences/confirm"
  >
    <i class="material-icons">edit</i>
  </a>
</div>

<div class="content">
  <div class="absence-all">
    <div class="checkbox" (click)="onRowClick($event, allCheckbox)">
      <input
        #allCheckbox
        type="checkbox"
        class="form-check-input"
        [checked]="allSelected$ | async"
        (change)="toggleAll($event.target.checked)"
      />
    </div>
    <div class="all">{{ 'open-absences.detail.all' | translate }}</div>
  </div>
  <div
    class="absence-entry"
    *ngFor="let absence of absences$ | async"
    (click)="onRowClick($event, checkbox)"
  >
    <div class="checkbox">
      <input
        #checkbox
        type="checkbox"
        class="form-check-input"
        [checked]="selectionService.isSelected$(absence) | async"
        (change)="selectionService.toggle(absence)"
      />
    </div>
    <div class="lesson-class">
      {{ absence.EventDesignation }}, {{ absence.StudyClassNumber }}
    </div>
    <div class="time pr-2">
      {{ absence.LessonDateTimeFrom | date: 'HH:mm' }}–{{
        absence.LessonDateTimeTo | date: 'HH:mm'
      }}
    </div>
    <div class="teacher">
      {{ absence.TeacherInformation }}
    </div>
    <div class="time">
      {{ absence.LessonDateTimeFrom | date: 'HH:mm' }}–{{
        absence.LessonDateTimeTo | date: 'HH:mm'
      }}
    </div>
    <div class="time-teacher">
      {{ absence.LessonDateTimeFrom | date: 'HH:mm' }}–{{
        absence.LessonDateTimeTo | date: 'HH:mm'
      }}, {{ absence.TeacherInformation }}
    </div>
    <div class="comment" *ngIf="absence.Comment">
      {{ absence.Comment }}
    </div>
  </div>
</div>
