<div
  class="d-flex align-items-center justify-content-between"
  *erzLet="selectionService.selection$ | async as selection"
>
  <button
    type="button"
    class="back btn btn-link p-3"
    [routerLink]="['/open-absences']"
  >
    <div class="d-flex align-items-center">
      <i class="material-icons">navigate_before</i>
      <span class="ml-3">{{ studentFullName$ | async }}</span>
    </div>
  </button>
</div>

<erz-student-profile-absences
  [absences$]="absences$"
  [selectionService]="selectionService"
  [confirmLink]="'/open-absences/confirm'"
  [displayEmail]="true"
></erz-student-profile-absences>
