:host {
  // Ensure absolute positioned children are placed relative to the
  // app component
  display: flex;
  justify-content: center;
  position: relative;
}

:host ::ng-deep > *:not(router-outlet) {
  flex: 1;
}
