@import "src/bootstrap-variables";
@import "node_modules/bootstrap/scss/mixins";

.search {
  max-width: 500px;
}

.event-header {
  display: grid;
  padding: $spacer;
  border-bottom: 2px solid $border-color;
  grid-template-areas: "designation registrations";
  grid-template-columns: 4fr 2fr;
  font-weight: 500;
}

@include media-breakpoint-down(sm) {
  .event-header {
    display: none;
  }
}
