<div class="p-3" *erzLet="state.entries$ | async as entries">
  <ng-container *ngIf="!(state.loading$ | async); else loading">
    <ng-container *ngIf="entries && entries.length > 0; else noEntries">
      <table
        class="table table-striped"
        matSort
        (matSortChange)="sortData($event)"
      >
        <thead>
          <tr>
            <th scope="col">
              {{ 'evaluate-absences.list.header.student' | translate }}
            </th>
            <th>{{ 'evaluate-absences.list.header.total' | translate }}</th>
            <th>
              {{ 'evaluate-absences.list.header.valid-excuse' | translate }}
            </th>
            <th>
              {{ 'evaluate-absences.list.header.without-excuse' | translate }}
            </th>
            <th>
              {{ 'evaluate-absences.list.header.unconfirmed' | translate }}
            </th>
            <th>{{ 'evaluate-absences.list.header.late' | translate }}</th>
            <th>{{ 'evaluate-absences.list.header.halfday' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entry of entries">
            <td data-label="NAME">{{ entry.StudentFullName }}</td>
            <td data-label="TOTAL">{{ entry.TotalAbsences }}</td>
            <td data-label="ENTSCHULDIGT">
              {{ entry.TotalAbsencesValidExcuse }}
            </td>
            <td data-label="UNENTSCHULDIGT">
              {{ entry.TotalAbsencesWithoutExcuse }}
            </td>
            <td data-label="OFFEN">{{ entry.TotalAbsencesUnconfirmed }}</td>
            <td data-label="VERSPÄTUNG">{{ entry.TotalIncidents }}</td>
            <td data-label="HALBTAGE">{{ entry.TotalHalfDays }}</td>
          </tr>
        </tbody>
      </table>
    </ng-container>
    <ng-template #noEntries>
      <p>{{ 'evaluate-absences.no-entries' | translate }}</p>
    </ng-template>
  </ng-container>
  <ng-template #loading>
    <erz-spinner></erz-spinner>
  </ng-template>
</div>
