<div
  class="p-3"
  *erzLet="{
    entries: state.entries$ | async,
    hasMore: state.hasMore$ | async,
    loadingPage: state.loadingPage$ | async
  } as data"
>
  <ng-container *ngIf="!(state.loading$ | async); else loading">
    <ng-container
      *ngIf="
        (data.entries && data.entries.length > 0) || data.loadingPage;
        else noEntries
      "
    >
      <table
        *ngIf="data.entries && data.entries.length > 0"
        class="table table-striped"
      >
        <thead>
          <tr>
            <th scope="col">
              {{ 'evaluate-absences.list.header.student' | translate }}
            </th>
            <th>{{ 'evaluate-absences.list.header.total' | translate }}</th>
            <th>
              {{ 'evaluate-absences.list.header.valid-excuse' | translate }}
            </th>
            <th>
              {{ 'evaluate-absences.list.header.without-excuse' | translate }}
            </th>
            <th>
              {{ 'evaluate-absences.list.header.unconfirmed' | translate }}
            </th>
            <th>{{ 'evaluate-absences.list.header.late' | translate }}</th>
            <th>{{ 'evaluate-absences.list.header.halfday' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entry of data.entries">
            <td
              [attr.data-label]="
                'evaluate-absences.list.header.student' | translate
              "
            >
              {{ entry.StudentFullName }}
            </td>
            <td
              [attr.data-label]="
                'evaluate-absences.list.header.total' | translate
              "
            >
              {{ entry.TotalAbsences }}
            </td>
            <td
              [attr.data-label]="
                'evaluate-absences.list.header.valid-excuse' | translate
              "
            >
              {{ entry.TotalAbsencesValidExcuse }}
            </td>
            <td
              [attr.data-label]="
                'evaluate-absences.list.header.without-excuse' | translate
              "
            >
              {{ entry.TotalAbsencesWithoutExcuse }}
            </td>
            <td
              [attr.data-label]="
                'evaluate-absences.list.header.unconfirmed' | translate
              "
            >
              {{ entry.TotalAbsencesUnconfirmed }}
            </td>
            <td
              [attr.data-label]="
                'evaluate-absences.list.header.late' | translate
              "
            >
              {{ entry.TotalIncidents }}
            </td>
            <td
              [attr.data-label]="
                'evaluate-absences.list.header.halfday' | translate
              "
            >
              {{ entry.TotalHalfDays }}
            </td>
          </tr>
        </tbody>
      </table>

      <erz-spinner class="inline" *ngIf="data.loadingPage"></erz-spinner>
      <button
        *ngIf="data.hasMore && !data.loadingPage"
        type="button"
        class="btn btn-secondary btn-sm d-block mx-auto"
        (click)="state.nextPage()"
      >
        {{ 'global.pagination.load-more' | translate }}
      </button>
    </ng-container>
    <ng-template #noEntries>
      <p>{{ 'evaluate-absences.no-entries' | translate }}</p>
    </ng-template>
  </ng-container>
  <ng-template #loading>
    <erz-spinner></erz-spinner>
  </ng-template>
</div>
