@import "../../../../bootstrap-variables";

th {
  cursor: pointer;
}

th.student {
  width: 30%;
}

.column-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.buttons {
  display: flex;
  justify-content: flex-end;

  .btn {
    line-height: 1;
    font-size: $erz-icon-size;
  }
}
