<bkd-button-group
  class="mt-3 mb-3"
  [options]="onlyMineOptions"
  [value]="onlyMineValue()"
  (valueChange)="onOnlyMineChange($event)"
>
</bkd-button-group>
<div class="hide-published">
  <div class="form-check">
    <input
      id="hide-published"
      class="form-check-input mb-3"
      type="checkbox"
      [checked]="filter().hidePublished"
      (change)="onHidePublishedChange($event)"
    />
    <label class="form-check-label" for="hide-published">
      {{ "tests.hide-published" | translate }}
    </label>
  </div>
</div>
