@import "../../../bootstrap-variables";
@import "node_modules/bootstrap/scss/mixins";

/**
 * Container with horizontal padding
 */
.erz-container {
  margin: 0 auto;
  padding: 0;
}

/**
 * Limit the container on large screens
  */
.erz-container-limited {
  max-width: $erz-container-max-width;
  margin-left: 0; // Should be left aligned because of the Evento integration
}
