.erz-container {
  max-width: $erz-container-max-width;
  margin: 0 auto;
  padding: 0 $erz-container-padding-x;
}

.erz-container-padding-y {
  padding-top: $erz-container-padding-y;
  padding-bottom: $erz-container-padding-y;
}
