.erz-container {
  margin: 0 auto;
  padding: 0 $erz-container-padding-x;
}

.erz-container-padding-y {
  padding-top: $erz-container-padding-y;
  padding-bottom: $erz-container-padding-y;
}

.form-check-label {
  margin-left: 0.5rem;
}

.ngb-dp-months {
  padding: 5px 30px 5px 29px;
  background: #f8f9fa;
}
