.table th {
  padding-top: $spacer / 4;
  padding-bottom: $spacer / 4;
  font-weight: 500;
}

.table-fixed {
  table-layout: fixed;
}

@media screen and (max-width: 820px) {
  bkd-evaluate-absences-list > div > table thead,
  bkd-edit-absences-list > div > table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  bkd-evaluate-absences-list > div > table tr,
  bkd-edit-absences-list > div > table tr {
    border-bottom: 2px solid #ddd;
    display: block;
  }
  bkd-evaluate-absences-list > div > table td,
  bkd-edit-absences-list > div > table td {
    border-bottom: 1px solid #ddd;
    display: block;
    text-align: right;
    min-height: 50px;
  }
  bkd-evaluate-absences-list > div > table td::before,
  bkd-edit-absences-list > div > table td::before {
    content: attr(data-label);
    float: left;
  }
}
