.table thead {
  background-color: $table-head-bg;
}

.table th {
  padding-top: $spacer / 4;
  padding-bottom: $spacer / 4;
  color: $table-head-color;
  font-size: $font-size-sm;
  font-weight: 300;
  text-transform: uppercase;
}

.table-fixed {
  table-layout: fixed;
}
