h1 {
  font-weight: $h1-font-weight;
  line-height: $h1-line-height;
  margin: $h1-margin;
}

h2 {
  font-weight: $h2-font-weight;
  line-height: $h2-line-height;
  margin: $h2-margin;
}

h3 {
  font-weight: $h3-font-weight;
  line-height: $h3-line-height;
  margin: $h3-margin;
}

h4 {
  font-weight: $h4-font-weight;
  line-height: $h4-line-height;
  margin: $h4-margin;
}

h5 {
  font-weight: $h5-font-weight;
  line-height: $h5-line-height;
  margin: $h5-margin;
}

h6 {
  font-weight: $h6-font-weight;
  line-height: $h6-line-height;
  margin: $h6-margin;
}
