<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<div class="row g-3 mb-5">
  <div class="col-md-6 col-lg-3">
    <label class="form-label">{{
      "edit-absences.header.student" | translate
    }}</label>
    <bkd-typeahead
      [typeaheadService]="studentsService"
      [(value)]="filter.student"
    ></bkd-typeahead>
  </div>

  <div class="col-md-6 col-lg-3">
    <label class="form-label">{{
      "edit-absences.header.module-instance" | translate
    }}</label>
    <bkd-typeahead
      [typeaheadService]="educationalEventsService"
      [(value)]="filter.educationalEvent"
    ></bkd-typeahead>
  </div>

  <div class="col-md-6 col-lg-3">
    <label class="form-label">{{
      "edit-absences.header.study-class" | translate
    }}</label>
    <bkd-typeahead
      [typeaheadService]="studyClassService"
      [(value)]="filter.studyClass"
      [additionalHttpParams]="this.classesHttpFilter"
    ></bkd-typeahead>
  </div>

  <div class="col-md-6 col-lg-3">
    <label class="form-label">{{
      "edit-absences.header.teacher" | translate
    }}</label>
    <bkd-typeahead
      [typeaheadService]="teacherResourcesService"
      [(value)]="filter.teacher"
    ></bkd-typeahead>
  </div>

  <div class="col-md-6 col-lg-3">
    <label class="form-label">{{
      "edit-absences.header.date-from" | translate
    }}</label>
    <bkd-date-select
      [value]="filter.dateFrom"
      (valueChange)="onDateFromChange($event)"
    ></bkd-date-select>
  </div>

  <div class="col-md-6 col-lg-3">
    <label class="form-label">{{
      "edit-absences.header.date-to" | translate
    }}</label>
    <bkd-date-select
      [value]="filter.dateTo"
      (valueChange)="onDateToChange($event)"
    ></bkd-date-select>
  </div>

  <div class="col-md-6 col-lg-3">
    <label class="form-label">{{
      "edit-absences.header.weekdays" | translate
    }}</label>
    <bkd-multiselect
      [options]="weekdaysGrouped$ | async"
      [(values)]="filter.weekdays"
    ></bkd-multiselect>
  </div>
</div>

<div class="row g-3 align-items-end">
  <div class="col-sm-12 col-md">
    <label class="form-label">{{
      "edit-absences.header.confirmation-state" | translate
    }}</label>
    <bkd-multiselect
      [options]="absenceConfirmationStatesGrouped$ | async"
      [(values)]="filter.confirmationStates"
    ></bkd-multiselect>
  </div>

  <div class="col-sm-12 col-md">
    <label class="form-label">{{
      "edit-absences.header.presence-type" | translate
    }}</label>
    <bkd-multiselect
      [options]="presenceTypesGrouped$ | async"
      [(values)]="filter.presenceTypes"
    ></bkd-multiselect>
  </div>

  <div class="col-sm-12 col-md">
    <label class="form-label">{{
      "edit-absences.header.incident" | translate
    }}</label>
    <bkd-multiselect
      [options]="incidentTypesGrouped$ | async"
      [(values)]="filter.incidentTypes"
    ></bkd-multiselect>
  </div>

  <div class="col-auto">
    <button type="button" class="btn btn-primary" (click)="show()">
      {{ "edit-absences.header.show" | translate }}
    </button>
  </div>
</div>
