@import "../../../../bootstrap-variables";
@import "node_modules/bootstrap/scss/mixins";

:host {
  display: flex;
  flex-direction: column;
  padding: $spacer;
  border-bottom: 1px solid $border-color;
}

.filters {
  display: flex;
  flex-wrap: wrap;
}
.form-group {
  flex: 1;
  min-width: 20rem;
  max-width: 40rem;
  margin-right: $spacer;
  margin-bottom: $spacer / 2;
}
.buttons {
  flex: none;
  margin-top: $font-size-base * $line-height-base + $label-margin-bottom;
  margin-right: 0;
}

/**
 * Wrap button to separate line on small screens
 */
@include media-breakpoint-down(sm) {
  .buttons {
    width: 100%;
    margin-top: $spacer;
    margin-bottom: $spacer;
  }
}
