<div class="modal-header">
  <h5 class="modal-title">
    {{ title | translate }}
  </h5>
</div>
<div class="modal-body">
  <form>
    @for (option of groupOptions; track option.id; let i = $index) {
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="groups"
          id="group-{{ i }}"
          [checked]="option.id === selected.id"
          [value]="option.id"
          (change)="onSelectionChange(option)"
        />
        <label class="form-check-label" for="group-{{ i }}">
          {{ option.label }}
        </label>
      </div>
    }
  </form>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-secondary"
    (click)="activeModal.dismiss()"
  >
    {{ "presence-control.groups.cancel" | translate }}
  </button>
  <button
    type="button"
    class="btn btn-primary"
    (click)="activeModal.close(getSelectedGroup())"
  >
    {{ "presence-control.groups.save" | translate }}
  </button>
</div>
