@import "../../../../bootstrap-variables";

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $spacer;
  cursor: pointer;
  border-bottom: 1px solid $border-color;
}

.btn {
  color: $body-color;
  text-decoration: none;
}
