@use "sass:math";

@import "../../../../bootstrap-variables";

erz-presence-control-entry {
  border-bottom: 1px solid $gray-200;
}

/**
 * Grid view mode (default layout is list view mode)
 */
.entries.view-mode-grid {
  display: flex;
  flex-wrap: wrap;

  > * {
    width: 100%;

    @for $i from 1 through 6 {
      @media (min-width: $erz-presence-control-entry-min-width*$i) {
        width: percentage(math.div(1, $i));
        border-right: 1px solid $gray-200;
      }
    }
  }
}
