<h1 class="mx-3">{{ 'presence-control.title' | translate }}</h1>
<ng-container
  *erzLet="{
    lesson: state.selectedLesson$ | async,
    lessons: state.lessons$ | async,
    entries: entries$ | async
  } as data"
>
  <ng-container *ngIf="(state.loading$ | async) === false; else loading">
    <erz-presence-control-header
      [selectedLesson]="data.lesson"
      [lessons]="data.lessons"
      [presentCount]="state.presentCount$ | async"
      [absentCount]="state.absentCount$ | async"
      [unapprovedCount]="state.unapprovedCount$ | async"
      [absentPrecedingCount]="state.absentPrecedingCount$ | async"
      [viewMode]="state.viewMode$ | async"
      [selectDate]="state.selectedDate$ | async"
      [search]="search$ | async"
      (searchChange)="search$.next($event)"
      (viewModeChange)="state.setViewMode($event)"
      (selectDateChange)="state.setDate($event)"
      (selectLessonChange)="state.setLessonId($event.id)"
    ></erz-presence-control-header>

    <ng-container *ngIf="data.lesson; else noLessons">
      <ng-container *ngIf="data.entries?.length > 0; else noLessonPresences">
        <div
          class="default-entries entries view-mode-{{
            state.viewMode$ | async
          }}"
        >
          <erz-presence-control-entry
            *ngFor="let entry of data.entries"
            [entry]="entry"
            [hasUnconfirmedAbsences]="
              state.hasUnconfirmedAbsences(entry) | async
            "
            [viewMode]="state.viewMode$ | async"
            [profileReturnParams]="{
              returnparams: (state.queryParamsString$ | async)
            }"
            (togglePresenceType)="togglePresenceType($event)"
            (changeIncident)="changeIncident($event)"
          ></erz-presence-control-entry>
        </div>
      </ng-container>

      <ng-template #noLessonPresences>
        <p class="mt-3 ps-3">
          {{ 'presence-control.no-lesson-presences' | translate }}
        </p>
      </ng-template>
    </ng-container>

    <ng-template #noLessons>
      <p class="mt-3 px-3">{{ 'presence-control.no-lessons' | translate }}</p>
    </ng-template>
  </ng-container>

  <ng-template #loading>
    <erz-spinner></erz-spinner>
  </ng-template>
</ng-container>
