<ng-container
  *erzLet="{
    lesson: state.selectedLesson$ | async,
    entries: entries$ | async,
    previouslyPresentEntries: previouslyPresentEntries$ | async,
    previouslyAbsentEntries: previouslyAbsentEntries$ | async
  } as data"
>
  <ng-container *ngIf="!(state.loading$ | async); else loading">
    <erz-presence-control-header
      [lesson]="data.lesson"
      [hasPreviousLesson]="!(state.isFirstLesson$ | async)"
      [hasNextLesson]="!(state.isLastLesson$ | async)"
      [presentCount]="state.presentCount$ | async"
      [absentCount]="state.absentCount$ | async"
      [lateCount]="state.lateCount$ | async"
      [viewMode]="state.viewMode$ | async"
      [selectDate]="state.selectedDate$ | async"
      [search]="search$ | async"
      (previousLesson)="state.previousLesson()"
      (nextLesson)="state.nextLesson()"
      (searchChange)="search$.next($event)"
      (viewModeChange)="state.setViewMode($event)"
      (selectDateChange)="state.setDate($event)"
    ></erz-presence-control-header>

    <ng-container *ngIf="data.lesson; else noLessons">
      <ng-container *ngIf="data.entries.length > 0; else noLessonPresences">
        <div
          *ngIf="data.previouslyAbsentEntries.length > 0"
          class="previously-absent-entries pt-1 px-2 pb-3"
        >
          <label class="mb-1">
            {{ 'presence-control.previously-absent' | translate }}
          </label>
          <div class="entries view-mode-{{ state.viewMode$ | async }}">
            <erz-presence-control-entry
              *ngFor="let entry of data.previouslyAbsentEntries"
              [entry]="entry"
              [viewMode]="state.viewMode$ | async"
              (togglePresenceType)="togglePresenceType($event)"
            ></erz-presence-control-entry>
          </div>
        </div>
        <div
          class="default-entries entries view-mode-{{
            state.viewMode$ | async
          }}"
        >
          <erz-presence-control-entry
            *ngFor="let entry of data.previouslyPresentEntries"
            [entry]="entry"
            [viewMode]="state.viewMode$ | async"
            (togglePresenceType)="togglePresenceType($event)"
          ></erz-presence-control-entry>
        </div>
      </ng-container>

      <ng-template #noLessonPresences>
        <p class="mt-3 pl-3">
          {{ 'presence-control.no-lesson-presences' | translate }}
        </p>
      </ng-template>
    </ng-container>

    <ng-template #noLessons>
      <p class="mt-3 pl-3">{{ 'presence-control.no-lessons' | translate }}</p>
    </ng-template>
  </ng-container>

  <ng-template #loading>
    <erz-spinner></erz-spinner>
  </ng-template>
</ng-container>
