@import "../../../../bootstrap-variables";

erz-presence-control-entry {
  border-bottom: 1px solid $gray-200;
}

.previously-absent-entries {
  background-color: lighten($absent-color, 40%);

  > label {
    display: block;
    font-size: $font-size-sm;
    font-weight: bold;
    text-align: center;
    color: $absent-color;
  }

  > .entries {
    background-color: $body-bg;
  }
}

/**
 * Grid view mode (default layout is list view mode)
 */
.entries.view-mode-grid {
  display: flex;
  flex-wrap: wrap;

  > * {
    width: 100%;

    @for $i from 1 through 6 {
      @media (min-width: $erz-presence-control-entry-min-width*$i) {
        width: percentage(1 / $i);
        border-right: 1px solid $gray-200;
      }
    }
  }
}
