@use "sass:math";

@import "../../../../bootstrap-variables";

bkd-presence-control-entry {
  border-bottom: 1px solid $border-color;
}

/**
 * Grid view mode (default layout is list view mode)
 */
.entries.view-mode-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax($bkd-presence-control-entry-min-width, 1fr)
  );

  > * {
    border-right: 1px solid $border-color;
  }
}

/**
 * Hide the right-most border in grid view by overflowing the .entries
 * container by the border width (1px)
 */
:host {
  display: block;
  overflow: hidden;
  width: 100%;
}

.entries.view-mode-grid {
  width: calc(100% + 1px); // Push right-most border outside of visible area
}
