@if (courses.length > 0) {
  <div ngbAccordion>
    @for (
      decoratedCourse of decoratedCoursesSubject$ | async;
      track decoratedCourse.course.Id;
      let i = $index
    ) {
      <div ngbAccordionItem>
        <bkd-student-entry-header>
          <bkd-student-grades-course-header
            [designation]="decoratedCourse.course.Designation"
            [finalGrade]="decoratedCourse.finalGrade"
            [grading]="decoratedCourse.grading"
            [gradingScale]="decoratedCourse.gradingScale"
            [average]="decoratedCourse.average"
          ></bkd-student-grades-course-header>
        </bkd-student-entry-header>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <bkd-student-grades-course
                [decoratedCourse]="decoratedCourse"
                [studentId]="studentId"
                [gradingScales]="gradingScales"
                [isEditable]="isEditable"
              ></bkd-student-grades-course>
            </ng-template>
          </div>
        </div>
      </div>
    }
  </div>
} @else {
  <p class="py-3" data-testid="message-no-courses">
    {{ "student.grades.no-courses" | translate }}
  </p>
}
