<div class="input-group">
  <span class="input-group-text" id="resettable-input"
    ><i class="material-icons">search</i></span
  >
  <input
    type="text"
    class="form-control"
    [class.has-value]="value()"
    [value]="value()"
    [disabled]="disabled()"
    [attr.placeholder]="placeholder()"
    [attr.aria-label]="label()"
    aria-describedby="resettable-input"
    (input)="value.set($any($event.target)?.value)"
  />
  @if (value()) {
    <button
      class="clear btn btn-link text-decoration-none"
      type="button"
      (click)="value.set('')"
    >
      <i class="material-icons">clear</i>
    </button>
  }
</div>
