<div class="modal-body">
  <p>
    {{ 'presence-control.preceding-absence.text' | translate }}
  </p>
  <div *ngFor="let absence of precedingAbsences">
    {{ absence.LessonRef.From | date: 'HH:mm' }}–{{
      absence.LessonRef.To | date: 'HH:mm'
    }}
    {{ absence.LessonRef.EventDesignation }}{{ ':' | addSpace: ':' }}
    {{ absence.Type }}
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-secondary"
    (click)="activeModal.dismiss()"
  >
    {{ 'presence-control.preceding-absence.cancel' | translate }}
  </button>
</div>
