@if (loading$ | async) {
  <bkd-spinner class="inline d-block mb-3"></bkd-spinner>
} @else {
  @if (((lessonPresences$ | async)?.length ?? 0) > 0) {
    @if (editable$ | async) {
      <div class="absence-all" (click)="onRowClick($event, allCheckbox)">
        <div class="checkbox">
          <input
            #allCheckbox
            type="checkbox"
            class="form-check-input"
            [checked]="allSelected$ | async"
            (change)="toggleAll($any($event.target)?.checked)"
          />
        </div>
        <div class="all">{{ "open-absences.detail.all" | translate }}</div>
        <div class="buttons">
          <a
            class="edit btn btn-primary btn-icon me-2"
            [class.disabled]="
              (selectionService?.selection$ | async)?.length === 0
            "
            routerLink="{{ confirmLink }}"
          >
            <i class="material-icons">edit</i>
          </a>
          @if (reports) {
            <bkd-reports-link
              [reports]="reports"
              [disableIfUnavailable]="true"
              class="me-2"
            ></bkd-reports-link>
          }
          @if (displayEmail) {
            <a
              class="mail btn btn-primary btn-icon me-2"
              href="mailto:{{ mailTo$ | async }}"
              target="_blank"
            >
              <i class="material-icons">mail</i>
            </a>
          }
        </div>
        @if (
          (defaultAbsenceSelectionMessage &&
            (selectionService?.selectedWithoutPresenceType$ | async)?.length) ||
          0 > 0
        ) {
          <div class="validation">
            {{ defaultAbsenceSelectionMessage }}
          </div>
        }
      </div>
    }
    @for (
      absence of lessonPresences$ | async;
      track absence.Id;
      let i = $index
    ) {
      <div class="absence-entry" (click)="onRowClick($event, i)">
        @if (editable$ | async) {
          <div class="checkbox">
            <input
              #checkbox
              type="checkbox"
              class="form-check-input"
              [checked]="selectionService?.isSelected$(absence) | async"
              (change)="selectionService?.toggle(absence)"
            />
          </div>
        }
        <div class="lesson-class">
          {{ absence.EventDesignation }}
          @if (absence.StudyClassNumber) {
            , {{ absence.StudyClassNumber }}
          }
        </div>
        <div class="time pe-2">
          {{ absence.LessonDateTimeFrom | date: "HH:mm" }}–{{
            absence.LessonDateTimeTo | date: "HH:mm"
          }}
        </div>
        <div class="teacher">
          {{ absence.TeacherInformation }}
        </div>
        @let presenceTypeDesignation =
          getPresenceTypeDesignation(absence) | async;
        @if (presenceTypeDesignation) {
          <div class="presence-type">
            {{ presenceTypeDesignation }}
          </div>
        }
        @if (
          displayPresenceType &&
          !presenceTypeDesignation &&
          defaultAbsenceSelectionMessage
        ) {
          <div class="presence-type confirm">
            {{ "my-absences.show.confirm-presence-type" | translate }}
          </div>
        }
        <div class="date">
          {{ absence.LessonDateTimeFrom | date: "dd.MM.yyyy" }}
        </div>
        <div class="days-ago">
          {{ absence.LessonDateTimeFrom | bkdDaysDifference }}
        </div>
        <div class="date-days-ago">
          {{ absence.LessonDateTimeFrom | date: "dd.MM.yyyy" }},
          {{ absence.LessonDateTimeFrom | bkdDaysDifference }}
        </div>
      </div>
    }
  } @else {
    <p class="mx-3">{{ "shared.profile.no-absences" | translate }}</p>
  }
}
