<div class="navigation">
  <div class="lesson-date">
    <button type="button" class="btn btn-link" (click)="d.toggle()">
      <i class="material-icons">calendar_today</i>
    </button>
    <input
      class="lesson-date-input"
      [ngModel]="selectDate"
      (ngModelChange)="selectDateChange.emit($event)"
      positionTarget=".lesson-date-input"
      ngbDatepicker
      placement="bottom-start"
      #d="ngbDatepicker"
    />
  </div>

  <div
    *ngIf="selectedLesson"
    class="lesson-time"
    (click)="lessonDropdown.toggle()"
  >
    {{ selectedLesson.LessonDateTimeFrom | date: "HH:mm" }}–<span
      class="lesson-time-to"
      >{{ selectedLesson.LessonDateTimeTo | date: "HH:mm" }}</span
    >
  </div>

  <div
    *ngIf="selectedLesson"
    ngbDropdown
    class="lesson-description"
    container="body"
    display="dynamic"
    placement="bottom"
  >
    <div id="lesson-dropdown" ngbDropdownToggle>
      <div class="text-truncate">{{ selectedLesson.eventDesignations }}</div>
      <div class="text-truncate">{{ selectedLesson.studyClassNumbers }}</div>
    </div>
    <div ngbDropdownMenu aria-labelledby="lesson-dropdown">
      <div
        *ngFor="let lessonEntry of lessons"
        [class.active]="lessonEntry.id === selectedLesson.id"
        ngbDropdownItem
        (click)="selectLessonChange.emit(lessonEntry)"
      >
        <div class="lesson-entry">
          <div>
            {{ lessonEntry.LessonDateTimeFrom | date: "HH:mm" }}–{{
              lessonEntry.LessonDateTimeTo | date: "HH:mm"
            }}
          </div>
          <div class="text-truncate">{{ lessonEntry.eventDesignations }}</div>
          <div class="text-truncate">{{ lessonEntry.studyClassNumbers }}</div>
        </div>
      </div>
    </div>
  </div>
  <erz-collapse
    *ngIf="lessons.length > 0"
    class="dropdown-caret"
    (click)="lessonDropdown?.toggle()"
    [expanded]="lessonDropdown?.isOpen() || false"
  >
  </erz-collapse>
</div>

<div class="states">
  <div class="state present">
    <i class="material-icons">check_circle</i>
    <span class="count">{{ presentCount !== null ? presentCount : "?" }}</span>
  </div>
  <div class="state absent">
    <i class="material-icons">cancel</i>
    <span class="count">{{ absentCount !== null ? absentCount : "?" }}</span>
  </div>
  <div class="state unapproved">
    <i class="material-icons">help</i>
    <span class="count">{{
      unapprovedCount !== null ? unapprovedCount : "?"
    }}</span>
  </div>
  <div class="state previously-absent">
    <i class="material-icons-outlined">info</i>
    <span class="count">{{
      absentPrecedingCount !== null ? absentPrecedingCount : "?"
    }}</span>
  </div>
</div>

<div class="search-and-views">
  <erz-resettable-input
    [value]="search"
    [disabled]="!selectedLesson"
    class="search"
    [placeholder]="'presence-control.header.search-by-name' | translate"
    [label]="'presence-control.header.search' | translate"
    (valueChange)="searchChange.emit($event)"
  ></erz-resettable-input>
  <div class="group-and-views d-flex align-items-center">
    <a
      *ngIf="selectedLesson && state.groupsAvailability$ | async"
      type="button"
      class="group btn me-xs-0 me-sm-4"
      [ngClass]="{
        'btn-link': (isGroupSelected$ | async) === false,
        'btn-danger': isGroupSelected$ | async
      }"
      [routerLink]="['groups', selectedLesson.id]"
      [queryParams]="{
        returnparams: (state.queryParamsString$ | async)
      }"
    >
      <i class="material-icons align-middle">groups</i>
    </a>
    <div class="views">
      <button
        type="button"
        *ngFor="let option of viewModeOptions"
        class="view btn btn-primary btn-icon"
        [disabled]="!selectedLesson"
        [class.btn-outline-secondary]="option.viewMode === viewMode"
        [class.btn-link]="option.viewMode !== viewMode"
        [class.active]="option.viewMode === viewMode"
        (click)="viewModeChange.emit(option.viewMode)"
      >
        <i class="material-icons align-middle">{{ option.icon }}</i>
      </button>
    </div>
  </div>
</div>
