<div class="navigation">
  <div class="lesson-date">
    <button type="button" class="btn btn-link" (click)="d.toggle()">
      <i class="material-icons">calendar_today</i>
    </button>
    <input
      class="lesson-date-input"
      [ngModel]="selectDate"
      (ngModelChange)="selectDateChange.emit($event)"
      placement="bottom"
      positionTarget=".navigation"
      ngbDatepicker
      #d="ngbDatepicker"
    />
  </div>

  <div
    *ngIf="selectedLesson"
    class="lesson-time"
    (click)="lessonDropdown.toggle()"
  >
    {{ selectedLesson.LessonDateTimeFrom | date: 'HH:mm' }}–<span
      class="lesson-time-to"
      >{{ selectedLesson.LessonDateTimeTo | date: 'HH:mm' }}</span
    >
  </div>

  <div
    *ngIf="selectedLesson"
    ngbDropdown
    class="lesson-description"
    container="body"
    display="dynamic"
    placement="bottom"
  >
    <div id="lesson-dropdown" ngbDropdownToggle>
      {{ selectedLesson.EventDesignation }},
      {{ selectedLesson.StudyClassNumber }}
    </div>
    <div ngbDropdownMenu aria-labelledby="lesson-dropdown">
      <div
        *ngFor="let lesson of lessons"
        [class.active]="lesson.LessonRef.Id === selectedLesson.LessonRef.Id"
        ngbDropdownItem
        (click)="selectLessonChange.emit(lesson)"
      >
        <div class="lesson-time-class">
          <span>
            {{ lesson.LessonDateTimeFrom | date: 'HH:mm' }}–{{
              lesson.LessonDateTimeTo | date: 'HH:mm'
            }}
          </span>
          {{ lesson.StudyClassNumber }}
        </div>
        <div class="lesson-designation">{{ lesson.EventDesignation }}</div>
      </div>
    </div>
  </div>
  <button
    type="button"
    *ngIf="lessons.length > 0"
    class="dropdown-caret btn btn-link"
    (click)="lessonDropdown?.toggle()"
  >
    <i class="material-icons">
      {{
        lessonDropdown?.isOpen() ? 'keyboard_arrow_up' : 'keyboard_arrow_down'
      }}
    </i>
  </button>
</div>

<div class="states">
  <div class="state present">
    <i class="material-icons">check_circle</i>
    <span class="count">{{ presentCount != null ? presentCount : '?' }}</span>
  </div>
  <div class="state absent">
    <i class="material-icons">cancel</i>
    <span class="count">{{ absentCount != null ? absentCount : '?' }}</span>
  </div>
  <div class="state unapproved">
    <i class="material-icons">help</i>
    <span class="count">{{
      unapprovedCount != null ? unapprovedCount : '?'
    }}</span>
  </div>
</div>

<div class="search-and-views">
  <erz-resettable-input
    [value]="search"
    [disabled]="!selectedLesson"
    class="search"
    [placeholder]="'presence-control.header.search-by-name' | translate"
    [label]="'presence-control.header.search' | translate"
    (valueChange)="searchChange.emit($event)"
  ></erz-resettable-input>
  <div class="views">
    <button
      type="button"
      *ngFor="let option of viewModeOptions"
      class="view btn"
      [disabled]="!selectedLesson"
      [class.btn-secondary]="option.viewMode === viewMode"
      [class.btn-link]="option.viewMode !== viewMode"
      [class.active]="option.viewMode === viewMode"
      (click)="viewModeChange.emit(option.viewMode)"
    >
      <i class="material-icons align-middle">{{ option.icon }}</i>
    </button>
  </div>
</div>
