@import "../../../../bootstrap-variables";

:host {
  display: flex;
  flex-direction: column;
  padding: 0.75 * $spacer 0;
}

/**
 * Navigation and lesson information
 */
.navigation {
  display: grid;
  grid-template-areas:
    ". date time dropdown-caret"
    ". description description dropdown-caret";
  grid-template-columns: 1fr auto auto 1fr;
  align-items: center;
}

.lesson-date {
  grid-area: date;
  justify-self: end;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  button {
    padding: 0 0.5ch 0 0;
  }
  i {
    color: $body-color;
    position: relative;
  }
}

.lesson-date-input {
  font-weight: 600;
  background: transparent;
  border: none;
  width: 11ch;
}

.lesson-time {
  grid-area: time;
  cursor: pointer;
}

.lesson-description {
  grid-area: description;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}

.dropdown-toggle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dropdown-toggle::after {
  // Hide the original caret icon in favor of our separate .dropdown-caret button
  display: none;
}

.dropdown-caret {
  grid-area: dropdown-caret;
  line-height: 100%;
  text-align: left;
  color: $body-color;
}

.dropdown-menu {
  width: 50ch;
  padding: 0;
  box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.2);
}
@media (max-width: 800px) {
  .dropdown-menu {
    width: 100vw;
  }
}

.dropdown-item {
  padding: $spacer;
  border-bottom: 1px solid $border-color;
}

/**
 * State counts (present, absent, unapproved, previously absent)
 */
.states {
  margin: 0.75 * $spacer 0;
  display: flex;
  justify-content: center;
}

.state {
  margin-right: 7%;
  display: flex;
}
.state:last-child {
  margin-right: 0;
}
@media (min-width: 1000px) {
  .state {
    margin-right: 4 * $spacer;
  }
}

.state.present i {
  color: $present-color;
}
.state.absent i {
  color: $absent-color;
}
.state.unapproved i {
  color: $unapproved-color;
}

.state.previously-absent i {
  color: rgba($body-color, 0.5);
}

.state .count {
  margin-left: 0.3em;
  margin-top: 1px;
}

/**
 * Search input and views switcher
 */
.search-and-views {
  padding-top: 0.75 * $spacer;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $border-color;
}
.search {
  flex: auto;
  max-width: 300px;
  margin-right: $spacer;
}

.views {
  display: flex;
}
.view {
  color: $gray-dark;
  background-color: white;

  &.active {
    color: white;
    background-color: $gray-dark;
    border: none;
  }
}

.group {
  color: $gray-600;
}

/**
 * Optimizations for tiny screens (small mobile phones)
 */
@media (max-width: 380px) {
  :host {
    padding-left: 0.5 * $spacer;
    padding-right: 0.5 * $spacer;
  }

  #search-addon {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
@media (max-width: 365px) {
  // Wrap time to, to be even more compact on small phones
  .lesson-time {
    line-height: 1;
  }
  .lesson-time-to {
    display: block;
  }

  .dropdown-caret {
    padding-left: 0;
  }
}
