<div class="modal-header">
  <h5 class="modal-title">
    {{
      "events-students.study-course-detail.status-update-modal.title"
        | translate
    }}
  </h5>
</div>
<div class="modal-body">
  @if (loading()) {
    <bkd-spinner></bkd-spinner>
  } @else {
    <form>
      @for (option of statusList(); track option.IdStatus; let i = $index) {
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="status"
            id="status-{{ i }}"
            [checked]="option.IdStatus === initialStatus()?.IdStatus"
            [value]="option.IdStatus"
            (change)="onSelectionChange(option)"
          />
          <label class="form-check-label" for="status-{{ i }}">
            {{ option.Status }}
          </label>
        </div>
      }
    </form>
  }
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-secondary"
    (click)="activeModal.dismiss()"
  >
    {{
      "events-students.study-course-detail.status-update-modal.cancel"
        | translate
    }}
  </button>
  <button
    type="button"
    class="btn btn-primary"
    (click)="activeModal.close(updateStatus())"
  >
    {{
      "events-students.study-course-detail.status-update-modal.save" | translate
    }}
  </button>
</div>
