<erz-avatar
  *ngIf="!isListViewMode"
  [studentId]="studentId$ | async"
  [link]="['/presence-control/detail', entry.lessonPresence.StudentRef.Id]"
  class="mr-3 large"
></erz-avatar>
<div class="content">
  <button
    (click)="togglePresenceType.emit(entry)"
    class="presence-category-button btn btn-link"
  >
    <div class="presence-category">
      <span
        *ngIf="
          entry.presenceType?.IsDispensation === 1 ||
          entry.presenceType?.IsHalfDay === 1
        "
        class="presence-category-designation"
        >{{ entry.presenceType?.Designation }}</span
      >
      <i class="material-icons">{{ presenceCategoryIcon }}</i>
    </div>
  </button>
  <a
    [routerLink]="[
      '/presence-control/detail',
      entry.lessonPresence.StudentRef.Id
    ]"
    class="student-name"
    >{{ entry.lessonPresence.StudentFullName }}</a
  >
  <a
    *ngIf="
      entry.presenceCategory === 'absent' ||
      entry.presenceCategory === 'late' ||
      (entry.presenceCategory === 'present' &&
        entry.presenceType?.IsComment === 1)
    "
    class="comment mt-3"
    [routerLink]="[
      '/presence-control/comment',
      entry.lessonPresence.StudentRef.Id,
      entry.lessonPresence.LessonRef.Id
    ]"
  >
    <i class="material-icons">notes</i>
    <span>{{
      entry.lessonPresence.PresenceComment ||
        ('presence-control.entry.comment' | translate)
    }}</span>
  </a>
</div>
