<erz-avatar
  *ngIf="!isListViewMode"
  [studentId]="studentId$ | async"
  [link]="['/presence-control/student', entry.lessonPresence.StudentRef.Id]"
  class="avatar large"
></erz-avatar>
<button
  type="button"
  *ngIf="entry.showDesignation"
  (click)="updatePresenceType(entry)"
  class="presence-category designation btn btn-link"
>
  <span *ngIf="!entry.presenceType?.IsIncident">{{
    entry.presenceType?.Designation
  }}</span>
</button>
<button
  type="button"
  (click)="updatePresenceType(entry)"
  class="presence-category status btn btn-link"
>
  <i class="material-icons">{{ entry.presenceCategoryIcon }}</i>
</button>
<a
  [routerLink]="[
    '/presence-control/student',
    entry.lessonPresence.StudentRef.Id
  ]"
  [queryParams]="profileReturnParams"
  class="student-name"
>
  {{ entry.lessonPresence.StudentFullName }}
  <span class="unconfirmed-absences">
    {{
      hasUnconfirmedAbsences
        ? ('presence-control.entry.unconfirmed-absences' | translate)
        : ''
    }}
  </span>
</a>
<a
  *ngIf="entry.canChangeIncident"
  class="incident btn btn-link"
  (click)="updateIncident(entry)"
>
  <i class="material-icons">edit</i>
  <span>{{
    (entry.presenceType?.IsIncident && entry.presenceType?.Designation) ||
      'presence-control.entry.incident' | translate
  }}</span>
</a>
