@import "../../../../bootstrap-variables";

/* autoprefixer grid: on */

:host {
  padding: 2 * $spacer $spacer;
  background-color: $body-bg;
  display: grid;
  grid-template-areas:
    "avatar designation status"
    "avatar student-name student-name"
    "avatar comment comment";
  grid-template-columns: min-content 1fr min-content;
}

:host > * {
  align-self: center;
}

.presence-category {
  text-decoration: none;
}

.presence-category i {
  position: relative;
  top: $btn-padding-y / 2;
}

:host.absent .presence-category {
  color: $absent-color;
}

:host.present .presence-category {
  color: $present-color;
}

:host.late .presence-category {
  color: $late-color;
}

.designation,
.student-name,
a.comment,
.comment span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.avatar {
  grid-area: avatar;
}

.designation {
  padding-top: 0;
  padding-bottom: 0;
  grid-area: designation;
}

.status {
  padding-left: 0;
  grid-area: status;
}

.student-name {
  color: $body-color;
  grid-area: student-name;
  display: flex;
}

.comment {
  color: rgba($body-color, 0.5);
  padding-right: $btn-padding-x;
  grid-area: comment;
  display: flex;
}

.comment i {
  margin-right: 0.3em;
}

// List layout
:host.list {
  grid-template-areas: "student-name commentordesignation status";
  grid-template-columns: 1fr 2fr min-content;
  padding: 0.5rem 0.5rem 0.5rem 1rem; //  $spacer / 2;

  .comment,
  .designation {
    grid-area: commentordesignation;
  }

  @media (max-width: 750px) {
    grid-template-areas:
      "student-name status"
      "commentordesignation commentordesignation";
    grid-template-columns: 1fr min-content;
  }
}

:host-context(.ie11) {
  // To force generation of missing -ms-grid-column-span property
  .comment,
  .designation {
    grid-column: span 1;
  }

  @media (max-width: 750px) {
    .comment,
    .designation {
      grid-column: span 2;
    }
  }
}
