@import "../../../../bootstrap-variables";

/* autoprefixer grid: on */

:host {
  padding: 2 * $spacer $spacer;
  background-color: $body-bg;
  display: grid;
  grid-template-areas:
    "avatar status designation"
    "avatar student-name student-name"
    "avatar incident incident";
  grid-template-columns: min-content min-content 1fr;
}

:host > * {
  align-self: center;
}

.presence-category {
  text-decoration: none;
}

.presence-category i {
  position: relative;
  top: $btn-padding-y / 2;
}

:host.absent .presence-category {
  color: $absent-color;
}

:host.present .presence-category {
  color: $present-color;
}

:host.late .presence-category {
  color: $late-color;
}

:host.checkable .presence-category {
  color: $checkable-color;
}

.designation,
.student-name,
a.incident,
.incident span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.avatar {
  grid-area: avatar;
  margin-right: 1.5 * $spacer;
}

$presence-control-status-size: 2.75rem;
.status {
  grid-area: status;
}
.status .material-icons {
  font-size: $presence-control-status-size;
}

.designation {
  grid-area: designation;
  text-align: left;
  line-height: $presence-control-status-size + $btn-padding-y;
}

.student-name {
  color: $body-color;
  grid-area: student-name;
  display: flex;
  flex-direction: column;
}

$presence-control-unconfimed-absences-size: 1.1rem;
.unconfirmed-absences {
  color: $absent-color;
  font-size: $presence-control-unconfimed-absences-size;
  line-height: 1;
}

.incident {
  color: rgba($body-color, 0.5);
  padding-right: $btn-padding-x;
  grid-area: incident;
  display: flex;
}

.incident i {
  margin-right: 0.3em;
}

// Grid layout specifics
:host.grid {
  .status,
  .designation {
    align-self: start;
    margin-left: -$btn-padding-x;
    margin-top: -$btn-padding-y;
  }

  .incident {
    align-self: end;
    margin-left: -$btn-padding-x;
    margin-bottom: -$btn-padding-y;
  }

  .unconfirmed-absences {
    height: $presence-control-unconfimed-absences-size; // Always occupy space, even if hint is not present
  }
}

// List layout overrides
:host.list {
  grid-template-areas: "student-name incidentordesignation status";
  grid-template-columns: 1fr 2fr min-content;
  padding: 0.5rem 0.5rem 0.5rem 1rem; //  $spacer / 2;

  .incident,
  .designation {
    grid-area: incidentordesignation;
  }
  .designation {
    text-align: right;
  }
  .incident {
    margin-left: -$btn-padding-x;
  }

  @media (max-width: 750px) {
    grid-template-areas:
      "student-name status"
      "incidentordesignation incidentordesignation";
    grid-template-columns: 1fr min-content;
  }
}
