@import "../../../../bootstrap-variables";

:host {
  display: flex;
  padding: 2 * $spacer $spacer;
  background-color: $body-bg;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex: auto;
  overflow: hidden;
  justify-content: flex-end;
  align-content: flex-start;
}

.presence-category {
  text-decoration: none;
  padding: 0;
}

.presence-category i {
  position: relative;
  top: $btn-padding-y / 2;
}

:host.absent .presence-category {
  color: $absent-color;
}

:host.present .presence-category {
  color: $present-color;
}

:host.late .presence-category {
  color: $late-color;
}

.designation,
.student-name,
a.comment,
.comment span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.designation {
  text-align: right;
  flex-basis: 85%;
}

.status {
  padding-left: $spacer / 2;
}

.student-name {
  padding-top: $spacer;
  flex-basis: 100%;
  color: $body-color;
}

.comment {
  display: flex;
  flex-basis: 100%;
  color: rgba($body-color, 0.5);
  margin-top: $spacer;
}

.comment i {
  margin-right: 0.3em;
}

// List layout
:host.list {
  padding: $spacer / 2;

  .content {
    justify-content: space-between;
  }

  .designation,
  .comment {
    margin-top: 0;
  }

  .student-name {
    padding-top: 0;
    flex-basis: auto;
    order: -2;
  }

  .status {
    flex-basis: auto;
    order: -1;
    padding-bottom: 0;
  }

  .designation {
    flex-basis: 100%;
    text-align: right;
  }
}
