<bkd-avatar
  *ngIf="!isListViewMode"
  [studentId]="studentId$ | async"
  [link]="[
    '/presence-control/student',
    entry.lessonPresence.StudentRef.Id.toString(),
    'absences',
  ]"
  [linkParams]="profileReturnParams"
  class="avatar large"
></bkd-avatar>
<button
  type="button"
  *ngIf="entry.showDesignation"
  (click)="updatePresenceType(entry)"
  class="presence-category designation btn btn-link"
>
  <span *ngIf="!entry.presenceType?.IsIncident">{{
    entry.presenceType?.Designation
  }}</span>
</button>
<button
  *bkdLet="loading$ | async as statusLoading"
  type="button"
  (click)="updatePresenceType(entry)"
  class="presence-category status btn btn-link"
  [disabled]="statusLoading"
>
  <div class="position-relative">
    <i class="material-icons" [class.invisible]="statusLoading">{{
      entry.presenceCategoryIcon
    }}</i>
    <bkd-spinner *ngIf="statusLoading" class="inline small"></bkd-spinner>
  </div>
</button>
<button
  *ngIf="entry.precedingAbsences?.length || 0 > 0"
  type="button"
  (click)="showPrecedingAbsences(entry)"
  class="previously-absent d-flex btn btn-link"
>
  <i class="material-icons-outlined">info</i>
</button>
<a
  [routerLink]="['student', entry.lessonPresence.StudentRef.Id, 'absences']"
  [queryParams]="profileReturnParams"
  class="student-info"
>
  <span class="student-name text-truncate">{{
    entry.lessonPresence.StudentFullName
  }}</span>
  <span
    class="study-class text-truncate"
    *ngIf="isListViewMode && showClassName"
  >
    {{ entry.lessonPresence.StudyClassNumber }}
  </span>
  <span class="unconfirmed-absences">
    {{
      hasUnconfirmedAbsences
        ? ("presence-control.entry.unconfirmed-absences" | translate)
        : ""
    }}
  </span>
</a>
<a
  *ngIf="entry.canChangeIncident"
  class="incident btn btn-link"
  (click)="updateIncident(entry)"
>
  <i class="material-icons">edit</i>
  <span>{{
    (entry.presenceType?.IsIncident && entry.presenceType?.Designation) ||
      "presence-control.entry.incident" | translate
  }}</span>
</a>
