@import "src/bootstrap-variables";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  font-family: sans-serif;
  box-sizing: border-box;
  justify-content: center;
}

.chart-legend,
.x-axis-label {
  align-items: center;
}

.chart-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  overflow-y: hidden;
}

.chart {
  height: 100%;
  align-self: center;
  display: inline-flex;
}

svg {
  display: block;
  height: 100%;
}

.axis {
  stroke: $gray-700;
  stroke-width: 1;
}

.bar-sufficient {
  fill: $green;
}

.bar-insufficient {
  fill: $red;
}

.bar-label {
  font-weight: bold;
}

.no-data-message {
  text-align: center;
  padding: 20px;
}

.is-overflowing {
  align-self: flex-start;
}
