<div class="input-group">
  <span class="input-group-text"><i class="material-icons">search</i></span>
  <input
    [id]="id()"
    type="text"
    class="form-control"
    [attr.placeholder]="placeholder() | translate"
    [ngbTypeahead]="search"
    [inputFormatter]="format"
    [resultFormatter]="format"
    [ngModel]="selectedItem()"
    (ngModelChange)="onChange($event)"
  />
  @if (value()) {
    <button
      class="btn btn-link text-decoration-none"
      type="button"
      (click)="onChange($event)"
    >
      <i class="material-icons">clear</i>
    </button>
  }
</div>
@if (loading()) {
  <div class="spinner-container">
    <div class="spinner-border spinner-border-sm" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
}
