<div class="input-group">
  <span class="input-group-text" [id]="componentId"
    ><i class="material-icons">search</i></span
  >
  <input
    type="text"
    class="form-control"
    [attr.placeholder]="placeholder() | translate"
    [attr.aria-label]="placeholder() | translate"
    [attr.aria-describedby]="componentId"
    [ngbTypeahead]="search"
    [inputFormatter]="format"
    [resultFormatter]="format"
    [ngModel]="selectedItem$ | async"
    (ngModelChange)="modelChange($event)"
  />
  @if (value()) {
    <button
      class="btn btn-link text-decoration-none"
      type="button"
      (click)="modelChange($event)"
    >
      <i class="material-icons">clear</i>
    </button>
  }
</div>
@if (loading$ | async) {
  <div class="spinner-container">
    <div class="spinner-border spinner-border-sm" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
}
