@import "../../../../bootstrap-variables";

:host {
  display: block;
  position: relative;
}

.spinner-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0.75 * $spacer;
  display: flex;
  align-items: center;
  z-index: $zindex-dropdown + 1;
}
.spinner-border {
  color: $gray-600;
}

input {
  padding-right: 2.5em;
}

.input-group .btn {
  position: absolute;
  right: 0;
  z-index: 5;
}
