<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text" [id]="componentId"
      ><i class="material-icons">search</i></span
    >
  </div>
  <input
    type="text"
    class="form-control"
    [attr.placeholder]="placeholder | translate"
    [attr.aria-label]="placeholder | translate"
    [attr.aria-describedby]="componentId"
    [ngbTypeahead]="search"
    [inputFormatter]="format"
    [resultFormatter]="format"
    [ngModel]="selectedItem$ | async"
    (ngModelChange)="modelChange($event)"
  />
  <button
    *ngIf="value"
    class="btn btn-link text-decoration-none"
    type="button"
    (click)="modelChange($event)"
  >
    <i class="material-icons">clear</i>
  </button>
</div>
<div *ngIf="loading$ | async" class="spinner-container">
  <div class="spinner-border spinner-border-sm" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
