@let tests = state.filteredTests$ | async;
@let hasTests = state.hasTests$ | async;
@let studentGrades = state.studentGrades$ | async;

<div class="table-responsive-wrapper">
  <table
    class="table table-hover h-100"
    [ngClass]="{ 'test-point-grading': selectedTest?.IsPointGrading }"
    bkdTableHeaderSticky
    [inlineHeader]="inlineHeader"
    [stickyHeader]="stickyHeader"
  >
    <thead
      bkdTestsTableHeader
      [selectedTest]="selectedTest"
      (publish)="publish($event)"
      (unpublish)="unpublish($event)"
      #inlineHeader
    ></thead>
    <thead
      bkdTestsTableHeader
      [sticky]="true"
      [selectedTest]="selectedTest"
      (publish)="publish($event)"
      (unpublish)="unpublish($event)"
      #stickyHeader
    ></thead>
    <tbody>
      @for (
        studentGrade of studentGrades;
        track studentGrade.student.Id;
        let studentGradeIndex = $index
      ) {
        <tr>
          <td class="sticky student-name">
            <a [routerLink]="['student', studentGrade.student.Id, 'grades']">
              <div>{{ studentGrade.student.FullName }}</div>
              <div class="student-average-inline">
                {{ "tests.mean" | translate }}:
                {{ studentGrade.finalGrade.average | decimalOrDash: "1-3" }}
              </div>
            </a>
          </td>
          <td
            class="sticky student-grade"
            [ngClass]="{ selected: selectedTest === undefined }"
          >
            @if (studentGrade.finalGrade.finalGradeValue) {
              <div>
                {{ studentGrade.finalGrade.finalGradeValue }}
              </div>
            } @else {
              <bkd-grade-select
                [options]="state.gradingOptionsForCourse$() | async"
                [valueId]="studentGrade.finalGrade.gradeId ?? null"
                [gradeId]="studentGrade.finalGrade.gradingId ?? null"
                [disabled]="
                  (isEditFinalGradesAllowed(studentGrade) | async) === false
                "
                (gradeIdSelected)="state.overwriteFinalGrade($event)"
              ></bkd-grade-select>
            }
          </td>
          <td class="border-end sticky student-average">
            {{ studentGrade.finalGrade.average | decimalOrDash: "1-3" }}
          </td>
          @for (
            gradeEntry of getGrades(studentGrade);
            track gradeEntry.id;
            let gradeIndex = $index
          ) {
            @let grade = gradeEntry.grade;
            <td
              class="test-grade"
              [ngClass]="
                selectedTest !== undefined && grade.test.Id === selectedTest.Id
                  ? 'selected'
                  : ''
              "
            >
              <bkd-grade
                [grade]="grade"
                [gradeOptions]="
                  state.gradingOptionsForTest$(grade.test) | async
                "
                [student]="studentGrade.student"
                [hasFinalGrade]="!!studentGrade.finalGrade.finalGradeValue"
                [tabIndex]="(1 + gradeIndex) * 1000 + studentGradeIndex"
              ></bkd-grade>
            </td>
          }
          <td class="filler"></td>
        </tr>
      }
      <!-- course and test averages -->
      <tr>
        <td class="sticky student-name">
          <div class="d-flex flex-column">
            <div>{{ "tests.average" | translate }}</div>
            <div class="student-average-inline">
              {{ "tests.mean" | translate }}:
              {{
                state.meanOfStudentGradesForCourse$
                  | async
                  | decimalOrDash: "1-3"
              }}
            </div>
          </div>
        </td>
        <td
          class="desktop sticky student-grade"
          [ngClass]="{ selected: selectedTest === undefined }"
        >
          {{ state.meanOfFinalGradesForCourse$ | async | decimalOrDash: "1-3" }}
        </td>
        <td class="desktop border-end sticky student-average">
          {{
            state.meanOfStudentGradesForCourse$ | async | decimalOrDash: "1-3"
          }}
        </td>
        @for (test of tests; track test.Id) {
          <td
            class="test-grade"
            [ngClass]="
              test.Id === selectedTest?.Id || test.Id === selectedTest?.Id
                ? 'selected'
                : ''
            "
          >
            <bkd-average-grades [test]="test"></bkd-average-grades>
          </td>
        }
        <td class="filler"></td>
      </tr>
    </tbody>
  </table>
  <div class="action-buttons">
    @if (state.canSetFinalGrade$ | async) {
      <button
        data-testId="apply-average-button"
        class="apply-average-button btn btn-primary m-3"
        [ngClass]="{ 'visible-on-mobile': !hasTests || !selectedTest }"
        type="button"
        (click)="setAverageAsFinalGrade()"
      >
        {{ "tests.set-final-grade" | translate }}
      </button>
    }
  </div>
</div>
