<address>
  <ng-container *ngIf="company.apprenticeshipManager?.CompanyName"
    >{{ company.apprenticeshipManager?.CompanyName }}<br
  /></ng-container>
  <ng-container *ngIf="company.apprenticeshipManager?.CompanyNameAddition"
    >{{ company.apprenticeshipManager?.CompanyNameAddition }}<br
  /></ng-container>
  <ng-container
    *ngIf="
      company.apprenticeshipManager?.Lastname &&
      company.apprenticeshipManager?.Firstname
    "
  >
    {{ company.apprenticeshipManager.Lastname }}
    {{ company.apprenticeshipManager.Firstname }}<br />
  </ng-container>
  <ng-container *ngIf="company.apprenticeshipManager?.AddressLine1"
    >{{ company.apprenticeshipManager.AddressLine1 }}<br
  /></ng-container>
  <ng-container *ngIf="company.apprenticeshipManager?.AddressLine2"
    >{{ company.apprenticeshipManager.AddressLine2 }}<br
  /></ng-container>
  <ng-container
    *ngIf="
      company.apprenticeshipManager?.PostalCode &&
      company.apprenticeshipManager?.Location
    "
    >{{ company.apprenticeshipManager.PostalCode }}
    {{ company.apprenticeshipManager.Location }}<br
  /></ng-container>
  <ng-container *ngIf="company.apprenticeshipManager?.PhoneBusiness">
    <a href="tel:{{ company.apprenticeshipManager.PhoneBusiness }}"
      >{{ company.apprenticeshipManager.PhoneBusiness }}<br /></a
  ></ng-container>
  <ng-container *ngIf="company.apprenticeshipManager | erzPersonEmail">
    <a href="mailto:{{ company.apprenticeshipManager | erzPersonEmail }}">{{
      company.apprenticeshipManager | erzPersonEmail
    }}</a></ng-container
  >
</address>
<div class="subentry" *ngIf="company.apprenticeshipContract.ContractDateFrom">
  {{ 'shared.profile.apprenticeship-period' | translate }}:<br />

  {{ company.apprenticeshipContract.ContractDateFrom | date: 'dd.MM.yyyy' }}–{{
    company.apprenticeshipContract.ContractDateTo | date: 'dd.MM.yyyy'
  }}
</div>
<div *ngIf="company.jobTrainer" class="subentry">
  {{ 'shared.profile.job-trainer' | translate }}:
  <address>
    <ng-container
      *ngIf="company.jobTrainer.Lastname && company.jobTrainer.Firstname"
    >
      {{ company.jobTrainer.Lastname }}
      {{ company.jobTrainer.Firstname }}<br />
    </ng-container>
    <ng-container *ngIf="company.jobTrainer.PhoneBusiness">
      <a href="tel:{{ company.jobTrainer.PhoneBusiness }}"
        >{{ company.jobTrainer.PhoneBusiness }}<br /></a
    ></ng-container>
    <ng-container *ngIf="company.jobTrainer.PhoneMobile">
      <a href="tel:{{ company.jobTrainer.PhoneMobile }}"
        >{{ company.jobTrainer.PhoneMobile }}<br /></a
    ></ng-container>
    <ng-container *ngIf="company.jobTrainer | erzPersonEmail">
      <a href="mailto:{{ company.jobTrainer | erzPersonEmail }}">{{
        company.jobTrainer | erzPersonEmail
      }}</a></ng-container
    >
  </address>
</div>
