<div class="bkd-container bkd-container-limited">
  <h1>{{ "events-students.study-course-edit.title" | translate }}</h1>
  <div class="mb-3 pb-3 border-bottom">
    {{
      "events-students.study-course-edit.students-selected"
        | translate: { count: selectedIds().length }
    }}
  </div>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    @if (!statusUnique()) {
      <div class="alert alert-danger">
        {{ "events-students.study-course-edit.status-not-unique" | translate }}
      </div>
    } @else {
      <ul>
        @for (status of possibleStates(); track status.IdStatus) {
          <li>{{ status.Status }}</li>
        }
      </ul>
    }
    <div class="d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-outline-secondary"
        [disabled]="saving()"
        (click)="cancel()"
      >
        {{ "events-students.study-course-edit.cancel" | translate }}
      </button>
      <button
        type="submit"
        class="btn btn-primary ms-2"
        [disabled]="!statusUnique() || saving()"
      >
        {{ "events-students.study-course-edit.save" | translate }}
        @if (saving()) {
          <div
            class="spinner-border spinner-border-sm align-middle"
            role="status"
          >
            <span class="visually-hidden">Loading...</span>
          </div>
        }
      </button>
    </div>
  </form>
</div>
