<div class="bkd-container bkd-container-limited">
  <h1>{{ "events-students.study-course-edit.title" | translate }}</h1>
  <div class="mb-3 pb-3 border-bottom">
    {{
      "events-students.study-course-edit.students-selected"
        | translate: { count: selectedIds().length }
    }}
  </div>
  <form [formGroup]="formGroup()" (ngSubmit)="onSubmit()">
    @if (!isStatusUnique()) {
      <div class="alert alert-danger">
        {{ "events-students.study-course-edit.status-not-unique" | translate }}
      </div>
    } @else if (isTerminalStatus()) {
      <div class="alert alert-danger">
        {{
          "events-students.study-course-edit.status-terminal"
            | translate: { status: currentStatus()?.name }
        }}
      </div>
    } @else if (loading()) {
      <bkd-spinner></bkd-spinner>
    } @else {
      <div class="form-group pb-4">
        @for (status of availableStatus(); track status.id) {
          <div class="form-check my-3">
            <input
              type="radio"
              class="form-check-input"
              [id]="'status-' + status.id"
              formControlName="statusId"
              [value]="status.id"
            />
            <label class="form-check-label" [for]="'status-' + status.id">
              {{ status.name }}
            </label>
          </div>
        }
      </div>
    }
    <div class="d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-outline-secondary"
        [disabled]="saving()"
        (click)="onCancel()"
      >
        {{ "events-students.study-course-edit.cancel" | translate }}
      </button>
      <button
        type="submit"
        class="btn btn-primary ms-2"
        [disabled]="!canSave()"
      >
        {{ "events-students.study-course-edit.save" | translate }}
        @if (saving()) {
          <div
            class="spinner-border spinner-border-sm align-middle"
            role="status"
          >
            <span class="visually-hidden">Loading...</span>
          </div>
        }
      </button>
    </div>
  </form>
</div>
