@import "src/bootstrap-variables";

.filter-active::after {
  content: "";
  display: block;
  border-radius: 50%;
  background-color: $accent;
  width: 0.75rem;
  height: 0.75rem;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(25%, -25%);
}
