<ng-container *erzLet="{ formGroup } as data">
  <form
    *ngIf="data.formGroup"
    [formGroup]="data.formGroup"
    (ngSubmit)="onSubmit()"
  >
    <div class="form-row my-3">
      <div class="form-group col-md-6">
        <label for="designation">{{
          'tests.form.designation' | translate
        }}</label>
        <input
          id="designation"
          name="designation"
          type="text"
          formControlName="designation"
          class="form-control"
          [class.is-invalid]="(designationErrors$ | async)?.length > 0"
          [placeholder]="'tests.form.designation-placeholder' | translate"
          required
        />
        <div
          class="invalid-feedback"
          *ngFor="let error of designationErrors$ | async"
        >
          {{
            'global.validation-errors.' + error.error | translate: error.params
          }}
        </div>
      </div>

      <div class="form-group col-md-6">
        <label for="date">{{ 'tests.form.date' | translate }}</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" [id]="componentId"
              ><i class="material-icons">calendar_today</i></span
            >
          </div>
          <input
            id="date"
            name="date"
            type="text"
            class="form-control"
            [class.is-invalid]="(dateErrors$ | async)?.length > 0"
            ngbDatepicker
            [placeholder]="'shared.date-select.default-placeholder' | translate"
            #dp="ngbDatepicker"
            (click)="dp.toggle()"
            formControlName="date"
            required
          />
          <div
            class="invalid-feedback"
            *ngFor="let error of dateErrors$ | async"
          >
            {{
              'global.validation-errors.' + error.error
                | translate: error.params
            }}
          </div>
        </div>
      </div>
    </div>

    <label>{{ 'tests.form.weight' | translate }}</label>
    <div class="form-row mb-3">
      <div class="col-md-6">
        <div class="form-group row">
          <label for="factor" class="col-3 col-sm-2">{{
            'tests.form.factor' | translate
          }}</label>
          <div class="col-9 col-sm-10">
            <input
              id="factor"
              name="factor"
              type="number"
              formControlName="weight"
              [class.is-invalid]="(weightErrors$ | async)?.length > 0"
              class="form-control"
              step="0.05"
              min="0"
              required
            />
            <div
              class="invalid-feedback"
              *ngFor="let error of weightErrors$ | async"
            >
              {{
                'global.validation-errors.' + error.error
                  | translate: error.params
              }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <label>{{ 'tests.form.grading-type' | translate }}</label>
    <div class="form-group mb-3">
      <div class="form-check">
        <input
          type="radio"
          class="form-check-input"
          formControlName="isPointGrading"
          id="type-grades"
          [value]="false"
        />
        <label for="type-grades" class="form-check-label">{{
          'tests.form.grades' | translate
        }}</label>
      </div>
      <div class="form-check">
        <input
          type="radio"
          class="form-check-input"
          formControlName="isPointGrading"
          id="type-points"
          [value]="true"
        />
        <label for="type-points" class="form-check-label">{{
          'tests.form.points' | translate
        }}</label>
      </div>

      <ng-container *ngIf="data.formGroup.get('isPointGrading').value">
        <div class="form-row ml-4 mb-3">
          <div class="col-sm-6 col-md-4">
            <div class="form-group row">
              <label for="max-points" class="col-4 col-form-label">{{
                'tests.form.max-points' | translate
              }}</label>
              <div class="col-6">
                <input
                  type="number"
                  name="maxPoints"
                  id="max-points"
                  formControlName="maxPoints"
                  class="form-control"
                  [class.is-invalid]="(maxPointsErrors$ | async)?.length > 0"
                  step="0.01"
                  min="0"
                  required
                />
                <div
                  class="invalid-feedback"
                  *ngFor="let error of maxPointsErrors$ | async"
                >
                  {{
                    'global.validation-errors.' + error.error
                      | translate: error.params
                  }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="form-group row">
              <label for="max-points-adjusted" class="col-4 col-form-label">{{
                'tests.form.max-points-adjusted' | translate
              }}</label>
              <div class="col-6">
                <input
                  type="number"
                  name="maxPointsAdjusted"
                  id="max-points-adjusted"
                  formControlName="maxPointsAdjusted"
                  class="form-control"
                  step="0.01"
                  min="0"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="ml-4 pl-2">
          <math>
            <mi>
              {{ 'tests.form.math.grade' | translate }}
            </mi>
            <mo>=</mo>
            <mfrac>
              <mrow>
                <mi>
                  {{ 'tests.form.math.points' | translate }}
                </mi>
                <mo>×</mo><mn>5</mn>
              </mrow>
              <mi>{{ 'tests.form.math.max-points' | translate }}</mi>
            </mfrac>
            <mo>+</mo><mn>1</mn>
          </math>
        </div>
      </ng-container>
    </div>

    <div class="d-flex justify-content-end mt-4">
      <button
        type="button"
        class="btn btn-secondary"
        [disabled]="saving"
        [routerLink]="['/events', courseId$ | async, 'tests']"
      >
        {{ 'tests.form.cancel' | translate }}
      </button>
      <button type="submit" class="btn btn-primary ml-2" [disabled]="saving">
        {{ 'tests.form.save' | translate }}
        <div
          *ngIf="saving"
          class="spinner-border spinner-border-sm align-middle"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </button>
    </div>
  </form>
</ng-container>
