@import "../../../../../bootstrap-variables";

:host {
  display: flex;
  align-items: center;
  width: 100%;
}

h1 {
  margin: 0;
  display: flex;
  align-items: baseline;

  // Make sure top of text is nicely aligned with top of foto
  line-height: 1;
  margin-top: -3px;
}

.additional-info {
  color: $gray-500;
}

.gender {
  margin-left: 0.8ch;
}
