<div class="d-flex flex-column w-100">
  <erz-backlink [link]="link" [params]="queryParams">
    <ng-content></ng-content>
  </erz-backlink>
  <div class="d-flex flex-row align-items-start">
    <erz-avatar [studentId]="studentId" class="me-3 medium"></erz-avatar>
    <div class="d-flex flex-column">
      <h1>{{ student ? student.FullName : studentName }}</h1>
      <div *ngIf="student" class="additional-info">
        <span class="birthday">{{
          student.Birthdate | date: "dd.MM.yyyy"
        }}</span
        ><span class="gender">({{ student.Gender }})</span>
      </div>
    </div>
  </div>
</div>
