.notifications-popup {
  position: fixed;
  margin-top: 20px; // position from top
  right: 12px; // position from right
  z-index: 1000;
}

/* Popup border triangle */
.notifications-popup:after,
.notifications-popup:before {
  right: 11px; // position from right
  top: -20px; // position from top
}

// used to enable scrollbar for popup-data (notifications), when view port height is small
.notifications-popup-data {
  max-height: calc(100vh - 145px); // 145px ≃ distance to popup-data from top
  overflow: auto;
}

.notifications-bell {
  color: white;
  font-size: 45px;
}

.notifications-bell-hidden {
  color: #ccc;
}

.notifications-bell-counter {
  position: absolute;
  top: 20px; // position from top
  right: 10px; // position from right
}
