/* You can add global styles to this file, and also import other style files */

// Include selected bootstrap components
@import "bootstrap";

// Material Icons font
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

// ngx-toastr
@import "~ngx-toastr/toastr-bs4-alert";

// Shared application styles
@import "src/app/shared/styles/typography";
@import "src/app/shared/styles/container";
@import "src/app/shared/styles/table";
@import "src/app/shared/styles/form";
@import "src/app/shared/styles/datepicker";
@import "src/app/shared/styles/icons";
