@import "../../../../../bootstrap-variables";
@import "node_modules/bootstrap/scss/mixins";

:host {
  display: block;
  min-height: 350px; // Make sure the confirmation modal can be fully rendered
}

.header {
  align-items: center;
}

@include media-breakpoint-down(md) {
  .header {
    flex-direction: column;
    align-items: start;
  }

  .actions {
    align-self: end;
    margin-top: $spacer;
  }
}

td.value {
  max-width: 120ch;
}
