@import "../../../../bootstrap-variables";

form > div:first-child {
  border-bottom: 1px solid $gray-200;
  padding-bottom: $spacer;
  margin-bottom: $spacer;
}

form > div {
  padding-bottom: $spacer * 0.5;
  padding-top: $spacer * 0.5;
}
