<div class="erz-container erz-container-padding-y">
  <ng-container *erzLet="profile$ | async as profile">
    <ng-container *ngIf="!(detailService.loading$ | async); else loading">
      <erz-presence-control-back
        class="mb-2"
        [studentId]="studentId$ | async"
        [student]="profile && profile.student"
      ></erz-presence-control-back>

      <div class="detail-content" *ngIf="profile; else noProfile">
        <div class="detail-entry">
          <address>
            {{ profile.student.AddressLine1 }}<br />
            <ng-container *ngIf="profile.student.AddressLine2"
              >{{ profile.student.AddressLine2 }}<br
            /></ng-container>
            {{ profile.student.PostalCode }} {{ profile.student.Location
            }}<br />
            <ng-container *ngIf="profile.student.PhonePrivate"
              ><a href="tel:{{ profile.student.PhonePrivate }}">{{
                profile.student.PhonePrivate
              }}</a
              ><br
            /></ng-container>
            <a href="tel:{{ profile.student.PhoneMobile }}">{{
              profile.student.PhoneMobile
            }}</a
            ><br />
            <a href="mailto:{{ profile.student.DisplayEmail }}">{{
              profile.student.DisplayEmail
            }}</a>
          </address>
        </div>

        <ngb-accordion ngb-accordion #acc="ngbAccordion">
          <ngb-panel
            *ngFor="
              let legalPerson of profile.legalRepresentativePersons;
              let i = index
            "
            [id]="'detail-entry-' + i"
          >
            <ng-template ngbPanelHeader let-opened="opened">
              <div
                (click)="acc.toggle('detail-entry-' + i)"
                class="detail-entry-header d-flex align-items-center justify-content-between"
              >
                <h5 class="m-0">
                  {{
                    'presence-control.detail.legal-representation' | translate
                  }}
                  <ng-container
                    *ngIf="profile.legalRepresentativePersons > 1"
                    >{{ i + 1 }}</ng-container
                  >
                </h5>
                <button type="button" class="btn btn-link p-0">
                  <div class="d-flex align-items-center">
                    <i class="material-icons">{{
                      opened ? 'keyboard_arrow_down' : 'keyboard_arrow_up'
                    }}</i>
                  </div>
                </button>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <div class="detail-entry">
                <address>
                  {{ legalPerson.LastName }} {{ legalPerson.FirstName }}<br />
                  <ng-container *ngIf="legalPerson.AddressLine1"
                    >{{ legalPerson.AddressLine1 }}<br
                  /></ng-container>
                  <ng-container *ngIf="legalPerson.AddressLine2"
                    >{{ legalPerson.AddressLine2 }}<br
                  /></ng-container>
                  <ng-container *ngIf="legalPerson.Zip && legalPerson.Zip"
                    >{{ legalPerson.Zip }} {{ legalPerson.Location }}<br
                  /></ng-container>
                  <ng-container *ngIf="legalPerson.PhonePrivate">
                    <a href="tel:{{ legalPerson.PhonePrivate }}"
                      >{{ legalPerson.PhonePrivate }}<br /></a
                  ></ng-container>
                  <ng-container *ngIf="legalPerson.PhoneMobile">
                    <a href="tel:{{ legalPerson.PhoneMobile }}"
                      >{{ legalPerson.PhoneMobile }}<br /></a
                  ></ng-container>
                  <ng-container *ngIf="legalPerson.DisplayEmail">
                    <a href="mailto:{{ legalPerson.DisplayEmail }}">{{
                      legalPerson.DisplayEmail
                    }}</a></ng-container
                  >
                </address>
              </div>
            </ng-template>
          </ngb-panel>

          <ngb-panel
            *ngFor="
              let apprenticeshipCompany of profile.apprenticeshipCompanies;
              let i = index
            "
            [id]="
              'detail-entry-' + (i + profile.legalRepresentativePersons.length)
            "
          >
            <ng-template ngbPanelHeader let-opened="opened">
              <div
                (click)="
                  acc.toggle(
                    'detail-entry-' +
                      (i + profile.legalRepresentativePersons.length)
                  )
                "
                class="detail-entry-header d-flex align-items-center justify-content-between"
              >
                <h5 class="m-0">
                  {{
                    'presence-control.detail.apprenticeship-company' | translate
                  }}
                  <ng-container
                    *ngIf="profile.apprenticeshipCompanies.length > 1"
                    >{{ i + 1 }}</ng-container
                  >
                </h5>
                <button type="button" class="btn btn-link p-0">
                  <div class="d-flex align-items-center">
                    <i class="material-icons">{{
                      opened ? 'keyboard_arrow_down' : 'keyboard_arrow_up'
                    }}</i>
                  </div>
                </button>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <div class="detail-entry">
                <address>
                  <ng-container
                    *ngIf="
                      apprenticeshipCompany.apprenticeshipContract.CompanyName
                    "
                    >{{
                      apprenticeshipCompany.apprenticeshipContract.CompanyName
                    }}<br
                  /></ng-container>
                  <ng-container
                    *ngIf="
                      apprenticeshipCompany.apprenticeshipManagerPerson
                        .LastName &&
                      apprenticeshipCompany.apprenticeshipManagerPerson
                        .FirstName
                    "
                  >
                    {{
                      apprenticeshipCompany.apprenticeshipManagerPerson.LastName
                    }}
                    {{
                      apprenticeshipCompany.apprenticeshipManagerPerson
                        .FirstName
                    }}<br />
                  </ng-container>
                  <ng-container
                    *ngIf="
                      apprenticeshipCompany.apprenticeshipManagerPerson
                        .AddressLine1
                    "
                    >{{
                      apprenticeshipCompany.apprenticeshipManagerPerson
                        .AddressLine1
                    }}<br
                  /></ng-container>
                  <ng-container
                    *ngIf="
                      apprenticeshipCompany.apprenticeshipManagerPerson
                        .AddressLine2
                    "
                    >{{
                      apprenticeshipCompany.apprenticeshipManagerPerson
                        .AddressLine2
                    }}<br
                  /></ng-container>
                  <ng-container
                    *ngIf="
                      apprenticeshipCompany.apprenticeshipManagerPerson.Zip &&
                      apprenticeshipCompany.apprenticeshipManagerPerson.Zip
                    "
                    >{{
                      apprenticeshipCompany.apprenticeshipManagerPerson.Zip
                    }}
                    {{
                      apprenticeshipCompany.apprenticeshipManagerPerson
                        .Location
                    }}<br
                  /></ng-container>
                  <ng-container
                    *ngIf="
                      apprenticeshipCompany.apprenticeshipManagerPerson
                        .PhoneBusiness
                    "
                  >
                    <a
                      href="tel:{{
                        apprenticeshipCompany.apprenticeshipManagerPerson
                          .PhoneBusiness
                      }}"
                      >{{
                        apprenticeshipCompany.apprenticeshipManagerPerson
                          .PhoneBusiness
                      }}<br /></a
                  ></ng-container>
                  <ng-container
                    *ngIf="
                      apprenticeshipCompany.apprenticeshipManagerPerson
                        .DisplayEmail
                    "
                  >
                    <a
                      href="mailto:{{
                        apprenticeshipCompany.apprenticeshipManagerPerson
                          .DisplayEmail
                      }}"
                      >{{
                        apprenticeshipCompany.apprenticeshipManagerPerson
                          .DisplayEmail
                      }}</a
                    ></ng-container
                  >
                </address>
                <div class="detail-subentry">
                  {{
                    'presence-control.detail.apprenticeship-period' | translate
                  }}:<br />

                  {{
                    apprenticeshipCompany.apprenticeshipContract
                      .ApprenticeshipDateFrom | date: 'dd.MM.yyyy'
                  }}–{{
                    apprenticeshipCompany.apprenticeshipContract
                      .ApprenticeshipDateTo | date: 'dd.MM.yyyy'
                  }}
                </div>
                <div class="detail-subentry">
                  {{ 'presence-control.detail.job-trainer' | translate }}:
                  <address>
                    {{ apprenticeshipCompany.jobTrainerPerson.LastName }}
                    {{ apprenticeshipCompany.jobTrainerPerson.FirstName }}<br />
                    <ng-container
                      *ngIf="
                        apprenticeshipCompany.jobTrainerPerson.PhoneBusiness
                      "
                    >
                      <a
                        href="tel:{{
                          apprenticeshipCompany.jobTrainerPerson.PhoneBusiness
                        }}"
                        >{{
                          apprenticeshipCompany.jobTrainerPerson.PhoneBusiness
                        }}<br /></a
                    ></ng-container>
                    <ng-container
                      *ngIf="apprenticeshipCompany.jobTrainerPerson.PhoneMobile"
                    >
                      <a
                        href="tel:{{
                          apprenticeshipCompany.jobTrainerPerson.PhoneMobile
                        }}"
                        >{{ apprenticeshipCompany.jobTrainerPerson.PhoneMobile
                        }}<br /></a
                    ></ng-container>
                    <ng-container
                      *ngIf="
                        apprenticeshipCompany.jobTrainerPerson.DisplayEmail
                      "
                    >
                      <a
                        href="mailto:{{
                          apprenticeshipCompany.jobTrainerPerson.DisplayEmail
                        }}"
                        >{{
                          apprenticeshipCompany.jobTrainerPerson.DisplayEmail
                        }}</a
                      ></ng-container
                    >
                  </address>
                </div>
              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>

      <ng-template #noProfile>
        <p>{{ 'presence-control.detail.no-profile' | translate }}</p>
      </ng-template>
    </ng-container>

    <ng-template #loading>
      <erz-spinner></erz-spinner>
    </ng-template>
  </ng-container>
</div>
