@import "../../../../bootstrap-variables";

.detail {
  padding-top: $spacer;
  max-width: 500px;
  margin: 0 auto;
}

.detail-header {
  padding-bottom: 2 * $spacer;
}

.detail-header-back {
  padding-left: 0;
  color: $body-color;
}

.detail-entry {
  padding: 0 $spacer;
}

.detail-entry-header {
  padding: $spacer;
  border-top: 1px solid $gray-200;
  cursor: pointer;
}

.detail-entry-header button {
  color: $body-color;
  text-decoration: none;
}

.detail-subentry {
  padding-bottom: $spacer;
}
