@import "src/bootstrap-variables";
@import "node_modules/bootstrap/scss/mixins";

.point-input-container {
  width: 4em;
}

:host ::ng-deep select {
  width: 127px; // 13ch
}

@include media-breakpoint-up(sm) {
  .point-input-container {
    width: 5em;
  }
}
