@import "../../../../../bootstrap-variables";

:host {
  display: flex;
  align-items: start;
  width: 100%;
}

.student-name {
  margin: 0;
  display: flex;
  align-items: baseline;

  font-weight: 300;
  letter-spacing: 0.01rem;
  word-spacing: 0.025rem;
  font-size: 24px;
  line-height: 28px;

  // Make sure top of text is nicely aligned with top of foto
  margin-top: -3px;
}

.additional-info {
  color: $gray-600;
  font-size: 0.75;
  font-weight: 400;
}

.gender {
  margin-left: 0.8ch;
}
