@import "../../../../bootstrap-variables";

th {
  cursor: pointer;
}

th:first-child,
td:first-child {
  width: 2 * $table-cell-padding + 1.25rem;
}

td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.student-name {
  color: $body-color;
}

.lessons-count,
.days-ago {
  color: $gray-500;
}

.date {
  color: $gray-600;
}

.lessons-count,
.days-ago {
  font-size: $font-size-sm;
}
