@import "../../../../bootstrap-variables";

/* autoprefixer grid: autoplace */

:host ::ng-deep > *:not(router-outlet) {
  max-width: none;
}

.header-search input.form-control {
  max-width: 700px;
}

.absence-header {
  cursor: pointer;
  padding: 0.5em 0;
  background: $gray-200;
  display: grid;
  grid-template: "checkbox name date" / 50px 4fr 2fr;
}

.absence-entry {
  padding: 1em 0;
  border-bottom: 1px solid $gray-200;
  display: grid;
  grid-template: "checkbox name lessons-count days-ago date" / 50px 3fr 1fr 1fr 1fr;
}

.checkbox {
  padding: 0.25em 0 0 1em;
  grid-area: checkbox;
}

.checkbox input.form-check-input {
  margin: 0;
}

.name {
  grid-area: name;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.name a {
  color: $body-color;
}

.lessons-count {
  grid-area: lessons-count;
}

.days-ago {
  color: $gray-600;
  grid-area: days-ago;
}

.date {
  grid-area: date;
}

@media (max-width: 750px) {
  :host ::ng-deep > *:not(router-outlet) {
    padding: 0;
  }

  .header {
    padding-left: $spacer;
    padding-right: $spacer;
  }

  .absence-header {
    grid-template: "checkbox name date" / 50px 3fr 2fr;
  }

  .absence-entry {
    grid-template:
      "checkbox name date"
      "checkbox lessons-count days-ago" / 50px 3fr 2fr;
  }

  .days-ago,
  .lessons-count {
    font-size: $font-size-sm;
    color: $gray-500;
  }
}
