<div
  class="header pl-3 d-flex align-items-center justify-content-between"
  *erzLet="selectionService.selection$ | async as selection"
>
  <div class="selection-count">
    {{ 'open-absences.selected' | translate: { count: selection.length } }}
  </div>
  <a
    class="edit btn btn-link"
    [class.disabled]="selection.length === 0"
    routerLink="/open-absences/edit"
  >
    <i class="material-icons">edit</i>
  </a>
</div>

<table
  class="table table-fixed"
  *erzLet="openAbsencesService.sortCriteria$ | async as sortCriteria"
>
  <thead>
    <tr>
      <th></th>
      <th
        *ngFor="let key of ['name', 'date']"
        (click)="openAbsencesService.toggleSort(key)"
      >
        {{ 'open-absences.list.header.' + key | translate }}
        <span class="sort-direction">{{
          getSortDirectionCharacter(sortCriteria, key)
        }}</span>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let entry of openAbsencesService.entries$ | async">
      <td (click)="onCheckboxCellClick($event, checkbox)">
        <input
          #checkbox
          type="checkbox"
          class="form-control"
          [checked]="selectionService.isSelected$(entry) | async"
          (change)="selectionService.toggle(entry)"
        />
      </td>
      <td>
        <a
          class="student-name"
          [routerLink]="['detail', entry.studentId, entry.dateString]"
          >{{ entry.studentFullName }}</a
        >
        <div class="lessons-count">
          {{
            getLessonsCountKey(entry) | translate: { count: entry.lessonsCount }
          }}
        </div>
      </td>
      <td>
        <div class="date">{{ entry.date | date: 'dd.MM.yyyy' }}</div>
        <div class="days-ago">
          {{
            getDaysDifferenceKey(entry)
              | translate: { count: entry.daysDifferenceAbsolute }
          }}
        </div>
      </td>
    </tr>
  </tbody>
</table>
