@import "../../../../bootstrap-variables";

.content {
  padding-left: $spacer;
  padding-right: $spacer;
}

.header-search {
  max-width: 500px;
}

.edit {
  line-height: 1;
  font-size: $erz-icon-size;
}

.absence-header {
  cursor: pointer;
  padding: $spacer;
  display: grid;
  grid-template-areas: "checkbox name date";
  grid-template-columns: min-content 5fr 1fr;
  border-top: 1px solid $border-color;
  border-bottom: 2px solid $border-color;
  align-items: center;
}

.absence-entry {
  padding: $spacer;
  border-bottom: 1px solid $border-color;
  display: grid;
  grid-template-areas: "checkbox name study-class lessons-count days-ago date";
  grid-template-columns: min-content 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
}

.checkbox {
  align-self: start;
  grid-area: checkbox;
  margin: 0;
  padding: 0.3rem $spacer 0 0;
}

.checkbox input.form-check-input {
  // Make the following statements !important since the are
  // overwritten in Evento as such
  position: static !important;
  margin: 0 !important;
  display: block;
}

.name {
  grid-area: name;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.lessons-count {
  grid-area: lessons-count;
}

.study-class {
  grid-area: study-class;
}

.study-class-lessons-count {
  grid-area: study-class-lessons-count;
  display: none;
}

.days-ago {
  color: $gray-600;
  grid-area: days-ago;
}

.date {
  grid-area: date;
}

@media (max-width: 750px) {
  .content {
    padding-left: 0;
    padding-right: 0;
  }

  .absence-header {
    grid-template-areas: "checkbox name date";
    grid-template-columns: min-content 3fr 2fr;
  }

  .absence-entry {
    grid-template-areas:
      "checkbox name date"
      "checkbox study-class-lessons-count days-ago";
    grid-template-columns: min-content 3fr 2fr;
  }

  .study-class-lessons-count {
    display: block;
  }

  .study-class,
  .lessons-count {
    display: none;
  }

  .days-ago,
  .study-class-lessons-count {
    font-size: $font-size-sm;
    color: $gray-500;
  }
}
