.spinner-container {
  text-align: center;
  :host:not(.inline) {
    top: -131px;
    min-height: 200px;
  }
}

.spinner-border {
  width: 3rem;
  height: 3rem;
  :host:not(.inline) {
    margin-top: 100px;
  }
}
