.spinner-container {
  text-align: center;
  :host:not(.inline) & {
    top: -131px;
    min-height: 200px;
  }
}

.spinner-border {
  width: 4rem;
  height: 4rem;

  :host:not(.inline) & {
    margin-top: 100px;
  }
}
